{% extends "layouts/default.html" %}
{% set pageTitle = 'Dịch vụ thiết lập vận hành gian hàng lazada' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/service6.html" %}
{% endblock %}
