{% extends "layouts/default.html" %}
{% set pageTitle = 'Tuyển Dụng Nhân Viên Sale Marketing' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/recruitment-detail.html" %}
{% endblock %}
