<div class="specialBlock_8">
    <div class="container">
        <div class="titleBlock_2">
            <p class="text_1">5 BƯỚC ĐƠN GIẢN</p>
            <p class="text_2">Để đưa doanh nghiệp của bạn lên Google Tìm Kiếm</p>
        </div>
        <div class="row">
            <div class="smallBlock">
                <div class="wrapText">
                    <p class="text_1">BƯỚC 1</p>
                    <p class="text_2">Quý khách đăng ký và cung cấp thông tin chạy quảng cáo.</p>
                    <div class="btnRegister">
                        <a class="btnType_1 contactCallPopUp" contacttext="Gọi điện" data-target="#popupWhenClickContact" data-toggle="modal" data="phone" datahref="tel:0934014388" idgoogleget="btn_phone_id" target="_blank" title="Liên hệ">TÔI ĐĂNG KÝ</a>
                    </div>
                </div>
            </div>
            <div class="smallBlock">
                <div class="wrapText">
                    <p class="text_1">BƯỚC 2</p>
                    <p class="text_2">Làm hợp đồng (nếu khách hàng cần).</p>
                    <p class="text_2">Khách hàng chuyển khoản phí dịch vụ cho chúng tôi.</p>
                </div>
            </div>
            <div class="smallBlock">
                <div class="wrapText">
                    <p class="text_1">BƯỚC 3</p>
                    <p class="text_2">Liên kết tài khoản và gắn mã theo dõi chuyển đổi, tiếp thị lại.</p>
                </div>
            </div>
            <div class="smallBlock">
                <div class="wrapText">
                    <p class="text_1">BƯỚC 4</p>
                    <p class="text_2">Chạy quảng cáo, theo dõi tối ưu hàng ngày.</p>
                </div>
            </div>
            <div class="smallBlock">
                <div class="wrapText">
                    <p class="text_1">BƯỚC 5</p>
                    <p class="text_2">Gửi báo cáo và đánh giá kết quả chạy.</p>
                </div>
            </div>
        </div>
    </div>
</div>