<div class="FAQBlock">
    <div class="container">
        <h3 class="titleFAQ">NHỮNG CÂU HỎI THƯỜNG GẶP</h3>
        <div class="blockQuestion">
            <div class="QandAPart">
                <i aria-hidden="true" class="fa fa-caret-right"></i>
                <p class="question">Tại sao nên sử dụng dịch vụ SEO của Fago agency</p>
                <div class="data_contents answer getTableOfContentBlock">
                    <p>Fago agency là đơn vị tiên phong trong việc SEO tổng thể cam kết từ khóa - Hoàn lại tiền theo % KPI không đạt được thể hiện ngay trong Hợp Đồng ký kết;</p>
                    <p>Chúng tôi không chỉ cam kết từ khóa, Chúng tôi muốn bạn có doanh thu bền vững. Dịch vụ này tạo ra dành cho doanh nghiệp nhỏ và siêu nhỏ;</p>
                    <p>Đều là những người kinh doanh, chúng tôi hiểu rõ SEO chỉ là 1 kênh tìm kiếm doanh thu, nhưng SEO chính là 1 kênh bền vững nếu doanh nghiệp biết cách khai thác;</p>
                </div>
            </div>
            <div class="QandAPart">
                <i aria-hidden="true" class="fa fa-caret-right"></i>
                <p class="question">Thời gian SEO bao lâu thì sẽ thấy rõ hiệu quả?</p>
                <div class="data_contents answer getTableOfContentBlock">
                    <p>Có rất nhiều yếu tố để ảnh hưởng đến hiệu quả của SEO. Tuy nhiên các yếu tố chính ảnh hưởng đó là:</p>
                    <p>- Tuổi thọ của domain</p>
                    <p>- Độ cạnh tranh của bộ từ khóa</p>
                    <p>- Cấu trúc website đã chuẩn SEO hay chưa</p>
                    <p>Với dịch vụ SEO, Fago Agency thường thấy kết quả trong vòng 5 đến 6 tháng. Từ khóa cạnh tranh hơn thì thời gian kéo dài hơn.</p>
                </div>
            </div>
            <div class="QandAPart">
                <i aria-hidden="true" class="fa fa-caret-right"></i>
                <p class="question">Sau khi SEO website lên top, có cần phải duy trì việc SEO không?</p>
                <div class="data_contents answer getTableOfContentBlock">
                    <p>Thường với khách hàng sử dụng dịch vụ SEO của Fago agency thì lên Top bền vững. vì chúng tôi tập trung vào nội tại của website bao gồm: Onpage và chất lượng content chứ không sử dụng nhiều link để kéo top từ khóa. Vì vậy sau khi lên top, web chỉ cần 1 khoản phí nhỏ bằng 20% - 30% phí dịch vụ để Fago agency có thể giữ top cho bạn khỏi những đối thủ vẫn còn làm SEO</p>
                </div>
            </div>
            <div class="QandAPart">
                <i aria-hidden="true" class="fa fa-caret-right"></i>
                <p class="question">Nên SEO web với domain cũ hay domain mới?</p>
                <div class="data_contents answer getTableOfContentBlock">
                    <p>Trước khi sử dụng dịch vụ SEO của Fago Agency. Chúng tôi sẽ phân tích về lịch sử domain, Nếu domain đã bị phạt hoặc lịch sử cho thấy sẽ bị google phạt thì chúng tôi sẽ tư vấn làm với Domain mới</p>
                </div>
            </div>
            <div class="QandAPart">
                <i aria-hidden="true" class="fa fa-caret-right"></i>
                <p class="question">Fago Agency có cam kết top từ khóa không?</p>
                <div class="data_contents answer getTableOfContentBlock">
                    <p>Có</p>
                    <p>Fago Agency cam kết top từ khóa(Top 1 - Top 5) và hoàn lại tiền theo % KPI không đạt được</p>
                </div>
            </div>
            <div class="QandAPart">
                <i aria-hidden="true" class="fa fa-caret-right"></i>
                <p class="question">Sử dụng dịch vụ SEO của Fago Agency sẽ thanh toán như thế nào?</p>
                <div class="data_contents answer getTableOfContentBlock">
                    <p>Sau khi đã chốt bộ từ khóa. Sẽ ký HD 12 tháng. Nhưng sẽ thanh toán 1 tháng/lần</p>
                    <p>3 tháng sẽ review KPI 1 lần. và sẽ hoàn tiền theo % KPI không đạt được hoặc gia hạn HD thêm 1 tháng - 2 tháng không tính phí đến khi đạt KPI</p>
                </div>
            </div>
        </div>
    </div>
</div>