<div class='footerFagoAgency container-fluid'>
    <div class='footerBlock_1'>
        <div class='container expandWidth_1'>
            <p class='titleBlock'>ĐĂNG KÝ YÊU CẦU GỌI LẠI</p>
            <form class='contact-form dang-ky' target=''>
                <div class='form_row_fix'>
                    <div class='form-group col-md-6 col-12'>
                        <input class='form-control' id='name1' name='name' placeholder='Họ tên *' type='text'>
                        <p class='noteWarning val-name1'></p>
                    </div>
                    <div class='form-group col-md-6 col-12'>
                        <input class='form-control' id='phone1' name='phone' placeholder='Điện thoại *' type='text'>
                        <p class='noteWarning val-phone1'></p>
                    </div>
                </div>
                <div class='btnSent btn-submit1'>
                    <button type="submit" class='btnType_1'>ĐĂNG KÝ</button>
                </div>
            </form>
        </div>
    </div>
    <div class='footerMapBlock'>
        <div class='wrapIframeMap'>
            <div class='iframeMap'>
                <iframe allowfullscreen='' height='450' loading='lazy' src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1453906314687!2d106.6461289499879!3d10.800174592267641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752949d314758f%3A0x49d5d7998ccee7e0!2zMjYvMSBOZ3V54buFbiBNaW5oIEhvw6BuZywgUGjGsOG7nW5nIDEyLCBUw6JuIELDrG5oLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1646039395859!5m2!1svi!2s' style='border:0;' width='600'></iframe>
            </div>
        </div>
        <div class='wrapIframeMap'>
            <div class='iframeMap'>
                <iframe allowfullscreen='' height='450' loading='lazy' src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1862.6260571950831!2d105.81050390810908!3d20.982528698294345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acebff2861d1%3A0x13a293c16d1b09bf!2zMTAyIEhvw6BuZyDEkOG6oW8gVGjDoG5oLCBLaW0gR2lhbmcsIFRoYW5oIFh1w6JuLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1645757524753!5m2!1svi!2s' style='border:0;' width='600'></iframe>
            </div>
        </div>
    </div>
    <div class='footerBlock_2'>
        <div class='bgCoverOver'></div>
        <div class='container containerFix expandWidth_1'>
            <div class='row'>
                <div class='smallBlock_1'>
                    <img alt='fago' class='logoPart' src='./assets/img/mjbv3uizfg5v1rysoifa6zjwhqh6_logo.webp'>
                    <p class='titleCol'>CỘNG TY TNHH GIẢI PHÁP THƯƠNG MẠI FAGO AGENCY</p>
                    <p class='text text_1'>Giấy chứng nhận đăng ký kinh doanh: 0110257262</p>
                    <p class='text text_1'>Ngày cấp: 20/02/2023.</p>
                    <p class='text text_1'>Nơi cấp: Sở Kế Hoạch Đầu Tư Thành phố HN</p>
                    <div class='textPart'>
                        <p class='text text_1 location'>2A/51/102 Hoàng Đạo Thành, Quận Thanh xuân, Hà Nội</p>
                        <p class='text text_1 location'>HCM: 26/1 Nguyễn Minh Hoàng, phường 12, Q.Tân Bình.</p>
                        <a class='text text_1 phone contactCallPopUp contactCallPopUpPhone' contactText='Gọi điện' data-target='#popupWhenClickContact' data-toggle='modal' data='phone' dataHref='tel:0934014388' idGoogleGet='btn_phone_id' title='Liên hệ'>0934014388</a>
                        <a class='text text_1 mail contactCallPopUp' contactText='Gửi email' data-target='#popupWhenClickContact' data-toggle='modal' data='mail' dataHref='mailto:sale@fagogroup.vn' idGoogleGet='btn_mail_id' title='Liên hệ'>sale@fagogroup.vn</a>
                    </div>
                    <div class='imgPart_1'>
                        <a class='dmca-badge' href='' target='_blank' title='DMCA.com Protection Status'>
                            <img alt='DMCA.com Protection Status' src='./assets/img/dmca_protected_16_120.png'>
                        </a>
                        <a href='#'><img alt='BCT' src='./assets/img/BCT.png'></a>
                    </div>
                </div>
                <div class='smallBlock_2'>
                    <H6 class='titleCol'>DỊCH VỤ</H6>
                    <a class='text text_2' href='/fago/build/cham-soc-website'>DỊCH VỤ CHĂM SÓC WEBSITE - CONTENT WEBSITE CHUẨN SEO</a>
                    <a class='text text_2' href='/fago/build/thiet-ke-website'>Dịch Vụ Thiết Kế Website Chuẩn SEO</a>
                    <a class='text text_2' href='/fago/build/dich-vu-seo'>Dịch Vụ SEO</a>
                    <a class='text text_2' href='/fago/build/dich-vu-seo-shopee'>Dịch vụ SEO Shopee và vận hành Shopee</a>
                    <a class='text text_2' href='/fago/build/dich-vu-quang-cao-google'>Dịch Vụ Quảng Cáo Google Ads</a>
                    <a class='text text_2' href='/fago/build/dich-vu-ban-hang-lazada'>Dịch Vụ Xây Dựng Và Vận Hành Gian Hàng TMĐT Lazada</a>
                    <a class='text text_2' href='/fago/build/dich-vu-quang-cao-facebook'>Dịch Vụ Quảng Cáo Facebook Ads</a>
                    <a class='text text_2' href='/fago/build/dich-vu-xay-dung-thuong-hieu'>Dịch Vụ Thiết Kế Bộ Nhận Diện Thương Hiệu</a>
                    <div class='socialArea'>
                        <p class='titleSocial'>THEO DÕI CHÚNG TÔI</p>
                        <div class='socialBlock_2'>
                            <a class='wrapSocialPart' href='https://www.facebook.com/fagoagency' target='_blank' title='facebook'>
                                <div class='imgSocialPart'>
                                    <img alt='facebook' src='./assets/img/faceItem_1.svg'>
                                </div>
                            </a>
                            <a class='wrapSocialPart' href='#' target='_blank' title='youtube'>
                                <div class='imgSocialPart'>
                                    <img alt='youtube' src='./assets/img/youtube_1.svg'>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class='smallBlock_2'>
                    <H6 class='titleCol'>CHÍNH SÁCH</H6>
                    <a class='text text_2' href=''>Chính sách bảo mật</a>
                    <a class='text text_2' href=''>Chính sách thanh toán</a>
                    <a class='text text_2' href=''>Chính sách bảo hành dịch vụ</a>
                    <a href='https://www.google.com/partners/agency?id=2513318447' target='_blank'>
                        <img src='https://www.gstatic.com/partners/badge/images/2022/PartnerBadgeClickable.svg' style='width:100%;margin-top:20px'>
                    </a>
                </div>
                <div class='smallBlock_3'>
                    <H6 class='titleCol'>KẾT NỐI VỚI CHÚNG TÔI</H6>
                    <div class='fanpagePart'>
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffagoagency%2F&tabs=timeline&width=340&height=130&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='footerEndPage'>
        <div class='container'>
            <p class='text'>Công Ty TNHH Giải Pháp Thương Mại FAGO AGENCY 2019</p>
        </div>
    </div>
</div>

<div aria-hidden='true' class='modal fade popupAskContact' id='popupWhenClickContact' role='dialog'>
    <div class='modal-dialog modal-dialog-centered' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <p class='modal-title'>KẾT NỐI</p>
                <button aria-label='Close' class='close' data-dismiss='modal' type='button'>
                    <span aria-hidden='true'>×</span>
                </button>
            </div>
            <div class='modal-body'>
                Bạn có muốn kết nối với tư vấn viên của chúng tôi?
            </div>
            <div class='modal-footer'>
                <a class='btnType_4 btnFinish' data-dismiss='modal'>Hủy</a>
                <a class='btnType_4 btnContact' href='' rel='nofollow' target='_blank'></a>
            </div>
        </div>
    </div>
</div>
<div aria-hidden='true' class='modal fade popupAskContactShowTwoElement' id='popupWhenClickContactShowTwoElement'>
    <div class='modal-dialog modal-dialog-centered' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <p class='modal-title'>KẾT NỐI</p>
                <button aria-label='Close' class='close' data-dismiss='modal' type='button'>
                    <span aria-hidden='true'>×</span>
                </button>
            </div>
            <div class='modal-body'>
                Bạn có muốn kết nối với Fago Agency?
            </div>
            <div class='modal-footer'>
                <a class='btnType_4 btnContact chooseContact choosePhone' href='tel:0934014388' rel='nofollow' target='_blank'>Hồ Chí Minh: 0934014388</a>
                <a class='btnType_4 btnContact chooseContact choosePhone' href='tel:0948231189' rel='nofollow' target='_blank'>Hà Nội: 0948231189</a>
                <a class='btnType_4 btnContact chooseContact chooseZalo' href='https://zalo.me/2434381232640938548' id='btn_zalo_id_hcm' rel='nofollow' target='_blank'>Zalo Hồ Chí Minh</a>
                <a class='btnType_4 btnContact chooseContact chooseZalo' href='https://zalo.me/0948231189' id='btn_zalo_id_hn' rel='nofollow' target='_blank'>Zalo Hà Nội</a>
                <a class='btnType_4 btnFinish' data-dismiss='modal'>Hủy</a>
            </div>
        </div>
    </div>
</div>