<div class='fourColNumberBlock'>
    <div class='row rowFix'>
        <div class='smallBlock smallBlock_1'>
            <div class='wrapContentCenter'>
                <div class='imgPart'>
                    <img alt='item' src='./assets/img/item_1.svg'>
                </div>
                <div class='textPart'>
                    <p class='text_1 pTagSmallBlock_1' value='500'>0</p>
                    <p class='text_2 wk-editable-text' id='home-text-49'>KHÁCH HÀNG</p>
                </div>
            </div>
        </div>
        <div class='smallBlock smallBlock_2'>
            <div class='wrapContentCenter'>
                <div class='imgPart'>
                    <img alt='item' src='./assets/img/item_2.svg'>
                </div>
                <div class='textPart'>
                    <p class='text_1 pTagSmallBlock_2' value='300'>0</p>
                    <p class='text_2 wk-editable-text' id='home-text-50'>WEBSITE ĐƯỢC TỐI ƯU</p>
                </div>
            </div>
        </div>
        <div class='smallBlock smallBlock_3'>
            <div class='wrapContentCenter'>
                <div class='imgPart'>
                    <img alt='item' src='./assets/img/item_3.svg'>
                </div>
                <div class='textPart'>
                    <p class='text_1 pTagSmallBlock_3' value='100%'>0</p>
                    <p class='text_2 wk-editable-text' id='home-text-51'>HÀI LÒNG</p>
                </div>
            </div>
        </div>
        <div class='smallBlock smallBlock_4'>
            <div class='wrapContentCenter'>
                <div class='imgPart'>
                    <img alt='item' src='./assets/img/item_4.svg'>
                </div>
                <div class='textPart'>
                    <p class='text_1 pTagSmallBlock_4' value='9'>0</p>
                    <p class='text_2 wk-editable-text' id='home-text-52'>NĂM KINH NGHIỆM</p>
                </div>
            </div>
        </div>
    </div>
</div>