<div class='galleryBlock'>
    <div class='container'>
        <div class='titleBlock_1'>
            <div class='d-none'>
                <H2 class='wk-editable-text' id='home-text-53'>Hình ảnh HOẠT ĐỘNG CỦA FAGO AGENCY</H2>
            </div>
            <p class='text_1 text_cent wk-editable-text' id='home-text-54'>Hình ảnh</p>
            <p class='text_2 text_cent wk-editable-text' id='home-text-55'>HOẠT ĐỘNG CỦA FAGO AGENCY</p>
            <div class='underline m-auto'></div>
        </div>
        <div class='owl-carousel owl-theme owlGalleryBlock'>
            <div class='wrapImgPart'>
                <div class='imgPart figure2'>
                    <img alt='gallery' src='./assets/img/22k0kobihpkmnz3y550wmphsp85u_e3b85dfc80825fdc06933.jpg'>
                </div>
            </div>
            <div class='wrapImgPart'>
                <div class='imgPart figure2'>
                    <img alt='gallery' src='./assets/img/miq8wrrn4z1gbcdjjnciyebb95go_ae8b67f2ba8c65d23c9d4.jpg'>
                </div>
            </div>
            <div class='wrapImgPart'>
                <div class='imgPart figure2'>
                    <img alt='gallery' src='./assets/img/bwxc60nqencnndha8sim6tcrj2b1_5640f1222c5cf302aa4d5.jpg'>
                </div>
            </div>
            <div class='wrapImgPart'>
                <div class='imgPart figure2'>
                    <img alt='gallery' src='./assets/img/khbb8lfbjfo7raa5j91xpbrw4njs_430ca22a7f54a00af94510.jpg'>
                </div>
            </div>
            <div class='wrapImgPart'>
                <div class='imgPart figure2'>
                    <img alt='gallery' src='./assets/img/xsr8qiuj1rohesgrx99n8ev0s3az_8c83c0d81da6c2f89bb72.jpg'>
                </div>
            </div>
            <div class='wrapImgPart'>
                <div class='imgPart figure2'>
                    <img alt='gallery' src='./assets/img/7xemtwjc330shm19r11txtgf5962_7d8890f94d8792d9cb961.jpg'>
                </div>
            </div>
            <div class='wrapImgPart'>
                <div class='imgPart figure2'>
                    <img alt='gallery' src='./assets/img/basf71xqpyyz6qbsbhnwkdokrlxv_1c535569881757490e069.jpg'>
                </div>
            </div>
            <div class='wrapImgPart'>
                <div class='imgPart figure2'>
                    <img alt='gallery' src='./assets/img/033rd519vxf8mjbvgr8zjhbaac7s_1ddb0ed5d3ab0cf555ba8.jpg'>
                </div>
            </div>
        </div>
    </div>
</div>