<div class="menuFagoAgency container-fluid">
    <div class="menuFagoAgency_DESK">
        <div class="menuLine_1">
            <div class="bgUnderMenuTopDesk"></div>
            <div class="container containerFix">
                <div class="row">
                    <div class="logoPart">
                        <a class="imgPart" href="/fago/build/home" title="home"><img alt="fago" src="./assets/img/mjbv3uizfg5v1rysoifa6zjwhqh6_logo.webp"></a>
                    </div>
                    <div class="menuPart">
                        <div class="menuItem">
                            <a class="link1" href="/fago/build/home" title="home"><p class="text">TRANG CHỦ</p></a>
                        </div>
                        <div class="menuItem">
                            <a class="link1" href="/fago/build/gioi-thieu"><p class="text">GIỚI THIỆU</p></a>
                        </div>
                        <div class="menuItem dropDown">
                            <a href="" class="link1"><p class="text">DỊCH VỤ</p></a>
                            <ul class="blockLevel2">
                                <li>
                                    <a class="link2" href="/fago/build/cham-soc-website">Dịch Vụ Chăm Sóc Website - Content Website Chuẩn SEO</a>
                                </li>
                                <li>
                                    <a class="link2" href="/fago/build/thiet-ke-website">Dịch Vụ Thiết Kế Website Chuẩn SEO</a>
                                </li>
                                <li>
                                    <a class="link2" href="/fago/build/dich-vu-seo">Dịch Vụ SEO</a>
                                </li>
                                <li>
                                    <a class="link2" href="/fago/build/dich-vu-seo-shopee">Dịch vụ SEO Shopee và vận hành Shopee</a>
                                </li>
                                <li>
                                    <a class="link2" href="/fago/build/dich-vu-quang-cao-google">Dịch Vụ Quảng Cáo Google Ads</a>
                                </li>
                                <li>
                                    <a class="link2" href="/fago/build/dich-vu-ban-hang-lazada">Dịch Vụ Xây Dựng Và Vận Hành Gian Hàng TMĐT Lazada</a>
                                </li>
                                <li>
                                    <a class="link2" href="/fago/build/dich-vu-quang-cao-facebook">Dịch Vụ Quảng Cáo Facebook Ads</a>
                                </li>
                                <li>
                                    <a class="link2" href="/fago/build/dich-vu-xay-dung-thuong-hieu">Dịch Vụ Thiết Kế Bộ Nhận Diện Thương Hiệu</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menuItem dropDown">
                            <a class="link1" href="/fago/build/tuyen-dung"><p class="text">TUYỂN DỤNG</p></a>
                            <ul class="blockLevel2">
                                <li>
                                    <a class="link2" href="/fago/build/chuong-trinh-tuyen-dung">Chương Trình Tuyển Dụng Internship Program For Future Leaders</a>
                                </li>
                                <li>
                                    <a class="link2" href="/fago/build/tuyen-dung-chi-tiet">Tuyển Dụng Nhân Viên Sale Marketing(Account Executive)</a>
                                </li>
                                <li>
                                    <a class="link2" href="">Tuyển Dụng Thực Tập Sinh Vị Trí Sale Marketing</a>
                                </li>
                                <li>
                                    <a class="link2" href="">Tuyển Dụng Nhân Viên Digital Marketing</a>
                                </li>
                                <li>
                                    <a class="link2" href="">Tuyển Dụng Thực Tập Sinh Digital Marketing</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menuItem">
                            <a class="link1" href="/fago/build/lien-he">
                                <p class="text">LIÊN HỆ</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menuFagoAgency_MOBILE">
        <div class="menuLine1">
            <div class="container">
                <div class="row rowFix">
                    <a choosecontact="choosePhone" class="smallPart contactCallPopUpShowTwoElement" data-target="#popupWhenClickContactShowTwoElement" data-toggle="modal">
                        <i aria-hidden="true" class="fa fa-phone"></i>
                        <p class="text">Liên hệ</p>
                    </a>
                    <a class="smallPart contactCallPopUp" contacttext="Gửi email" data-target="#popupWhenClickContact" data-toggle="modal" data="mail" datahref="mailto:sale@fagogroup.vn" idgoogleget="btn_mail_id" title="Liên hệ">
                        <i aria-hidden="true" class="fa fa-envelope"></i>
                        <p class="text">sale@fagogroup.vn</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="menuEndPage">
            <div class="container">
                <div class="row">
                    <div class="homePart smallPart">
                        <a class="aTag" href="/" title="home">
                            <img alt="homeItem" class="homePartImg" src="./assets/img/home_2.svg">
                        </a>
                        <p class="textUnderItem">Trang chủ</p>
                    </div>
                    <div class="messFacePart smallPart">
                        <a class="aTag contactCallPopUp" contacttext="Chat Facebook" data-target="#popupWhenClickContact" data-toggle="modal" datahref="https://m.me/102945625359639" idgoogleget="btn_messenger_id" rel="nofollow" title="Liên hệ">
                            <img alt="messengerItem" class="messFacePartImg" src="./assets/img/messenger_2.svg">
                        </a>
                        <p class="textUnderItem">Messenger</p>
                    </div>
                    <div class="phonePart centerPart">
                        <a choosecontact="choosePhone" class="contactCallPopUpShowTwoElement" data-target="#popupWhenClickContactShowTwoElement" data-toggle="modal">
                            <img alt="phoneItem" class="phonePartImg" src="./assets/img/phone_2.svg">
                        </a>
                    </div>
                    <div class="zaloPart smallPart">
                        <a choosecontact="chooseZalo" class="aTag contactCallPopUpShowTwoElement" data-target="#popupWhenClickContactShowTwoElement" data-toggle="modal">
                            <img alt="Zalo" class="zaloPartImg" src="./assets/img/zalo_2.png">
                        </a>
                        <p class="textUnderItem">Zalo</p>
                    </div>
                    <div class="barsPart smallPart">
                        <a class="aTag aTagBars">
                            <img alt="danh_muc" class="barsPartImg" src="./assets/img/bars_2.png">
                        </a>
                        <p class="textUnderItem">Danh mục</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="blockCateMobile">
            <div class="container">
                <div class="wrapCateParts">
                    <div class="catePart">
                        <a class="link1" href="/fago/build/home" title="home">TRANG CHỦ</a>
                    </div>
                    <div class="catePart">
                        <a class="link1" href="/fago/build/gioi-thieu">GIỚI THIỆU</a>
                    </div>
                    <div class="catePart dropMore">
                        <a class="link1">DỊCH VỤ</a>
                        <i aria-hidden="true" class="fa fa-angle-right faFix"></i>
                        <i aria-hidden="true" class="fa fa-angle-down faFix"></i>
                        <ul class="blockLevel2">
                            <li>
                                <a class="link2" href="/fago/build/cham-soc-website">Dịch Vụ Chăm Sóc Website - Content Website Chuẩn SEO</a>
                            </li>
                            <li>
                                <a class="link2" href="/fago/build/thiet-ke-website">Dịch Vụ Thiết Kế Website Chuẩn SEO</a>
                            </li>
                            <li>
                                <a class="link2" href="/fago/build/dich-vu-seo">Dịch Vụ SEO</a>
                            </li>
                            <li>
                                <a class="link2" href="/fago/build/dich-vu-seo-shopee">Dịch vụ SEO Shopee và vận hành Shopee</a>
                            </li>
                            <li>
                                <a class="link2" href="/fago/build/dich-vu-quang-cao-google">Dịch Vụ Quảng Cáo Google Ads</a>
                            </li>
                            <li>
                                <a class="link2" href="/fago/build/dich-vu-ban-hang-lazada">Dịch Vụ Xây Dựng Và Vận Hành Gian Hàng TMĐT Lazada</a>
                            </li>
                            <li>
                                <a class="link2" href="/fago/build/dich-vu-quang-cao-facebook">Dịch Vụ Quảng Cáo Facebook Ads</a>
                            </li>
                            <li>
                                <a class="link2" href="/fago/build/dich-vu-xay-dung-thuong-hieu">Dịch Vụ Thiết Kế Bộ Nhận Diện Thương Hiệu</a>
                            </li>
                        </ul>
                    </div>
                    <div class="catePart dropMore">
                        <a class="link1" href="/fago/build/tuyen-dung">TUYỂN DỤNG</a>
                        <i aria-hidden="true" class="fa fa-angle-right faFix"></i>
                        <i aria-hidden="true" class="fa fa-angle-down faFix"></i>
                        <ul class="blockLevel2">
                            <li>
                                <a class="link2" href="/fago/build/tuyen-dung">Chương Trình Tuyển Dụng Internship Program For Future Leaders</a>
                            </li>
                            <li>
                                <a class="link2" href="/fago/build/chuong-trinh-tuyen-dung">Tuyển Dụng Nhân Viên Sale Marketing(Account Executive)</a>
                            </li>
                            <li>
                                <a class="link2" href="/fago/build/tuyen-dung-chi-tiet">Tuyển Dụng Thực Tập Sinh Vị Trí Sale Marketing</a>
                            </li>
                            <li>
                                <a class="link2" href="">Tuyển Dụng Nhân Viên Digital Marketing</a>
                            </li>
                            <li>
                                <a class="link2" href="">Tuyển Dụng Thực Tập Sinh Digital Marketing</a>
                            </li>
                        </ul>
                    </div>
                    <div class="catePart">
                        <a class="link1" href="/fago/build/lien-he">LIÊN HỆ</a>
                    </div>
                </div>
                <div class="hideBlock">
                    <i aria-hidden="true" class="fa fa-times xItem"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Desktop_3" id="contactBtnBlock">
    <div class="smallBlock messengerBlock">
        <a class="imgPart contactCallPopUp" contacttext="Chat Facebook" data-target="#popupWhenClickContact" data-toggle="modal" datahref="https://m.me/102945625359639" idgoogleget="btn_messenger_id" rel="nofollow" target="_blank" title="messenger">
            <img alt="messenger" class="messFacePartImg" src="./assets/img/fkbga71og36jz8tb2fuqm8aym0o8_messenger_item_2.png">
        </a>
        <p class="textPart">Chat Face</p>
    </div>
    <div class="smallBlock zaloBlock">
        <a choosecontact="chooseZalo" class="imgPart contactCallPopUpShowTwoElement" data-target="#popupWhenClickContactShowTwoElement" data-toggle="modal">
            <img alt="zalo" class="zaloPartImg" src="./assets/img/clgzlhlhxr86v4jvha72gaump20j_zalo_item_2.png">
        </a>
        <p class="textPart">Chat Zalo</p>
    </div>
    <div class="smallBlock phoneBlock">
        <a class="imgPart contactCallPopUp contactCallPopUpPhone" contacttext="Gọi điện" data-target="" data-toggle="modal" data="phone" datahref="tel:0934014388" idgoogleget="btn_phone_id" target="_blank" title="Liên hệ">
            <img alt="phone" class="phonePartImg" src="./assets/img/mgwcfphmr0m841myx60gyuozdy6x_phone_item_2.svg">
        </a>
        <p class="textPart">Phone</p>
        <div class="textPart_2">
            <p>
                Hồ Chí Minh:
                <b>0934014388</b>
            </p>
            <p>
                Hà Nội:
                <b>0948231189</b>
            </p>
        </div>
    </div>
</div>
<div id="pageUpBlock">
    <div class="pageUp hidePageUp">
        <i aria-hidden="true" class="pageUpImg fa fa-angle-up" title="Về đầu trang"></i>
    </div>
</div>