<div class='magazineBlock'>
    <div class='container'>
        <div class='titleBlock_1'>
            <div class='d-none'>
                <h2 class='wk-editable-text'>BÁO CHÍ NÓI VỀ CHÚNG TÔI</h2>
            </div>
            <p class='text_1 text_cent wk-editable-text'>BÁO CHÍ</p>
            <p class='text_2 text_cent wk-editable-text'>NÓI VỀ CHÚNG TÔI</p>
            <div class='underline m-auto'></div>
        </div>
        <div class='owl-carousel owl-theme owlMagazineBlock'>
            <div class='smallBlock'>
                <div class='logoPart figure2'>
                    <img alt='magazine' src='./assets/img/logo_cafebiz.jpg'>
                </div>
                <a class='aTagMagazine' href='#' rel='nofollow' target='_blank'>
                    <div class='picMagazine figure2' title='magazine'>
                        <img alt='magazine' src='./assets/img/cafebiz.webp'>
                    </div>
                </a>
            </div>
            <div class='smallBlock'>
                <div class='logoPart figure2'>
                    <img alt='magazine' src='./assets/img/logo_ha_noi_moi.png'>
                </div>
                <a class='aTagMagazine' href='#' rel='nofollow' target='_blank'>
                    <div class='picMagazine figure2' title='magazine'>
                        <img alt='magazine' src='./assets/img/hanoimoi.webp'>
                    </div>
                </a>
            </div>
            <div class='smallBlock'>
                <div class='logoPart figure2'>
                    <img alt='magazine' src='./assets/img/logo_24h.png'>
                </div>
                <a class='aTagMagazine' href='#' rel='nofollow' target='_blank'>
                    <div class='picMagazine figure2' title='magazine'>
                        <img alt='magazine' src='./assets/img/24h.webp'>
                    </div>
                </a>
            </div>
            <div class='smallBlock'>
                <div class='logoPart figure2'>
                    <img alt='magazine' src='./assets/img/logo_dan_tri_1.png'>
                </div>
                <a class='aTagMagazine' href='#' rel='nofollow' target='_blank'>
                    <div class='picMagazine figure2' title='magazine'>
                        <img alt='magazine' src='./assets/img/dantri.webp'>
                    </div>
                </a>
            </div>
            <div class='smallBlock'>
                <div class='logoPart figure2'>
                    <img alt='magazine' src='./assets/img/logo_dat_viet.jpeg'>
                </div>
                <a class='aTagMagazine' href='#' rel='nofollow' target='_blank'>
                    <div class='picMagazine figure2' title='magazine'>
                        <img alt='magazine' src='./assets/img/bao-dat-viet.webp'>
                    </div>
                </a>
            </div>
        </div>
        <div class='btnViewAll'>
            <a class='btnType_1 wk-editable-text'>Xem tất cả</a>
        </div>
    </div>
</div>