<div class='staffTeamBlock'>
    <div class='container'>
        <div class='titleBlock_1'>
            <H2 class='text_2 text_cent wk-editable-text'>ĐỘI NGŨ NHÂN SỰ</H2>
            <div class='underline m-auto'></div>
        </div>
        <p class='descriptionPart wk-editable-text'>Với đội ngủ trẻ và nhiệt huyết, đa lĩnh vực đã tham gia và làm việc theo mục tiêu. Toàn bộ đội ngũ Fago agency luôn bám mục tiêu giúp đỡ doanh nghiệp bạn trong quá trình khai phá doanh thu trên online .</p>
        <div class='wrap-founder'>
            <div class='titleBlock'>
                <p class='text_1 wk-editable-text'>ĐỘI NGŨ FOUNDER</p>
                <div class='underline'></div>
            </div>
            <div class='row row-fix'>
                <div class='col-lg-3 col-md-4 col-sm-6 col-6 col-fix'>
                    <div class='wrapDetailStaffBlock'>
                        <a class='detailStaffBlock' href=''>
                            <div class='wrapImg'>
                                <div class='imgPart figure1'>
                                    <img alt='fagoagency' src='./assets/img/tuan-anh-1.webp'>
                                </div>
                            </div>
                            <div class='textPart'>
                                <p class='nameText'>Lê Văn Tuấn Anh</p>
                                <div class='iconPart'></div>
                                <p class='positionText'>CEO</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-6 col-fix'>
                    <div class='wrapDetailStaffBlock'>
                        <a class='detailStaffBlock' href=''>
                            <div class='wrapImg'>
                                <div class='imgPart figure1'>
                                    <img alt='fagoagency' src='./assets/img/nam.jpg'>
                                </div>
                            </div>
                            <div class='textPart'>
                                <p class='nameText'>Bùi Đức Nam</p>
                                <div class='iconPart'></div>
                                <p class='positionText'>COO</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-6 col-fix'>
                    <div class='wrapDetailStaffBlock'>
                        <a class='detailStaffBlock' href=''>
                            <div class='wrapImg'>
                                <div class='imgPart figure1'>
                                    <img alt='fagoagency' src='./assets/img/long.jpg'>
                                </div>
                            </div>
                            <div class='textPart'>
                                <p class='nameText'>Nguyễn Hoàng Long</p>
                                <div class='iconPart'></div>
                                <p class='positionText'>Head of Sale</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-6 col-fix'>
                    <div class='wrapDetailStaffBlock'>
                        <a class='detailStaffBlock' href=''>
                            <div class='wrapImg'>
                                <div class='imgPart figure1'>
                                    <img alt='fagoagency' src='./assets/img/CEO.webp'>
                                </div>
                            </div>
                            <div class='textPart'>
                                <p class='nameText'>Hoàng Tiến Cường</p>
                                <div class='iconPart'></div>
                                <p class='positionText'>Consultant</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-6 col-fix d-none'>
                    <div class='wrapDetailStaffBlock'>
                        <a class='detailStaffBlock' href=''>
                            <div class='wrapImg'>
                                <div class='imgPart figure1'>
                                    <img alt='fagoagency' src='./assets/img/hung.jpg'>
                                </div>
                            </div>
                            <div class='textPart'>
                                <p class='nameText'>Nguyễn Việt Hưng</p>
                                <div class='iconPart'></div>
                                <p class='positionText'>CTO</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-6 col-fix d-none'>
                    <div class='wrapDetailStaffBlock'>
                        <a class='detailStaffBlock' href='#'>
                            <div class='wrapImg'>
                                <div class='imgPart figure1'>
                                    <img alt='fagoagency' src='./assets/img/manh.jpg'>
                                </div>
                            </div>
                            <div class='textPart'>
                                <p class='nameText'>Hoàng Tiến Mạnh</p>
                                <div class='iconPart'></div>
                                <p class='positionText'>Project Manages</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <a class='btnViewMorePeople'>Xem thêm</a>
        </div>
        <div class='wrap-staff'>
            <div class='titleBlock'>
                <p class='text_1 wk-editable-text' id='home-text-47'>ĐỘI NGŨ NHÂN SỰ</p>
                <div class='underline'></div>
            </div>
            <div class='row row-fix'>
                <div class='col-lg-3 col-md-4 col-sm-6 col-6 col-fix'>
                    <div class='wrapDetailStaffBlock'>
                        <a class='detailStaffBlock' href='#'>
                            <div class='wrapImg'>
                                <div class='imgPart figure1'>
                                    <img alt='fagoagency' src='./assets/img/HungIT.webp'>
                                </div>
                            </div>
                            <div class='textPart'>
                                <p class='nameText'>Nguyễn Văn Hùng</p>
                                <div class='iconPart'></div>
                                <p class='positionText'>DEV</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-6 col-fix'>
                    <div class='wrapDetailStaffBlock'>
                        <a class='detailStaffBlock' href='#'>
                            <div class='wrapImg'>
                                <div class='imgPart figure1'>
                                    <img alt='fagoagency' src='./assets/img/nguyen_thanh_hue.webp'>
                                </div>
                            </div>
                            <div class='textPart'>
                                <p class='nameText'>Nguyễn Thanh Huệ</p>
                                <div class='iconPart'></div>
                                <p class='positionText'>Design UI/UX</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-6 col-fix'>
                    <div class='wrapDetailStaffBlock'>
                        <a class='detailStaffBlock' href='#'>
                            <div class='wrapImg'>
                                <div class='imgPart figure1'>
                                    <img alt='fagoagency' src='./assets/img/trinh.jpg'>
                                </div>
                            </div>
                            <div class='textPart'>
                                <p class='nameText'>Lê Đình Trình</p>
                                <div class='iconPart'></div>
                                <p class='positionText'>DEV</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-6 col-fix'>
                    <div class='wrapDetailStaffBlock'>
                        <a class='detailStaffBlock' href='#'>
                            <div class='wrapImg'>
                                <div class='imgPart figure1'>
                                    <img alt='fagoagency' src='./assets/img/huyen.jpg'>
                                </div>
                            </div>
                            <div class='textPart'>
                                <p class='nameText'>Nguyễn Mạnh Huyên</p>
                                <div class='iconPart'></div>
                                <p class='positionText'>DEV</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-6 col-fix d-none'>
                    <div class='wrapDetailStaffBlock'>
                        <a class='detailStaffBlock' href='#'>
                            <div class='wrapImg'>
                                <div class='imgPart figure1'>
                                    <img alt='fagoagency' src='./assets/img/Son.webp'>
                                </div>
                            </div>
                            <div class='textPart'>
                                <p class='nameText'>Nguyễn Duy Sơn</p>
                                <div class='iconPart'></div>
                                <p class='positionText'>SEO</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-6 col-fix d-none'>
                    <div class='wrapDetailStaffBlock'>
                        <a class='detailStaffBlock' href='#'>
                            <div class='wrapImg'>
                                <div class='imgPart figure1'>
                                    <img alt='fagoagency' src='./assets/img/vu_duy_hoang.webp'>
                                </div>
                            </div>
                            <div class='textPart'>
                                <p class='nameText'>Nguyễn Duy Hoàng</p>
                                <div class='iconPart'></div>
                                <p class='positionText'>Sale</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-6 col-fix d-none'>
                    <div class='wrapDetailStaffBlock'>
                        <a class='detailStaffBlock' href='#'>
                            <div class='wrapImg'>
                                <div class='imgPart figure1'>
                                    <img alt='fagoagency' src='./assets/img/Hung.webp'>
                                </div>
                            </div>
                            <div class='textPart'>
                                <p class='nameText'>Đỗ Hưng</p>
                                <div class='iconPart'></div>
                                <p class='positionText'>SEO</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-6 col-fix d-none'>
                    <div class='wrapDetailStaffBlock'>
                        <a class='detailStaffBlock' href='#'>
                            <div class='wrapImg'>
                                <div class='imgPart figure1'>
                                    <img alt='fagoagency' src='./assets/img/nhan.jpeg'>
                                </div>
                            </div>
                            <div class='textPart'>
                                <p class='nameText'>Hoàng Nhân</p>
                                <div class='iconPart'></div>
                                <p class='positionText'>SEO</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class='col-lg-3 col-md-4 col-sm-6 col-6 col-fix d-none'>
                    <div class='wrapDetailStaffBlock'>
                        <a class='detailStaffBlock' href='#'>
                            <div class='wrapImg'>
                                <div class='imgPart figure1'>
                                    <img alt='fagoagency' src='./assets/img/Kim_cuong.webp'>
                                </div>
                            </div>
                            <div class='textPart'>
                                <p class='nameText'>Trần Kim Cương</p>
                                <div class='iconPart'></div>
                                <p class='positionText'>SEO</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <a class='btnViewMorePeople'>Xem thêm</a>
        </div>
    </div>
</div>