<div class="container-fluid fixMenuSpecial contactFagoAgency">
    <div class="breadcrumbsBlock">
        <div class="container containerFix">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumbFix">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Liên hệ </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="contactBlock_2">
        <div class="container">
            <div class="row">
                <div class="formPersonnalInfor">
                    <div class="textPart">
                        <div class="titleBlock_1">
                            <p class="text_2">THÔNG TIN LIÊN HỆ</p>
                            <div class="underline"></div>
                        </div>
                        <a href="tel:0934014388">
                            <p class="text1">Quý khách hàng cá nhân có thể liên hệ số hotline:0934014388 để được giải đáp mọi thắc mắc một cách nhanh chóng.</p>
                        </a>
                        <p class="text1">
                            <i class="boldText">* Lưu ý:</i> Các phần có dấu <i style="color: red;">(*)</i> là những thông tin nhất thiết điền vào. Xin cảm ơn Quý Khách.
                        </p>
                    </div>
                    <div class="formDeTtin">
                        <form class="contact-form lien-he" target="" novalidate="novalidate">
                            <input type="hidden" name="" value="" autocomplete="off">
                            <input type="hidden" name="form" id="form" value="lien-he" autocomplete="off">
                            <div class="form-group">
                                <input class="form-control" name="name" placeholder="Họ tên *" type="text">
                                <div class="noti-name20"></div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="phone" placeholder="Điện thoại *" type="text">
                                <div class="noti-phone4"></div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="email" placeholder="Email *" type="text">
                                <div class="noti-email20"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="note" placeholder="Nội dung" rows="6"></textarea>
                                <div class="noti-message4"></div>
                            </div>
                            <div class="btnSend btn-submit4">
                                <button class="btnType_1">Gửi</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="quickContact">
                    <div class="titleBlock_1">
                        <p class="text_2">VĂN PHÒNG</p>
                        <div class="underline"></div>
                    </div>
                    <div class="smallPart">
                        <p class="text1">Chi Nhánh Phía Bắc:</p>
                        <p class="text2 marBot_15">- 2A/51/102 Hoàng Đạo Thành, Quận Thanh xuân, Hà Nội </p>
                        <p class="text1">Chi Nhánh Phía Nam:</p>
                        <p class="text2">- Địa chỉ : 26/1 Nguyễn Minh Hoàng, Phường 12, Quận Tân Bình, HCM</p>
                        <i aria-hidden="true" class="fa fa-map-marker"></i>
                    </div>
                    <a class="wrapSmallPart contactCallPopUp contactCallPopUpPhone" contacttext="Gọi điện" data-target="" data-toggle="modal" data="phone" datahref="tel:0934014388" idgoogleget="btn_phone_id" title="Liên hệ">
                        <div class="smallPart">
                            <p class="text1">ĐIỆN THOẠI</p>
                            <p class="text2">0934014388</p>
                            <i aria-hidden="true" class="fa fa-phone"></i>
                        </div>
                    </a>
                    <div class="smallPart">
                        <p class="text1">Thời gian làm việc:</p>
                        <p class="text2">Thứ 2 - 7 : 8:00 - 18:00</p>
                        <p class="text2">Chủ nhật : 8:00 - 11:30</p>
                        <i aria-hidden="true" class="fa fa-envelope"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>