<div class='homeFagoAgency container-fluid'>
    <div class='specialBlock_16'>
        <div class='container'>
            <div class='textBlock'>
                <H1 class='text text_1 wk-editable-text'>Fago Agency - Dịch Vụ Marketing Online Tổng Thể</H1>
                <p class='text text_3 wk-editable-text'>Fago Agency ứng dụng công nghệ và digital marketing giúp các doanh nghiệp nhỏ và Startup chuyển đổi số</p>
                <p class='text text_3 wk-editable-text'>Chúng tôi tập chung vào 5 cốt lõi sau để Growth: Công nghệ - Digital marketing - Con người - Khách hàng - Partner</p>
            </div>
            <div class='row rowFix'>
                <div class='leftBlock'>
                    <div class='area_1'>
                        <p class='text_1 wk-editable-text'>Bạn đang</p>
                        <p class='text_1 wk-editable-text'>cần gì?</p>
                    </div>
                    <div class='area_2'>
                        <div class='smallPart smallPart_1'>
                            <a class='text_2 wk-editable-text' href='' target='_blank'>SEO nâng hạng từ khoá cho website</a>
                        </div>
                        <div class='smallPart smallPart_2'>
                            <a class='text_2 wk-editable-text' href='' target='_blank'>Quảng cáo Google</a>
                        </div>
                        <div class='smallPart smallPart_3'>
                            <a class='text_2 wk-editable-text' href='' target='_blank'>Thiết kế Website chuẩn SEO</a>
                        </div>
                        <div class='smallPart smallPart_4'>
                            <a class='text_2 wk-editable-text' href='' target='_blank'>Vận hành và tăng trưởng Shopee</a>
                        </div>
                    </div>
                    <div class='area_3'>
                        <p class='text_3 wk-editable-text' id='home-text-10'>Chưa biết! để tôi xem đã</p>
                        <div class='wrapItemDown'><i aria-hidden='true' class='fa fa-angle-down'></i></div>
                    </div>
                </div>
                <div class='rightBlock'>
                    <img alt='' src='./assets/img/img_122.png'>
                </div>
            </div>
        </div>
    </div>
    <div class='secIntroduce'>
        <div class='container'>
            <div class='row'>
                <div class='textBlock col-md-6 col-12'>
                    <div class='titleBlock_1'>
                        <div class='d-none'>
                            <H2 class='wk-editable-text' id='home-text-12'>về Chúng tôi GIỚI THIỆU</H2>
                        </div>
                        <p class='text_1 wk-editable-text'>Về Chúng tôi</p>
                        <p class='text_2 wk-editable-text'>GIỚI THIỆU</p>
                        <div class='underline'></div>
                    </div>
                    <div class='textContent'>
                        <p class='text_1 wk-editable-text'>Fago Agency là công ty chuyên cung cấp dịch vụ Marketing Online tổng thể cho doanh nghiệp nhỏ và siêu nhỏ</p>
                        <p class='text_1 wk-editable-text'>Với dịch vụ chính cung cấp bao gồm:</p>
                        <ul class='paddingLeft_35'>
                            <li class='text_1 wk-editable-text'>Thiết kế website chuẩn SEO</li>
                            <li class='text_1 wk-editable-text'>SEO tổng thể cam kết từ khóa lên TOP</li>
                            <li class='text_1 wk-editable-text'>Vận hành thương mại điện tử: Shopee, Tiki, Lazada</li>
                            <li class='text_1 wk-editable-text'>Vận hành quảng cáo google: Google search Ads, Google shopping</li>
                            <li class='text_1 wk-editable-text'>Xây dựng quảng cáo Facebook</li>
                            <li class='text_1 wk-editable-text'>Xây dựng bộ nhận diện thương hiệu</li>
                        </ul>
                        <p class='text_1 wk-editable-text'>Với mục tiêu giúp cho 10.000+ doanh nghiệp nhỏ và siêu nhỏ số hóa và bán hàng thành công trên online. Fago Agency tự hào cung cấp giải pháp Marketing online uy tín và đồng hành trong chặng đường cùng với doanh nghiệp</p>
                    </div>
                    <div class='btnViewMore'>
                        <a class='btnType_1 wk-editable-text' href='/gioi-thieu/'>Xem thêm</a>
                    </div>
                </div>
                <div class='imgBlock col-md-6 col-12'>
                    <div class='imgPart figure2'><img alt='' src='./assets/img/gioi-thieu-fagoagency.webp'></div>
                </div>
            </div>
        </div>
    </div>
    <div class='secMyService'>
        <div class='container'>
            <div class='titleBlock_1'>
                <div class='d-none'>
                    <H2 class='wk-editable-text' id='home-text-25'>DỊCH VỤ CỦA CHÚNG TÔI</H2>
                </div>
                <p class='text_1 text_cent wk-editable-text'>DỊCH VỤ</p>
                <p class='text_2 text_cent wk-editable-text'>CỦA CHÚNG TÔI</p>
                <div class='underline m-auto'></div>
            </div>
            <div class='row servicesBlock'>
                <div class='wrapBox col-lg-4 col-md-6 col-sm-6 col-12'>
                    <a class='detailServiceBlock_1 figure2' href=''>
                        <div class='imgPart'>
                            <img alt='service' src='./assets/img/img_2.jpg'>
                            <div class='textOnImg'>
                                <div class='wrapText'>
                                    <p class='title wk-editable-text'>DỊCH VỤ THIẾT KẾ WEBSITE CHUẨN SEO</p>
                                </div>
                            </div>
                        </div>
                        <H3 class='serviceName wk-editable-text'>DỊCH VỤ THIẾT KẾ WEBSITE CHUẨN SEO</H3>
                    </a>
                </div>
                <div class='wrapBox col-lg-4 col-md-6 col-sm-6 col-12'>
                    <a class='detailServiceBlock_1 figure2' href=''>
                        <div class='imgPart'>
                            <img alt='service' src='./assets/img/img_3.jpg'>
                            <div class='textOnImg'>
                                <div class='wrapText'>
                                    <p class='title wk-editable-text'>DỊCH VỤ SEO</p>
                                </div>
                            </div>
                        </div>
                        <H3 class='serviceName wk-editable-text'>DỊCH VỤ SEO</H3>
                    </a>
                </div>
                <div class='wrapBox col-lg-4 col-md-6 col-sm-6 col-12'>
                    <a class='detailServiceBlock_1 figure2' href=''>
                        <div class='imgPart'>
                            <img alt='service' src='./assets/img/image-7-30.jpg'>
                            <div class='textOnImg'>
                                <div class='wrapText'>
                                    <p class='title wk-editable-text'>DỊCH VỤ SEO SHOPEE VÀ VẬN HÀNH SHOPEE</p>
                                </div>
                            </div>
                        </div>
                        <H3 class='serviceName wk-editable-text'>DỊCH VỤ SEO SHOPEE VÀ VẬN HÀNH SHOPEE</H3>
                    </a>
                </div>
                <div class='wrapBox col-lg-4 col-md-6 col-sm-6 col-12'>
                    <a class='detailServiceBlock_1 figure2' href=''>
                        <div class='imgPart'>
                            <img alt='service' src='./assets/img/img_5.jpg'>
                            <div class='textOnImg'>
                                <div class='wrapText'>
                                    <p class='title wk-editable-text'>DỊCH VỤ QUẢNG CÁO GOOGLE ADS</p>
                                </div>
                            </div>
                        </div>
                        <H3 class='serviceName wk-editable-text'>DỊCH VỤ QUẢNG CÁO GOOGLE ADS</H3>
                    </a>
                </div>
                <div class='wrapBox col-lg-4 col-md-6 col-sm-6 col-12'>
                    <a class='detailServiceBlock_1 figure2' href=''>
                        <div class='imgPart'>
                            <img alt='service' src='./assets/img/LAZADA.jpg'>
                            <div class='textOnImg'>
                                <div class='wrapText'>
                                    <p class='title wk-editable-text'>DỊCH VỤ XÂY DỰNG VÀ VẬN HÀNH GIAN HÀNG TMĐT LAZADA</p>
                                </div>
                            </div>
                        </div>
                        <H3 class='serviceName wk-editable-text'>DỊCH VỤ XÂY DỰNG VÀ VẬN HÀNH GIAN HÀNG TMĐT LAZADA</H3>
                    </a>
                </div>
                <div class='wrapBox col-lg-4 col-md-6 col-sm-6 col-12'>
                    <a class='detailServiceBlock_1 figure2' href=''>
                        <div class='imgPart'>
                            <img alt='service' src='./assets/img/img_6.jpg'>
                            <div class='textOnImg'>
                                <div class='wrapText'>
                                    <p class='title wk-editable-text'>DỊCH VỤ THIẾT KẾ BỘ NHẬN DIỆN THƯƠNG HIỆU</p>
                                </div>
                            </div>
                        </div>
                        <H3 class='serviceName wk-editable-text'>DỊCH VỤ THIẾT KẾ BỘ NHẬN DIỆN THƯƠNG HIỆU</H3>
                    </a>
                </div>
            </div>
            <div class='btnViewAll'>
                <a href="javascript:;" class='btnType_1 contactCallPopUp' contactText='Gọi điện' data-target='#popupWhenClickContact' data-toggle='modal' data='phone' dataHref='tel:0934014388' idGoogleGet='btn_phone_id' title='Liên hệ'>Liên hệ</a>
            </div>
        </div>
    </div>
    {% include "../share/magazineBlock.html" %}
    {% include "../share/staffTeamBlock.html" %}
    <div class='ourPartBlock'>
        <div class='container'>
            <div class='titleBlock_1'>
                <H2 class='text_2 text_cent wk-editable-text'>KHÁCH HÀNG CỦA CHÚNG TÔI</H2>
                <div class='underline m-auto'></div>
            </div>
            <div class='branchesBlock'>
                <p class='branchPart active' title='Tất cả'>Tất cả</p>
                <p class='branchPart' title='F&B'>F&B</p>
                <p class='branchPart' title='Thời trang'>Thời trang</p>
                <p class='branchPart' title='Logistic'>Logistic</p>
                <p class='branchPart' title='Khách sạn'>Khách sạn</p>
                <p class='branchPart' title='Fitness-Spa'>Fitness-Spa</p>
                <p class='branchPart' title='Giáo dục'>Giáo dục</p>
                <p class='branchPart' title='Sơn - Hóa chất'>Sơn - Hóa chất</p>
                <p class='branchPart' title='Studio'>Studio</p>
                <p class='branchPart' title='Other'>Other</p>
            </div>
            <div class='logoBranchBlock'>
                <div branch='Thời trang' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/fl186tte0hoepvlkht5fyat7ra19_logo_leka.webp'>
                        </div>
                    </a>
                </div>
                <div branch='FB' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/cp00vsuzw6iu66p5ph2m7g75bahi_logo-khach-hang-2.webp'>
                        </div>
                    </a>
                </div>
                <div branch='F&B' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/d48x9q0axjpfl0u0henmz6yz8x5h_logo_hongchien.webp'>
                        </div>
                    </a>
                </div>
                <div branch='F&B' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/2wkbxgr7epks2hgh69mnzw5ekz2f_logo_yihetang.webp'>
                        </div>
                    </a>
                </div>
                <div branch='F&B' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/vbbsi2ks2bjx2910e1nd5bt5o8tu_logo-khach-hang-3.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Thời trang' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/kjgcsn0rv353l71e8iyjpc0pq8hj_logo_lalaland.webp'>
                        </div>
                    </a>
                </div>
                <div branch='F&B' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/rzwzxxu503oku17ussdraoa4xerp_logo_tomhung.webp'>
                        </div>
                    </a>
                </div>
                <div branch='F&B' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/qvt0zv3xxu9vdw3v8wxbgj4x2xhz_logo_nha_hang_chay.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Thời trang' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/ltounn4maf7ulzu7a1z8h16xptfn_logo_me_ben.webp'>
                        </div>
                    </a>
                </div>
                <div branch='F&B' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/lyllwbovxhurhi27sle268wshrlt_logo_foodhouse.webp'>
                        </div>
                    </a>
                </div>
                <div branch='F&B' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/azgr7yly7b9r4ss8lwtb5tates0z_logo-khach-hang-4.webp'>
                        </div>
                    </a>
                </div>
                <div branch='F&B' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/nfabw8tcb0yopgjsw1dtm208t1l6_logo_riveria.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/e8ts47rtfxf4iqvdzpqwyhgocsxf_logo-khach-hang-1.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Thời trang' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/ifa18flbzb79dl54k7z2daebi9tm_logo_aholic.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Thời trang' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/e82o8vrotx9drw89mvw9vlunih0v_logo_lenin.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Thời trang' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/hmazuyqnwu4l392lfs5ss9sdov6k_logo_ladali.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Thời trang' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/s8dedwog42dtqifsnf1rkveywvgd_logo_elly_beaty.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Logistic' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/9rj9q3ntche3574czfj1aqpq7ehb_logo_ems.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Logistic' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/sf99et2fy8yt9gr4kxbkb3eopsk7_logo_d.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Thời trang' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/vaqqvdgnc8g6t59cps8cdchhduim_logo_tibi.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Thời trang' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/im1rd1wps7zslcjn1091o0vw62f2_logo_hodieng.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Logistic' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/85tno57x8nqefcuc6yfo2ir6pvq7_logo_vietnampost.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/m1v8sj8hh00wz73szmm64djmz7mp_logo-bhm.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Khách sạn' class='imgPart'>
                    <a href='https://mixhotel.vn/' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/c7coos4958tqc65yhcrkp6f5xtui_mix-boutique-logo.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/4u7vklqnwnwyqh93sh65s9vg6vs8_logo-acquydongkhanh.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Fitness-Spa' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/qdvqpcpl1cym3aidkrgadnh7e41x_logo_bwhite.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Fitness-Spa' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/cunzt841gbet257j0td2836c7x5b_logo_duyen_spa.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Thời trang' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/bitrvv5ul3e9onkcm4vz24vl3hf3_gymme-logo-web.webp'>
                        </div>
                    </a>
                </div>
                <div branch='F&B' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/ize75uqt4lioa39m5hqik8aa9gs8_logo_botanica.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/tp3sii5cc12tr88mcq6036rpsc1m_logo-tuongvinh.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Giáo dục' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/2wk8bqp227k4o7ahmb5s1ue6ipvx_logo_impactus.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Giáo dục' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/t00bkczakvlurb755tb5p5xok64t_logo_edupia.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Giáo dục' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/9dyfb8nvkqlijc57ey7guqx1ubnd_logo_topica.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Logistic' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/rm9ua7as0zl40pecpnqeqc9ahi9k_logo-fagologistics1.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/ajpvg36587divxsirblft1gru4k5_logo.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Logistic' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/w0mg9ydlvut8ow1dwb96guamwleg_logoTruongPhat.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/9qeul335xd4z6vdzzbp5a9499p2q_logo_me_dental.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/4631eodlgigpbgu8k7l4aox8vu5h_logo_taslaw.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Tất cả' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/uyvdr9174iezp0dq9g56beu0g4r0_logo_coc.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Giáo dục' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/4ryh05ayl2vfkgstupr33eqzxoqy_logo-sapp.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/fvn16ytbknog2qv4gh4g7qex45jh_logo-muaacquy.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/17989mdkgx1olda7eke66byslv0h_logo-diemmayvang.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/oi8shb3ph0pvbqive5btx9sdbct4_logo_dogomanhhung.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/iyv9ipey6bmborrcxu3xhnib9435_logo_NCM.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/12vjv3mupf6vekcznx7ll9nwmoka_logo-dtp.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/3dmt3k18yagh6wgknnagsvq305uw_logo-garis.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/grizzcn6c61qftobgip0rydh543h_logo-shome.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/f323zyuptw5v5t4oue7e55t8bwd8_logoPetkung1.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Sơn - Hóa chất' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/f17j4jed5sqwy7wppoyc3n1q2n3n_logo-ghghroup.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/byu342oe7dpfav2exvxc0xhlhkdc_LOGO-gianphoi.com.vn.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/bgg9saloanvvsqyd31h1lv6kymzu_logo_sona.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/ydc3ylys7fqhno1t090v88aq2hhv_logo_luoicontrung.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/qxrx8ptr8ym7akn4a0ewurnmc3ob_logoTNguyen.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Giáo dục' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/ucv88syj40i5p64a4b1iadrqah4w_logo-mighty-math.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/5nzr8ypuei4cf16vpampf33a5jca_logoBMhome2.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/odrqploev0xgs7dxo2m7jbuv787f_logo-dai-ngan.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/i1fn1a98ak6z7ab26nr926cwcqml_logo-winecenter.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Giáo dục' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/3g2r0mkkjbuu64jho6p2hthlj5ts_logo-theforum.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/jmbk0bnaggkqhjxj2kdbt00d9ora_QT-logo-06.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/xvuzid4o7juhiw2b7971c013kx55_logo-ngan.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/oak3u7068akmqd1c1sa2tqn7sb5j_logo-nhakhoathanhan.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Giáo dục' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/227tmwmnrtqc59ksenlzh6t02xq0_logo-ivma.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Giáo dục' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/l39lqjxhpptbmtmzb52rvbl9nud4_logo-clevai.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Fitness-Spa' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/9jejgqafl8oo02xlvo27h5pz9dl7_anh-khach-hang-6-4.jpeg'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/k4fh1n50ik5gjzb8qomtcwhiuaii_logo-hanvimall.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='https://sieuthicakoi.vn/' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='Cá Koi' src='./assets/img/z5p3gim2aw53ped4bjiscl89tcas_logo-cakoivn.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/bxm8odiek5luu37twpbhwqxmmtx0_logo-HTV-mn.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/ogqisfmccanr1pvdwk1yvyccpc19_logo-noi-that-bao-huy.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/vg3ea5b6lf8b2k6g31dvwuv4i28c_logo_G9.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/94o8ys9azjggpt8fqx9n1rfo5v04_logo-vpasss.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Giáo dục' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/ydt0oheiy46tfevmop9zrwpqnuer_logo-tong-dai-cuu-ho-19.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/w5230ufjb5im82n8vtrvp4f3qmqx_logoTVD.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/pqcbeh4inccv921yq7uvudg9tvb5_logo_bmgatex.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/xhfzmdowpinfu4wb0pp6ku6b8ysi_logo-inoxgiahung.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/jakadr32wwfoizs1h8fb1ekkyedg_logo_iesh.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/6lv4h6b72u1zpra2xlq56fwidnao_logo_kho_lanh_sai_gon.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/b3w3v07ig5t7yny3anlwdq75p116_yen-sao-kinh-do-image-logo.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='https://xuongnoithatlananh.com/' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='xuongnoithatlananh' src='./assets/img/603betle6kblv29hrzefjfd1vgmd_logo_xuongnoithatlananh.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/wct8a7fua6aarkcs62y21mcp39f7_logo-hoanmyvg.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/cua8izpb5csczgxm7730w5mmmh4l_logo_viemtech.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Giáo dục' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/bl4kipxpfkwf0hvcg7qupny2piip_logo_ub.png'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/qhd41b13vwie9hi53van5wst1ajc_logo-tung-lan.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/xy043dyy4og92kupq34ocksv0f6v_logo_acquy_van_phat.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/5jvh7w4wmv116h0jam34rqbfs6ai_happy-agry.jpg'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/w1j4hnw4zz0eim7zwik76df0rga7_logo-hoang-minh-home.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/15pqp5r02g817sou7kwk1l1lnp9s_logo_diem_an.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/k6ff6y4w4hj75pjax2g7zcdv1qld_logo_thanh_dat.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/gke4lw2udf0yxcuweolfjbotiew6_logo-damyngheanhcong.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Sơn - Hóa chất' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/y8iflml66e2y31b8kdd6qud2oqw0_logo-dac-khang.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/1afnsdycyam445e6am6b2lkbaukq_logo-link.jpg'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/nfx11j7hsrxutigxze8nbe3i2ehx_logo-aligndental.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/ohbkiivvfna5qevkom8bh0p4w8mk_logomocmien.jpg'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/awrce54kxb37kqw5ston5czb06lv_sfix51wsmuy52b4b6ln8373m76db_sundrone-logo.png'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/14ganlv5o31tjf8i46k6drnvmyax_szc04esjsmj54cuj2h2g27flcuqh_trangmoon.jpg'>
                        </div>
                    </a>
                </div>
                <div branch='Khách sạn' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/h6hxp65wkw5sk26wdn129qmte04a_logoriverside.jpg'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/lwd22twwdbryh3yyur9ua2bfte8o_logosakawa.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/7qd1httu16h55tpwvkxs6xnf39ou_bcnbjd1oudfomyp9ctt9vji6fjnr_jst.jpg'>
                        </div>
                    </a>
                </div>
                <div branch='Sơn - Hóa chất' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/ydatgz4105lpimrq07wcig3n5qox_logo-kim-bao-ngan.png'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/riag44p0go3pfxj4u8jjv8j9in1k_abhp4vzkoju72oz3bfdrjxk1l84b_logo_bidaminhduc.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/rj1pfsz1nlk5cyw6mshtd50dj6t7_inox-trong-tin.jpg'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/v4sxk6ji2w3ptmjwe4vyj1do0zhq_i8tb1ixlzbi8b9e4194nb08puf3c_tl.jpg'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/vqopuoe3y69pwscgni70g6sdbjis_w56n5aqde76d63e0m335e0zag7jb_figi.jpg'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='https://inoxtrongtin.vn/' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='inoxtrongtin' src='./assets/img/9n9msjhzhpnq3r8cz9c4h8p30acv_logo-property.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/o95kntppvg2oo4g5w76boitej0aa_logo_long_hau.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/qfxpwy34cpn6dm8tqhkoqlh6y36i_logo-dai-phat.jpg'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/8metm25i0g3c58hdgke4ac2ru3wz_logo_viet_nhat.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/hd1voo1ck6whzp1vxw9ld3yxa3ye_logo-orgamic-coffee.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Giáo dục' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/c1upynbcxne4kyj6rkav17xqauf4_logo-huan-luyen-cho-119-1.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/jzvhc3v2shete2ymf4ow8l12i92p_duc-thinh.jpg'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/u5egyyeqzfkesq2nbwroyavrmrjp_logo_thanh_quynh.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/a8rhso3x6anslhjbjski7p5hpcpj_ftwxggv8bai3uum83uegpydwfx7d_gre_(1).jpg'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/t930k7w7gvdzslov6rdqrvzma202_z5amvk8q46wmfeucf6a3luhwarkp_new.jpg'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/pypjyprv2nkmzdn5gqorz9wi90cy_logo_colorado.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/5usk9pry7txhat2l4tue0ldr9xcc_logo-amare.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/uzd4z13p4hwrrj93dtln0hp1eaab_LOGO-THANH-LONG.webp'>
                        </div>
                    </a>
                </div>
                <div branch='F&B' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='Thanh Hào' src='./assets/img/1lpjgxffznosxzswm29cmkmcpxd9_xmq5x0j3xnhd754th0yekgug5eoo_logo_thanh_hao.webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/usu6clehh5k2mym25y04ukyxrfbm_rt0hg58c04r1g6z27kw61hlhmi2z_thang-xep-thong-minh_(1).jpg'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/hdh0sa9bksz97wqndcnfs5onetf3_logo_blue_saigondoor_(1).webp'>
                        </div>
                    </a>
                </div>
                <div branch='Other' class='imgPart'>
                    <a href='' target='_blank'>
                        <div class='wrapImg'>
                            <img alt='' src='./assets/img/dko2mdmwo78lxhzyg7591ajl2bfz_logo_komo_(1).webp'>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% include "../share/fourColNumberBlock.html" %}
    <div class='secNews'>
        <div class='container'>
            <div class='titleBlock_1'>
                <H2 class='text_2 text_cent'>KIẾN THỨC MARKETING ONLINE MỚI NHẤT TỪ FAGO</H2>
                <div class='underline m-auto'></div>
            </div>
            <div class='owl-carousel owl-theme owlBlockNews_1'>
                <div class='detailNewsBlock_1'>
                    <a class='imgPart figure1' href='' title=''>
                        <img alt='' src='./assets/img/67e9a4xxmtzly3obru8cbpnwmnpq_4p-trong-marketing.webp'>
                        <div class='timeOnImg'>
                            <p class='text_1'> 02 </p>
                            <p class='text_2'> Tháng 07, 2023</p>
                        </div>
                    </a>
                    <div class='textPart'>
                        <a href='' title=''>
                            <h5 class='titlePost'>4P Trong Marketing Là Gì? Quy Trình Xây Dựng Marketing 4P Hiệu Quả</h5>
                        </a>
                        <p class='descriptionText'>4P là một mô hình Marketing Mix được sử dụng phổ biến trong Marketing, bao gồm bốn yếu tố: Product (Sản phẩm), Price (Giá cả), Place (Địa điểm) và Promotion (Quảng cáo).</p>
                        <div class='underline'></div>
                    </div>
                </div>
                <div class='detailNewsBlock_1'>
                    <a class='imgPart figure1' href='' title=''>
                        <img alt='' src='./assets/img/bdxvg1q3hi4ypi13kyzwsysjkk1n_mat-do-tu-khoa_2.jpg'>
                        <div class='timeOnImg'>
                            <p class='text_1'> 24 </p>
                            <p class='text_2'> Tháng 06, 2023</p>
                        </div>
                    </a>
                    <div class='textPart'>
                        <a href='' title=''>
                            <h5 class='titlePost'>Mật Độ Từ Khóa Có Tỷ Lệ Bao Nhiêu Là Hiệu Quả Trong SEO?</h5>
                        </a>
                        <p class='descriptionText'>Mật độ từ khóa là tỉ lệ số lần xuất hiện của một từ hay một cụm từ trong một bài viết trên Website. Đây là một trong các yếu tố rất quan trọng để Google có thể xếp hạng bài viết của bạn trên trang tìm kiếm. </p>
                        <div class='underline'></div>
                    </div>
                </div>
                <div class='detailNewsBlock_1'>
                    <a class='imgPart figure1' href='' title=''>
                        <img alt='' src='./assets/img/ig44kyru42dl489yp2spnt11x3nm_url.png'>
                        <div class='timeOnImg'>
                            <p class='text_1'> 20 </p>
                            <p class='text_2'> Tháng 06, 2023</p>
                        </div>
                    </a>
                    <div class='textPart'>
                        <a href='' title=''>
                            <h5 class='titlePost'>URL Là Gì? Mẹo Tối Ưu URL Chuẩn SEO Hiệu Quả Nhất </h5>
                        </a>
                        <p class='descriptionText'>URL viết tắt của “Uniform Resource Locator” là “Định vị tài nguyên thống nhất”, hay bạn có thể hiểu đơn giản URL là một địa chỉ Website nó cho phép người dùng liên kết đến Web. chính hay có thể trỏ đến các bài viết, hình ảnh, video, file PDF,... </p>
                        <div class='underline'></div>
                    </div>
                </div>
                <div class='detailNewsBlock_1'>
                    <a class='imgPart figure1' href='' title=''>
                        <img alt='' src='./assets/img/2jie1kyeevyynimgf9xnbhc8f239_meta-description.jpg'>
                        <div class='timeOnImg'>
                            <p class='text_1'> 19 </p>
                            <p class='text_2'> Tháng 06, 2023</p>
                        </div>
                    </a>
                    <div class='textPart'>
                        <a href='' title=''>
                            <h5 class='titlePost'>Meta Description Là Gì? Cách Viết Thẻ Meta Chuẩn SEO </h5>
                        </a>
                        <p class='descriptionText'>Meta Description là thẻ mô tả meta cung cấp cho người đọc một bản tóm tắt ngắn gọn về nội dung của một trang Web, để đạt được kết quả hiển thị tốt chúng thường chứa từ 155-160 ký tự. </p>
                        <div class='underline'></div>
                    </div>
                </div>
            </div>
            <div class='btnViewAll'>
                <a class='btnType_2 figure2' href=''>
                    <p class='text'>Xem tất cả</p>
                </a>
            </div>
        </div>
    </div>
    <div class='galleryBlock'>
        <div class='container'>
            <div class='titleBlock_1'>
                <div class='d-none'>
                    <H2 class='wk-editable-text' id='home-text-53'>Hình ảnh HOẠT ĐỘNG CỦA FAGO AGENCY</H2>
                </div>
                <p class='text_1 text_cent wk-editable-text' id='home-text-54'>Hình ảnh</p>
                <p class='text_2 text_cent wk-editable-text' id='home-text-55'>HOẠT ĐỘNG CỦA FAGO AGENCY</p>
                <div class='underline m-auto'></div>
            </div>
            <div class='owl-carousel owl-theme owlGalleryBlock'>
                <div class='wrapImgPart'>
                    <div class='imgPart figure2'>
                        <img alt='gallery' src='./assets/img/22k0kobihpkmnz3y550wmphsp85u_e3b85dfc80825fdc06933.jpg'>
                    </div>
                </div>
                <div class='wrapImgPart'>
                    <div class='imgPart figure2'>
                        <img alt='gallery' src='./assets/img/miq8wrrn4z1gbcdjjnciyebb95go_ae8b67f2ba8c65d23c9d4.jpg'>
                    </div>
                </div>
                <div class='wrapImgPart'>
                    <div class='imgPart figure2'>
                        <img alt='gallery' src='./assets/img/bwxc60nqencnndha8sim6tcrj2b1_5640f1222c5cf302aa4d5.jpg'>
                    </div>
                </div>
                <div class='wrapImgPart'>
                    <div class='imgPart figure2'>
                        <img alt='gallery' src='./assets/img/khbb8lfbjfo7raa5j91xpbrw4njs_430ca22a7f54a00af94510.jpg'>
                    </div>
                </div>
                <div class='wrapImgPart'>
                    <div class='imgPart figure2'>
                        <img alt='gallery' src='./assets/img/xsr8qiuj1rohesgrx99n8ev0s3az_8c83c0d81da6c2f89bb72.jpg'>
                    </div>
                </div>
                <div class='wrapImgPart'>
                    <div class='imgPart figure2'>
                        <img alt='gallery' src='./assets/img/7xemtwjc330shm19r11txtgf5962_7d8890f94d8792d9cb961.jpg'>
                    </div>
                </div>
                <div class='wrapImgPart'>
                    <div class='imgPart figure2'>
                        <img alt='gallery' src='./assets/img/basf71xqpyyz6qbsbhnwkdokrlxv_1c535569881757490e069.jpg'>
                    </div>
                </div>
                <div class='wrapImgPart'>
                    <div class='imgPart figure2'>
                        <img alt='gallery' src='./assets/img/033rd519vxf8mjbvgr8zjhbaac7s_1ddb0ed5d3ab0cf555ba8.jpg'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>