<div class='container-fluid fixMenuSpecial' id='introduceFagoAgency'>
    <div class="breadcrumbsBlock">
        <div class="container containerFix">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumbFix">
                    <li class="breadcrumb-item">
                        <a href="/">Trang chủ</a>
                    </li>
                    <li aria-current="page" class="breadcrumb-item active">Giới thiệu</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="section_1">
        <div class="container">
            <div class="row">
                <div class="textBlock">
                    <div class="titleBlock_1">
                        <p class="text_1">Về Chúng tôi</p>
                        <p class="text_2">GIỚI THIỆU</p>
                        <div class="underline"></div>
                    </div>
                    <div class="textPart">
                        <p class="text_1 marBot_5">Fago agency là công ty chuyên cung cấp giải pháp Marketing online cho doanh nghiệp nhỏ và siêu nhỏ</p>
                        <p class="text_1 marBot_5">Sau hơn 5+ năm hoạt động, Công ty đã cung cấp dịch vụ cho hơn 500+ doanh nghiệp với hơn 30+ lĩnh vực như: FnB, Vận tải, giáo dục, bất động sản, sản phẩm tiêu dùng, đồ điện tử, đồ dùng thông minh, nội thất......</p>
                        <p class="text_1 marBot_5">Với dịch vụ chính cung cấp bao gồm:</p>
                        <p class="text_1 marBot_5">- Thiết kế website chuẩn SEO</p>
                        <p class="text_1 marBot_5">- SEO tổng thể cam kết từ khóa lên TOP</p>
                        <p class="text_1 marBot_5">- Vận hành thương mại điện tử: Shopee, Tiki, Lazada</p>
                        <p class="text_1 marBot_5">- Vận hành quảng cáo google: Google search Ads, Google shopping</p>
                        <p class="text_1 marBot_5">- Vận hành quảng cáo Facebook</p>
                        <p class="text_1 marBot_5">- Xây dựng bộ nhận diện thương hiệu</p>
                    </div>
                </div>
                <div class="imgBlock">
                    <img alt="introduce" class="img_1" src="./assets/img/gioi-thieu-fagoagency.webp">
                </div>
            </div>
        </div>
    </div>
    {% include "../share/fourColNumberBlock.html" %}
    {% include "../share/staffTeamBlock.html" %}
    <div class="contactBlock_1">
        <div class="container">
            <div class="row">
                <div class="leftBlock">
                    <p class="text_1">LIÊN HỆ VỚI CHÚNG TÔI</p>
                    <p class="text_2">0934014388</p>
                    <p class="text_3">
                        <i aria-hidden="true" class="faFix fa fa-map-marker"></i>
                        HN:  2A/51/102 Hoàng Đạo Thành, Quận Thanh xuân, Hà Nội
                    </p>
                    <p class="text_3">
                        <i aria-hidden="true" class="faFix fa fa-map-marker"></i>
                        HCM : 675 Nguyễn Kiệm, Phường 9, Quận Phú Nhuận .
                    </p>
                    <p class="text_3">
                        <i aria-hidden="true" class="faFix fa fa-map-marker"></i>
                        HCM:   26/1 Nguyễn Minh Hoàng, phường 12, Q.Tân Bình.
                    </p>
                    <p class="text_3">
                        <i aria-hidden="true" class="faFix fa fa-envelope-o"></i>
                        sale@fagogroup.vn
                    </p>
                    <div class="btnContact">
                        <button class="btnType_1 contactCallPopUp contactCallPopUpPhone" contacttext="Gọi điện" data-target="" data-toggle="modal" data="phone" datahref="tel:0934014388" idgoogleget="btn_phone_id" title="Liên hệ">LIÊN HỆ NGAY</button>
                    </div>
                </div>
                <div class="rightBlock">
                    <div class="socialBlock_1">
                        <a class="socialPart facePart" href="https://www.facebook.com/fagoagency" target="_blank" title="facebook">
                            <img alt="social" src="./assets/img/face_icon.svg">
                        </a>
                        <a class="socialPart instagramPart">
                            <img alt="social" src="./assets/img/instagram_icon.svg">
                        </a>
                        <a class="socialPart twitterPart">
                            <img alt="social" src="./assets/img/twitter_icon.svg">
                        </a>
                        <a class="socialPart gPlusPart" href="/" title="home">
                            <img alt="social" src="./assets/img/g_plus_icon.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../share/galleryBlock.html" %}
</div>