<div class="container-fluid fixMenuSpecial authorFagoAgency">
    <div class="breadcrumbsBlock">
        <div class="container containerFix">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumbFix">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Đội ngũ</li>
                    <li aria-current="page" class="breadcrumb-item active">Lê Văn Tuấn Anh</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="section_1">
        <div class="container">
            <div class="row">
                <div class="leftBlock">
                    <div class="wrapImgText">
                        <div class="imgPart figure1">
                            <img alt="fagoagency" src="./assets/img/tuan-anh-1.webp">
                        </div>
                        <div class="textPart">
                            <p class="nameAuthor">Lê Văn Tuấn Anh</p>
                            <p class="job">CEO</p>
                        </div>
                        <div class="shareSocialPart">
                            <div class="shareSocial2">
                                <ul>
                                    <li>
                                        <a href="#" title="share">
                                            <img alt="social" src="./assets/img/itemFace_2.svg">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="share">
                                            <img alt="social" src="./assets/img/itemInstagram_2.svg">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="share">
                                            <img alt="social" src="./assets/img/itemTwitter_2.svg">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="share">
                                            <img alt="social" src="./assets/img/itemGGPlus_2.svg">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rightBlock">
                    <p class="nameAuthor">Lê Văn Tuấn Anh</p>
                    <p class="job">CEO</p>
                    <div class="ratePart">
                        <p class="text">ĐÁNH GIÁ:</p>
                        <div class="fiveStar">
                            <img alt="star" src="./assets/img/starRate.svg">
                            <img alt="star" src="./assets/img/starRate.svg">
                            <img alt="star" src="./assets/img/starRate.svg">
                            <img alt="star" src="./assets/img/starRate.svg">
                            <img alt="star" src="./assets/img/starRate.svg">
                        </div>
                    </div>
                    <p class="descriptionAuthor">Bạn đang đau đầu và loay hoay về vấn đề Website của Bạn vẫn đang ở tít cuối trang tìm kiếm trên các trang tìm kiếm ,đại diện là Google . Nhưng từ nay đến với Tôi , với kinh nghiệm nhiều năm làm Seo ,Tôi đảm bảo và hướng dẫn cho Bạn về mục đích,lộ trình rõ ràng giúp Website đạt được thứ hạng cao trên các trang tìm kiếm</p>
                    <div class="owl-carousel owl-theme owlSlideTabBlock owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage">
                                <div class="owl-item">
                                    <p class="text text_1">Giới thiệu</p>
                                </div>
                                <div class="owl-item">
                                    <p class="text text_2">Kinh nghiệm</p>
                                </div>
                                <div class="owl-item">
                                    <p class="text text_3">Bài viết</p>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav disabled">
                            <button type="button" role="presentation" class="owl-prev">
                                <span aria-label="Previous">‹</span>
                            </button>
                            <button type="button" role="presentation" class="owl-next">
                                <span aria-label="Next">›</span>
                            </button>
                        </div>
                        <div class="owl-dots disabled"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section_2" id="tabIntroduce">
        <div class="container">
            <div class="wrapBoxShadow">
                <div class="titleBlock_1">
                    <p class="text_2">GIỚI THIỆU</p>
                    <div class="underline"></div>
                </div>
                <div class="wrapContent">
                    <p>Năm Sinh: 1995</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section_2" id="tabExperience">
        <div class="container">
            <div class="wrapBoxShadow">
                <div class="titleBlock_1">
                    <p class="text_2">KINH NGHIỆM</p>
                    <div class="underline"></div>
                </div>
                <div class="wrapContent">
                    <p class="text-justify">- Hơn 5 năm kinh nghiệm trong lĩnh vực SEO</p>
                    <p class="text-justify">- Phụ trách trực tiếp và gián tiếp hơn 20 dự án SEO</p>
                    <p class="text-justify">- Đạt TOP 1 nhiều từ khóa độ khó tầm trung ở một số lĩnh vực cạnh tranh trong thời gian từ 3-6 tháng</p>
                    <p class="text-justify">- Phương trâm làm việc: luôn lấy Khách Hàng làm trọng tâm, luôn tìm ra giải pháp để giải quyết vấn đề</p>
                </div>
            </div>
        </div>
    </div>
</div>