<div class="container-fluid fixMenuSpecial contactFagoAgency">
    <div class="breadcrumbsBlock">
        <div class="container containerFix">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumbFix">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Tuyển Dụng Nhân Viên Sale Marketing(Account Executive)</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="data_contents">
        <div class="container">
            <h2 id="">
                <p style="text-align:center;">
                    <img alt="" src="./assets/img/job-description-fagoagency.webp">
                </p>
            </h2>
            <h2 id="1-vi-tri-tuyen-dung-nhan-vien-sales-marketing-account-executive">1. Vị Trí Tuyển Dụng: Nhân Viên Sales Marketing (Account Executive)</h2>
            <p>Fago Agency đang tuyển dụng nhân viên Sale - Marketing tại Hồ Chí Minh phụ trách tìm kiếm khách hàng cho các dịch vụ của công ty. Bao gồm:</p>
            <ul>
                <li>Thiết Kế Website Chuẩn SEO</li>
                <li>Dịch Vụ Chăm Sóc Website</li>
                <li>Dịch Vụ Chạy Quảng Cáo Google</li>
                <li>Dịch Vụ SEO Tổng Thể</li>
                <li>Dịch Vụ Khởi Tạo Gian Hàng Chuẩn SEO Shopee Và Vận Hành Gian Hàng Shopee</li>
            </ul>
            <h2 id="2-dia-chi-lam-viec-cua-vi-tri-tuyen-dung-nhan-vien-sale-marketing-account-executive">2. Địa chỉ làm việc của vị trí tuyển dụng nhân viên Sale - Marketing (Account Executive)</h2>
            <p>26/1 Nguyễn Minh Hoàng, Phường 12, Quận Tân Bình, TP. Hồ Chí Minh</p>
            <blockquote>
                <p>Google Map --&gt; <a href="https://goo.gl/maps/ehviJtnfRrC2bCYV6">Link</a>
                </p>
            </blockquote>
            <p>
            <div class="wrapIframeVideo">
                <div class="wrapWidthVideo">
                    <iframe height="450" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15676.587559224408!2d106.6484437!3d10.8000597!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xec955f325d1c1fe0!2sFago%20Agency!5e0!3m2!1svi!2s!4v1667547910389!5m2!1svi!2s" style="border:0;" width="600"></iframe>
                </div>
            </div>
            </p>
            <h2 id="3-cach-thuc-ung-tuyen-vi-tri-nhan-vien-sale-marketing-account-executive">3. Cách thức ứng tuyển vị trí Nhân Viên Sale - Marketing (Account Executive)</h2>
            <p>Gửi CV về email sale@fagogroup.vn, cuong@fagogroup.vn tiêu đề ghi rõ [HỌ TÊN_VỊ TRÍ ỨNG TUYỂN]</p>
            <p>Hoặc ứng tuyển trực tiếp qua SDT: 0948 231 189 (Bộ phận tuyển dụng)</p>
            <h2 id="4-mo-ta-cong-viec-tai-vi-tri-nhan-vien-sale-marketing-account-executive">4. Mô tả công việc tại vị trí Nhân Viên Sale - Marketing (Account Executive)</h2>
            <ul>
                <li>Liên hệ các cá nhân, doanh nghiệp có hoạt động kinh doanh Offline và Online.</li>
                <li>Liên hệ, gặp gỡ, tư vấn và cung cấp &nbsp;các giải pháp Digital Marketing phù hợp cho khách hàng về các sản phẩm dịch vụ của FAGO Agency bao gồm: Thiết kế Website chuẩn SEO, Content chuẩn SEO, SEO Website, Quảng cáo Facebook Ads, Google Ads, Ecommerce: Vận hành sàn TMDT Shopee/Lazada/Tiki</li>
                <li>Kết hợp với bộ phận IT/Designer/SEO/Marketing/Ecom để cung cấp các giải pháp, lập kế hoạch Marketing chuyên sâu cho khách hàng trong quá trình sử dụng sản phẩm dịch vụ FAGO Agency.</li>
                <li>Thực hiện các công việc khác theo KPI yêu cầu của Trưởng phòng/Giám đốc đề ra.</li>
            </ul>
            <h2 id="5-yeu-cau-tai-vi-tri-nhan-vien-sale-marketing-account-executive">5. Yêu cầu tại vị trí Nhân Viên Sale - Marketing (Account Executive)</h2>
            <ul>
                <li>Độ tuổi: 21 - 34 tuổi</li>
                <li>Có kinh nghiệm làm Sale tại công ty Agency Marketing hoặc công ty liên quan&nbsp;tối thiểu 1 năm.</li>
                <li>Có kiến thức Digital Marketing hoặc tốt nghiệp cao đẳng trở lên chuyên ngành kinh tế, Marketing, truyền thông, hoặc các ngành khác có liên quan.</li>
                <li>Kỹ năng giao tiếp, thuyết trình, thuyết phục tốt.</li>
                <li>Năng động, hòa đồng, kỹ năng làm việc nhóm tốt.</li>
                <li>Khả năng chịu áp lực cao đồng thời luôn duy trì thái độ tích cực.</li>
                <li>Có kỹ năng trình bày văn bản, mail, MS Office, Power Point tốt.</li>
                <li>Có kỹ năng tự học hỏi, chủ động trong công việc.</li>
                <li>Thời gian thử việc 2 tháng</li>
                <li>Yêu thích lĩnh vực Marketing Online và có ý thức chủ động trong công việc, thích nghi tốt trong môi trường làm việc nhóm là lợi thế.</li>
                <li>Có Laptop, xe máy hỗ trợ công việc.</li>
            </ul>
            <h2 id="6-quyen-loi-khi-lam-viec-tai-vi-tri-thuc-tap-sinh-sale-marketing">6. Quyền lợi khi làm việc tại vị trí thực tập sinh Sale - Marketing</h2>
            <ul>
                <li>Lương cố định: 4.000.000 đồng - 6.000.000 đồng/tháng + Hoa hồng + Tiền thưởng (Thu nhập tháng từ 8.000.000 - 15.000.000 đồng/tháng)</li>
                <li>Hoa hồng trả hàng tháng, nhân viên&nbsp;làm càng lâu, càng có KH thân thiết thì hoa hồng hàng tháng sẽ càng cao và thăng tiến càng rõ ràng.</li>
                <li>Chính sách thưởng: Thưởng Up sale, Thưởng khi KH ký kết hợp đồng duy trì, Thưởng khi ký kết hợp đồng lớn, Thưởng khi đạt mục tiêu doanh thu cá nhân, Thưởng theo Team hàng quý khi đạt doanh thu kế hoạch, Thưởng Best Seller, Thưởng nhân sự xuất sắc, thưởng thâm niên, Thưởng các dịp lễ, tết, lương tháng 13 …</li>
                <li>Được đào tạo bài bản về kiến thức chuyên môn Sale/ Marketing Online từ cơ bản đến nâng cao, với tư duy thực chiến, cơ hội vận hành thực tế trong bộ máy hoạt động doanh nghiệp và hoàn thiện các kỹ năng mềm bổ trợ tốt nhất cho công việc.</li>
                <li>Lộ trình phát triển và thăng tiến cụ thể.&nbsp;Xét tăng lương cố định 2 lần/ năm.</li>
                <li>Gia nhập đội ngũ nhân viên trẻ trung và tham gia Teambuilding.&nbsp;</li>
                <li>Thời gian làm việc linh động, gia nhập đội ngũ nhân viên trẻ trung và môu trường làm việc năng động.</li>
                <li>Thời gian làm việc: Thứ 2 - Thứ 6, 8h30 - 17h00, nghỉ trưa 12h00 - 13h00</li>
            </ul>
            <h2 id="7-gioi-thieu-ve-cong-ty-fago-agency">7. Giới thiệu về công ty Fago Agency</h2>
            <p>
            <p style="text-align:center;">
                <img alt="" src="./assets/img/content_gioi-thieu-ve-cong-ty-Fago-agency.jpg">
            </p>
            </p>
            <p>Fago agency là công ty chuyên cung cấp giải pháp Marketing online cho doanh nghiệp nhỏ và siêu nhỏ</p>
            <p>Sau hơn 5+ năm hoạt động, Công ty đã cung cấp dịch vụ cho hơn 500+ doanh nghiệp với hơn 30+ lĩnh vực như: FnB, Vận tải, giáo dục, bất động sản, sản phẩm tiêu dùng, đồ điện tử, đồ dùng thông minh, nội thất......</p>
            <p>Với dịch vụ chính cung cấp bao gồm:</p>
            <ul>
                <li>Thiết kế website chuẩn SEO</li>
                <li>SEO tổng thể cam kết từ khóa lên TOP</li>
                <li>Vận hành thương mại điện tử: Shopee, Tiki, Lazada</li>
                <li>Vận hành quảng cáo google: Google search Ads, Google shopping</li>
                <li>Vận hành quảng cáo Facebook</li>
                <li>Xây dựng bộ nhận diện thương hiệu</li>
            </ul>
            <h2 id="8-van-hoa-lam-viec-tai-fago-agency">8. Văn hoá làm việc tại Fago Agency</h2>
            <p>Fago Agency với sứ mện giúp 10.000+ doanh nghiệp nhỏ và siêu nhỏ số hóa thành công và tạo được lợi nhuận từ kênh online .</p>
            <p>Với văn hóa 7 KHÔNG của công ty:</p>
            <ul>
                <li>Không sợ bẩn tay =&gt; Lúc cấp bách thì việc gì cũng phải làm</li>
                <li>Không sợ cái mới =&gt; Càng làm việc mới thì càng biết nhiều hơn</li>
                <li>Không sợ dẫm c** =&gt; dẫm xong rồi càng có nhiều kinh nghiệm</li>
                <li>Không đòi đường đẹp (đường đang xây) =&gt; hãy cùng xây đường</li>
                <li>Không đắn đo (xoáy liên tục) =&gt; Làm ra bản draft nhanh nhất có thể</li>
                <li>Không rạch ròi =&gt; làm thêm cả việc của đồng nghiệp để đảm bảo mục tiêu</li>
                <li>Không sợ tranh luận =&gt; Tranh luận đến cùng dựa trên số liệu nếu biết mình đúng</li>
            </ul>
            <p>&nbsp;</p>
        </div>
    </div>
</div>