<div class="container-fluid fixMenuSpecial cateRecruitFagoAgency">
    <div class="breadcrumbsBlock">
        <div class="container containerFix">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumbFix">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Tuyển dụng</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="section_1">
        <div class="container">
            <div class="row">
                <div class="imgBlock">
                    <img alt="tuyen_dung" src="./assets/img/gioi-thieu-fagoagency.webp">
                </div>
                <div class="textBlock">
                    <div class="titleBlock_1">
                        <p class="text_1">Phát triển sự nghiệp</p>
                        <p class="text_2">TẠI CÔNG TY FAGOGROUP</p>
                        <div class="underline"></div>
                    </div>
                    <div class="textContent">
                        <p class="text_1">Fago Agency với sứ mện giúp 10.000+ doanh nghiệp nhỏ và siêu nhỏ số hóa thành công và tạo được lợi nhuận từ kênh online .</p>
                        <p class="text_1">Với văn hóa 7 KHÔNG của công ty:</p>
                        <p class="text_1">- Không sợ bẩn tay =&gt; Lúc cấp bách thì việc gì cũng phải làm</p>
                        <p class="text_1">- Không sợ cái mới =&gt; Càng làm việc mới thì càng biết nhiều hơn</p>
                        <p class="text_1">- Không sợ dẫm c** =&gt; dẫm xong rồi càng có nhiều kinh nghiệm</p>
                        <p class="text_1">- Không đòi đường đẹp (đường đang xây) =&gt; hãy cùng xây đường</p>
                        <p class="text_1">- Không đắn đo (xoáy liên tục) =&gt; Làm ra bản draft nhanh nhất có thể</p>
                        <p class="text_1">- Không rạch ròi =&gt; làm thêm cả việc của đồng nghiệp để đảm bảo mục tiêu</p>
                        <p class="text_1">- Không sợ tranh luận =&gt; Tranh luận đến cùng dựa trên số liệu nếu biết mình đúng</p>
                    </div>
                    <div class="btnApply">
                        <a class="contactCallPopUp" contacttext="Gọi điện" data-target="#popupWhenClickContact" data-toggle="modal" data="phone" datahref="tel:0934014388" idgoogleget="btn_phone_id" title="Liên hệ">
                            <p class="btnType_1">ỨNG TUYỂN NGAY</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="specialBlock_13">
        <div class="container">
            <div class="titleBlock_1">
                <p class="text_1 text_cent">Môi trường làm việc tại</p>
                <p class="text_2 text_cent">FAGOGROUP</p>
                <div class="underline m-auto"></div>
            </div>
            <div class="row">
                <div class="smallBlock">
                    <div class="imgPart">
                        <img alt="tuyen_dung" src="./assets/img/item_30.png">
                    </div>
                    <div class="textPart">
                        <p class="text_1">VĂN HÓA CON NGƯỜI</p>
                        <p class="text_2">Lấy con người làm trung tâm. Phát triển con người chính là phát huy sức mạnh của tổ chức, từ đó đồng hành cùng các doanh nghiệp trên con đường số hóa doanh nghiệp</p>
                    </div>
                </div>
                <div class="smallBlock">
                    <div class="imgPart">
                        <img alt="tuyen_dung" src="./assets/img/item_31.png">
                    </div>
                    <div class="textPart">
                        <p class="text_1">CHÍNH SÁCH NHÂN SỰ</p>
                        <p class="text_2">Xây dựng quy trình từ những việc nhỏ nhất: từ quy trình làm việc với các phòng ban, quy trình trao đổi với khách hàng để cùng đạt được mục tiêu chung</p>
                    </div>
                </div>
                <div class="smallBlock">
                    <div class="imgPart">
                        <img alt="tuyen_dung" src="./assets/img/item_32.png">
                    </div>
                    <div class="textPart">
                        <p class="text_1">TÁC PHONG CHUYÊN NGHIỆP</p>
                        <p class="text_2">Là 1 công ty startup, Fago agency luôn xem trọng con người và trả thu nhập xứng đáng tới từng thành viên trong công ty</p>
                    </div>
                </div>
                <div class="smallBlock">
                    <div class="imgPart">
                        <img alt="tuyen_dung" src="./assets/img/item_33.png">
                    </div>
                    <div class="textPart">
                        <p class="text_1">THỜI GIAN LÀM VIỆC LINH HOẠT</p>
                        <p class="text_2">Toàn bộ công ty làm việc theo mục tiêu, không làm việc theo thời gian. Từ đó, thoải mái sáng tạo phương pháp để đạt được mục tiêu sớm nhất với chi phí thấp nhất</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section_2">
        <div class="bgColorTransparent"></div>
        <div class="container containerFix">
            <p class="text_1">CÁC VỊ TRÍ ĐANG TUYỂN DỤNG</p>
            <p class="text_2">Văn phòng của chúng tôi tại Hà Nội và TP HCM luôn có những dự án mới cần tới sự góp sức của bạn. Hãy tham khảo các vị trí dưới đây và gửi CV ngay cho chúng tôi nhé.</p>
        </div>
    </div>
    <div class="section_3">
        <div class="container">
            <div class="jobsBlock">
                <div class="specialBlock_14">
                    <p class="text text_1"><i class="fixStyle">01.</i>Chương Trình Tuyển Dụng Internship Program For Future Leaders
                    </p>
                    <div class="part_2">
                        <p class="text text_2">TP. Hồ Chí Minh</p>
                        <a class="text text_3" href="">ỨNG TUYỂN</a>
                    </div>
                </div>
                <div class="specialBlock_14">
                    <p class="text text_1"><i class="fixStyle">02.</i>Tuyển Dụng Nhân Viên Sale Marketing(Account Executive)
                    </p>
                    <div class="part_2">
                        <p class="text text_2">TP. Hồ Chí Minh</p>
                        <a class="text text_3" href="">ỨNG TUYỂN</a>
                    </div>
                </div>
                <div class="specialBlock_14">
                    <p class="text text_1"><i class="fixStyle">03.</i>Tuyển Dụng Thực Tập Sinh Vị Trí Sale Marketing
                    </p>
                    <div class="part_2">
                        <p class="text text_2">TP. Hồ Chí Minh</p>
                        <a class="text text_3" href="">ỨNG TUYỂN</a>
                    </div>
                </div>
                <div class="specialBlock_14">
                    <p class="text text_1"><i class="fixStyle">04.</i>Tuyển Dụng Nhân Viên Digital Marketing
                    </p>
                    <div class="part_2">
                        <p class="text text_2">TP. Hồ Chí Minh</p>
                        <a class="text text_3" href="">ỨNG TUYỂN</a>
                    </div>
                </div>
                <div class="specialBlock_14">
                    <p class="text text_1"><i class="fixStyle">05.</i>Tuyển Dụng Thực Tập Sinh Digital Marketing
                    </p>
                    <div class="part_2">
                        <p class="text text_2">TP. Hồ Chí Minh</p>
                        <a class="text text_3" href="">ỨNG TUYỂN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contactBlock_1">
        <div class="container">
            <div class="row">
                <div class="leftBlock">
                    <p class="text_1">LIÊN HỆ VỚI CHÚNG TÔI</p>
                    <p class="text_2">0934014388</p>
                    <p class="text_3">
                        <i aria-hidden="true" class="faFix fa fa-map-marker"></i>
                        HN :  web_config('office_address')
                    </p>
                    <p class="text_3">
                        <i aria-hidden="true" class="faFix fa fa-map-marker"></i>
                        HCM : 675 Nguyễn Kiệm, Phường 9, Quận Phú Nhuận .
                    </p>
                    <p class="text_3">
                        <i aria-hidden="true" class="faFix fa fa-map-marker"></i>
                        HCM : 26/1 Nguyễn Minh Hoàng, Phường 12, Quận Tân Bình, HCM .
                    </p>
                    <p class="text_3">
                        <i aria-hidden="true" class="faFix fa fa-envelope-o"></i>
                        sale@fagogroup.vn
                    </p>
                    <div class="btnContact">
                        <a class="btnType_1 contactCallPopUp contactCallPopUpPhone" contacttext="Gọi điện" data-target="" data-toggle="modal" data="phone" datahref="tel:0934014388" idgoogleget="btn_phone_id" title="Liên hệ">LIÊN HỆ NGAY</a>
                    </div>
                </div>
                <div class="rightBlock">
                    <div class="socialBlock_1">
                        <a class="socialPart facePart" href="" rel="nofollow" target="_blank" title="facebook">
                            <img alt="social" src="./assets/img/face_icon.svg">
                        </a>
                        <a class="socialPart instagramPart" href="" rel="nofollow" target="_blank" title="instagram">
                            <img alt="social" src="./assets/img/instagram_icon.svg">
                        </a>
                        <a class="socialPart twitterPart" href="" rel="nofollow" target="_blank" title="twitter">
                            <img alt="social" src="./assets/img/twitter_icon.svg">
                        </a>
                        <a href="" class="socialPart gPlusPart">
                            <img alt="social" src="./assets/img/g_plus_icon.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../share/galleryBlock.html" %}
</div>