<div class="container-fluid fixMenuSpecial internshipFagoAgency">
    <div class="specialBlock_17">
        <div class="container">
            <div class="imgBlock">
                <picture>
                    <source media="(max-width: 575px)" srcset="./assets/img/img_124.webp">
                    <img alt="fagoagency" src="./assets/img/img_123.webp">
                </picture>
            </div>
            <div class="contactBlock Desktop_2">
                <a class="smallPart" href="mailto:seo@fagogroup.vn">
                    <p class="contactUs mail">seo@fagogroup.vn</p>
                </a>
                <a class="smallPart" href="/chuong-trinh-tuyen-dung">
                    <p class="contactUs web">fagoagency.vn/chuong-trinh-tuyen-dung</p>
                </a>
            </div>
        </div>
    </div>
    <div class="specialBlock_18">
        <div class="container containerFix">
            <div class="imgPart_1">
                <img alt="fagoagency" src="./assets/img/img_125.png">
            </div>
            <div class="row rowFix">
                <div class="textBlock">
                    <div class="titleBlock_3">
                        <p class="titleText_1">for who</p>
                        <p class="titleText_2">Những ứng viên nào phù hợp tham gia chương trình?</p>
                    </div>
                    <div class="wrapContent">
                        <p class="checkText">Là sinh viên năm cuối của bất kỳ ngành nghề nào, chỉ cần Đam mê lĩnh vực Marketing, Công Nghệ và yêu thích khởi nghiệp.</p>
                        <p class="checkText">Thích Nghi nhanh với sự thay đổi của công ty cũng như sản phẩm.</p>
                        <p class="checkText">Kiên trì và chịu được áp lực lớn.</p>
                        <p class="checkText">Tư duy logic cao và Làm việc theo mục tiêu.</p>
                    </div>
                </div>
                <div class="imgBlock">
                    <img alt="fagoagency" src="./assets/img/img_126.webp">
                </div>
            </div>
        </div>
    </div>
    <div class="specialBlock_19">
        <div class="container">
            <div class="titleBlock_3">
                <p class="titleText_1">get what</p>
                <p class="titleText_2">Các ứng viên nhận được gì trong chương trình?</p>
            </div>
            <div class="row area_1">
                <div class="smallBlock" style="background-color: var(--xanh_chu_dao_1);">
                    <p class="text">Cách lập kế hoạch theo mục tiêu OKR, từ đó bám sát mục tiêu dựa vào các chỉ số đã đề ra</p>
                </div>
                <div class="smallBlock" style="background-color: var(--xanh_chu_dao_2);">
                    <p class="text">Được Trải Nghiệm 3+ vị trí khác nhau trong lĩnh vực Agency</p>
                </div>
            </div>
            <div class="row area_2">
                <div class="imgBlock">
                    <img alt="fagoagency" src="./assets/img/img_127.webp">
                </div>
                <div class="textBlock">
                    <div class="textPart">
                        <p class="text_1">SEO: Hiểu sâu sắc về lĩnh vực SEO trong doanh nghiệp và cách lên Top từ khoá bền vững dựa vào các case Study đang triển khai của khách hàng Fago Agency</p>
                        <p class="checkText_2">Phân tích từ khóa và phân nhóm từ khóa</p>
                        <p class="checkText_2">Nghiên cứu đối thủ từ đó đưa được lộ trình để triển khai SEO</p>
                        <p class="checkText_2">Lập kế hoạch SEO 3 tháng - 6 tháng - 9 Tháng - 12 tháng với ngân sách tối thiểu để đạt mục tiêu</p>
                        <p class="checkText_2">Phân nhóm từ khóa và lên layout cho nội dung content SEO viết bài</p>
                        <p class="checkText_2">Biết khách triển khai entity cho brand hoặc sản phẩm</p>
                        <p class="checkText_2">Cách Off page chi tiết</p>
                        <p class="checkText_2">Cách audit website và triển khai Onpage.</p>
                    </div>
                    <div class="textPart">
                        <p class="text_1">Google Ads: Vận hành thuần thục quảng cáo google, biết lập kế hoạch và tối ưu quảng cáo google search - google shopping - google display Network</p>
                        <p class="checkText_2">Cách cài đặt tài khoản quảng cáo và kết nối tài khoản quảng cáo với google analytics, google search console, Merchant center, youtube</p>
                        <p class="checkText_2">Cách sử dụng google tag manager để gắn chuyển đổi cho website</p>
                        <p class="checkText_2">Cách lập kế hoạch từ khóa chi tiết</p>
                        <p class="checkText_2">Cách viết nội dung cho quảng cáo và tiện ích quảng cáo với điểm tối ưu</p>
                        <p class="checkText_2">Cách đọc chỉ số để tối ưu tài khoản quảng cáo và website để đạt tỷ lệ chuyển đổi tốt nhất.</p>
                    </div>
                    <div class="textPart">
                        <p class="text_1">Vận hành thương mại điện tử: Biết Cách triển khai 1 shop mới trên thương mại điện tử - tối ưu và scale doanh thu trên sản thương mại điện tử Shopee - Lazada - Tiki</p>
                        <p class="checkText_2">Cách thiết lập 1 gian hàng chuẩn SEO trên TMDT</p>
                        <p class="checkText_2">Cách tối ưu từ khóa trong sản phẩm cũng như gian hàng</p>
                        <p class="checkText_2">Cách thức tạo sản phẩm và giá phù hợp với sàn thương mại điện tử</p>
                        <p class="checkText_2">Cách tạo và sử dụng các chương trình khuyến mãi của từng sàn thương mại điện tử</p>
                        <p class="checkText_2">Cách thiết lập quảng cáo trên sàn thương mại điện tử</p>
                        <p class="checkText_2">Cách đọc chỉ số để tối ưu tài khoản quảng cáo, nội dung, hình ảnh và video để đạt tỷ lệ chuyển đổi tốt nhất.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="specialBlock_20">
        <div class="imgBlock">
            <picture>
                <source media="(max-width: 575px)" srcset="./assets/img/img_129.webp">
                <img alt="fagoagency" src="./assets/img/img_128.webp">
            </picture>
        </div>
    </div>
    <div class="specialBlock_21">
        <div class="container">
            <div class="wrapWidth">
                <div class="wrapRatePart">
                    <div class="ratePart">
                        <i aria-hidden="true" class="fa fa-star"></i>
                        <i aria-hidden="true" class="fa fa-star"></i>
                        <i aria-hidden="true" class="fa fa-star"></i>
                        <i aria-hidden="true" class="fa fa-star"></i>
                        <i aria-hidden="true" class="fa fa-star"></i>
                    </div>
                </div>
                <div class="textPart">
                    <p class="text">Đột Phá Sau 6 Tháng - 1 Năm Trở Thành Project Manager hoặc Marketing Expert</p>
                </div>
            </div>
        </div>
    </div>
    <div class="specialBlock_22">
        <div class="container">
            <div class="titleBlock_3">
                <p class="titleText_1">How to register</p>
                <p class="titleText_2">Quy trình ứng tuyển</p>
            </div>
            <div class="imgBlock">
                <picture>
                    <source media="(max-width: 575px)" srcset="./assets/img/img_131.webp">
                    <img alt="fagoagency" src="./assets/img/img_130.webp">

                </picture>
            </div>
        </div>
    </div>
    <div class="specialBlock_23">
        <div class="container">
            <div class="titleBlock_3">
                <p class="titleText_1">trainers</p>
                <p class="titleText_2">Mentor dẫn dẵn và đào tạo cho các bạn</p>
            </div>
            <div class="specialBlock_24">
                <div class="imgBlock">
                    <img alt="fagoAgency" src="./assets/img/img_132.png">
                </div>
                <div class="textBlock">
                    <p class="text_1">Hoàng Tiến Cường</p>
                    <p class="text_1">CEO Fago Group</p>
                    <p class="text_2">Hơn 9+ năm kinh nghiệm làm công nghệ và Marketing cho các doanh nghiệp nhỏ đến lớn như: Samsung, Topica Native, Topica Edumall, Vatgia, VNP group</p>
                    <div class="textBox">
                        <div class="imgTrangTri">
                            <img alt="fagoagency" src="./assets/img/img_135.png">
                        </div>
                        <p class="text_3">Từng startup 1 số công ty công nghệ như:</p>
                        <p class="text_3">- SM999 - Sale management: Phần mềm quản lý nhân viên kinh doanh</p>
                        <p class="text_3">- CEO Intergration - Mạng xã hội dành cho chủ doanh nghiệp</p>
                        <p class="text_3">- Wehelp - Nền tảng kết nối Freelancer và người dùng</p>
                        <p class="text_3">Một mình anh đã từng quản trị ngân sách online trên kênh Facebook và google 5 tỷ/tháng.</p>
                        <p class="text_3">Anh luôn tìm tòi những phương pháp tốt nhất để tối ưu cho doanh nghiệp và khai phá thành công doanh thu từ kênh online.</p>
                    </div>
                </div>
            </div>
            <div class="specialBlock_24">
                <div class="imgBlock">
                    <img alt="fagoAgency" src="./assets/img/img_133.png">
                </div>
                <div class="textBlock">
                    <p class="text_1">Lê Văn Tuấn Anh</p>
                    <p class="text_1">CEO Fago Agency</p>
                    <div class="textBox">
                        <div class="imgTrangTri">
                            <img alt="fagoagency" src="./assets/img/img_135.png">
                        </div>
                        <p class="text_3">Hơn 5 năm kinh nghiệm trong lĩnh vực SEO</p>
                        <p class="text_3">Phụ trách trực tiếp và gián tiếp hơn 20 dự án SEO</p>
                        <p class="text_3">Đạt TOP 1 nhiều từ khóa độ khó tầm trung ở một số lĩnh vực cạnh tranh trong thời gian từ 3-6 tháng</p>
                        <p class="text_3">Phương châm làm việc: luôn lấy Khách Hàng làm trọng tâm, luôn tìm ra giải pháp để giải quyết vấn đề.</p>
                    </div>
                </div>
            </div>
            <div class="specialBlock_24">
                <div class="imgBlock">
                    <img alt="fagoAgency" src="./assets/img/img_134.png">
                </div>
                <div class="textBlock">
                    <p class="text_1">Bùi Đức Nam</p>
                    <p class="text_1">COO Fago Agency</p>
                    <div class="textBox">
                        <div class="imgTrangTri">
                            <img alt="fagoagency" src="./assets/img/img_135.png">
                        </div>
                        <p class="text_3">Hơn 5 năm kinh nghiệm trong lĩnh vực SEO</p>
                        <p class="text_3">Phụ trách trực tiếp và gián tiếp hơn 20 dự án SEO</p>
                        <p class="text_3">Đạt TOP 1 nhiều từ khóa độ khó tầm trung ở một số lĩnh vực cạnh tranh trong thời gian từ 3-6 tháng</p>
                        <p class="text_3">Phương châm làm việc: luôn lấy Khách Hàng làm trọng tâm, luôn tìm ra giải pháp để giải quyết vấn đề.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="specialBlock_25">
        <div class="container">
            <div class="imgBlock">
                <picture>
                    <source media="(max-width: 575px)" srcset="./assets/img/img_137.webp">
                    <img alt="fagoagency" src="./assets/img/img_136.webp">
                </picture>
            </div>
        </div>
    </div>
</div>