<div class="container-fluid serviceFagoAgency serviceFagoAgency_6">
    <div class="section_1">
        <div class="container">
            <div class="row">
                <div class="textBlock">
                    <div class="d-none">
                        <h1>DỊCH VỤ QUẢNG CÁO FACEBOOK ADS</h1>
                    </div>
                    <p class="text_1">DỊCH VỤ</p>
                    <p class="text_2">QUẢNG CÁO FACEBOOK ADS</p>
                    <div class="btnContact">
                        <button class="btnType_3 contactCallPopUp" contacttext="Gọi điện" data-target="#popupWhenClickContact" data-toggle="modal" data="phone" datahref="tel:0934014388" idgoogleget="btn_phone_id" target="_blank" title="Liên hệ">LIÊN HỆ TƯ VẤN</button>
                    </div>
                </div>
                <div class="imgBlock">
                    <img alt="quang_cao_face" src="./assets/img/img_72.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumbsBlock">
        <div class="container containerFix">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumbFix">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Dịch Vụ Quảng Cáo Facebook Ads</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="secMainContent data_contents getTableOfContentBlock">
        <div class="section_2">
            <div class="container">
                <div class="titleBlock_2">
                    <p class="text_1">CÁC BƯỚC</p>
                    <p class="text_2">TRIỂN KHAI DỰ ÁN FACEBOOK</p>
                </div>
                <p class="textUnderTitleBlock">Wehelp agency - đơn vị thiết kế thương hiệu cao cấp, sẽ giúp bạn sở hữu bộ nhận diện thương hiệu chuyên nghiệp, tư vấn xây dựng và triển khai chiến lược thương hiệu, làm nền móng vững chắc cho sự phát triển của doanh nghiệp.</p>
                <div class="tableOfContent appearContent">
                    <div class="title"> Nội dung bài viết: <i aria-hidden="true" class="fa fa-angle-down clickToggle"></i>
                    </div>
                    <div class="mucLucPart bookmark-list">
                        <ul>
                            <li class="data" style="list-style: unset;">
                                <a href="#1-doanh-nghiep-nhu-the-nao-thi-nen-su-dung-dich-vu-quang-cao-facebook-cua-fago-agency"> 1. Doanh nghiệp như thế nào thì nên sử dụng dịch vụ quảng cáo Facebook của Fago Agency </a>
                            </li>
                            <li class="data" style="list-style: unset;">
                                <a href="#2-cac-buoc-len-quang-cao-khi-khach-hang-su-dung-dich-vu-quang-cao-facebook"> 2. Các bước lên quảng cáo khi khách hàng sử dụng dịch vụ quảng cáo Facebook </a>
                            </li>
                            <li class="sub_data" style="list-style: unset;">
                                <a href="#2-1-nghien-cuu-san-pham-va-fanpage"> 2.1 Nghiên cứu sản phẩm và Fanpage </a>
                            </li>
                            <li class="sub_data" style="list-style: unset;">
                                <a href="#2-2-len-noi-dung-va-hinh-anh-cho-bai-quang-cao"> 2.2 Lên nội dung và hình ảnh cho bài quảng cáo </a>
                            </li>
                            <li class="sub_data" style="list-style: unset;">
                                <a href="#2-3-chuan-bi-noi-dung-seeding"> 2.3. Chuẩn bị nội dung seeding </a>
                            </li>
                            <li class="sub_data" style="list-style: unset;">
                                <a href="#2-5-toi-uu-quang-cao-facebook-ads"> 2.5 Tối ưu quảng cáo Facebook Ads </a>
                            </li>
                            <li class="sub_data" style="list-style: unset;">
                                <a href="#2-6-bao-cao-theo-ngay-cac-chi-so"> 2.6. Báo cáo theo ngày các chỉ số </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="wrapCol">
                        <div class="specialBlock_12">
                            <div class="imgPart">
                                <p style="text-align:center;">
                                    <img alt="quang_cao_face" class="unWrapCenter" src="./assets/img/img_73.jpg">
                                </p>
                            </div>
                            <div class="textPart">
                                <p class="text_1">Xác lập mục tiêu của khách hàng</p>
                                <div class="underline"></div>
                                <ul>
                                    <li class="text_2" style="list-style: unset;">Số lượng contact/ngày</li>
                                    <li class="text_2" style="list-style: unset;">Giá contact/ngày</li>
                                    <li class="text_2" style="list-style: unset;">Chất lượng contact</li>
                                    <li class="text_2" style="list-style: unset;">Chi phí Marketing/doanh thu</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="wrapCol">
                        <div class="specialBlock_12">
                            <div class="imgPart">
                                <p style="text-align:center;">
                                    <img alt="quang_cao_face" class="unWrapCenter" src="./assets/img/img_74.jpg">
                                </p>
                            </div>
                            <div class="textPart">
                                <p class="text_1">Xác lập hướng triển khai</p>
                                <div class="underline"></div>
                                <ul>
                                    <li class="text_2" style="list-style: unset;">Phân tích sản phẩm theo concept 4H - HSSBC</li>
                                    <li class="text_2" style="list-style: unset;">Phân tích đổi thủ</li>
                                    <li class="text_2" style="list-style: unset;">Xác lập nguồn lực sẽ triển khai theo 5M: Man</li>
                                    <li class="text_2" style="list-style: unset;">Method - Machine - Material - Money</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="wrapCol">
                        <div class="specialBlock_12">
                            <div class="imgPart">
                                <p style="text-align:center;">
                                    <img alt="quang_cao_face" class="unWrapCenter" src="./assets/img/img_75.jpg">
                                </p>
                            </div>
                            <div class="textPart">
                                <p class="text_1">Lên kế hoạch chương trình chạy Ads chi tiết</p>
                                <div class="underline"></div>
                                <ul>
                                    <li class="text_2" style="list-style: unset;">Số lượng contact/ngày</li>
                                    <li class="text_2" style="list-style: unset;">Giá contact/ngày</li>
                                    <li class="text_2" style="list-style: unset;">Chất lượng contact</li>
                                    <li class="text_2" style="list-style: unset;">Chi phí Marketing/doanh thu</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="wrapCol wrapCol_1">
                        <div class="specialBlock_12">
                            <div class="imgPart">
                                <p style="text-align:center;">
                                    <img alt="quang_cao_face" class="unWrapCenter" src="./assets/img/img_76.jpg">
                                </p>
                            </div>
                            <div class="textPart">
                                <p class="text_1">Lựa chọn hình thức chạy Ads phù hợp</p>
                                <div class="underline"></div>
                                <ul>
                                    <li class="text_2" style="list-style: unset;">Boot post</li>
                                    <li class="text_2" style="list-style: unset;">Message</li>
                                    <li class="text_2" style="list-style: unset;">Lead Form</li>
                                    <li class="text_2" style="list-style: unset;">Carouse</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="wrapCol wrapCol_2">
                        <div class="specialBlock_12">
                            <div class="imgPart">
                                <p style="text-align:center;">
                                    <img alt="quang_cao_face" class="unWrapCenter" src="./assets/img/img_74.jpg">
                                </p>
                            </div>
                            <div class="textPart">
                                <p class="text_1">Báo cáo</p>
                                <div class="underline"></div>
                                <ul>
                                    <li class="text_2" style="list-style: unset;">Báo cáo và tối ưu chạy Ads theo ngày - tháng</li>
                                    <li class="text_2" style="list-style: unset;">Đo lường về chất lượng contact --&gt; quay lại cải tiến chương trình và content</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btnContact">
                    <a class="btnType_3 contactCallPopUp" contacttext="Gọi điện" data-target="#popupWhenClickContact" data-toggle="modal" data="phone" datahref="tel:0934014388" idgoogleget="btn_phone_id" target="_blank" title="Liên hệ">GỌI NGAY CHO CHÚNG TÔI</a>
                </div>
            </div>
        </div>
        <div class="specialBlock_3">
            <div class="container">
                <div class="data_contents">
                    <h2 dir="ltr" id="1-doanh-nghiep-nhu-the-nao-thi-nen-su-dung-dich-vu-quang-cao-facebook-cua-fago-agency">
                        <strong>1. Doanh nghiệp như thế nào thì nên sử dụng dịch vụ quảng cáo Facebook của Fago Agency</strong>
                    </h2>
                    <ul>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Doanh nghiệp có sản phẩm/ Dịch vụ tuân thủ chính sách của Facebook(Fago Agency không cung cấp dịch vụ với các sản phẩm tài chính, cờ bạc, bóng đá, thương hiệu.....)</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Doanh nghiệp có sản phẩm/dịch vụ chất lượng và mong muốn xây dựng kênh bán hàng online bền vững</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Doanh nghiệp có Fanpage chất lượng và đầu tư hình ảnh và nội dung tốt</p>
                        </li>
                    </ul>
                    <blockquote>
                        <p dir="ltr" role="presentation">Fago Agency không triển khai các sản phẩm/ Dịch vụ cấm hoặc vi phạm chính sách trên Facebook: Đông y, Thực phẩm chức năng, game, cờ bạc, sản phẩm thương hiệu(Adidas, Nike,....)</p>
                    </blockquote>
                    <h2 dir="ltr" id="2-cac-buoc-len-quang-cao-khi-khach-hang-su-dung-dich-vu-quang-cao-facebook">
                        <strong>2. Các bước lên quảng cáo khi khách hàng sử dụng dịch vụ quảng cáo Facebook</strong>
                    </h2>
                    <h3 dir="ltr" id="2-1-nghien-cuu-san-pham-va-fanpage">
                        <em>
                            <strong>2.1 Nghiên cứu sản phẩm và Fanpage</strong>
                        </em>
                    </h3>
                    <p dir="ltr">Đây là bước cực kỳ quan trọng, Fago Agency không phải chỉ mỗi việc lên quảng cáo. Chúng tôi đòi hỏi phải hiểu sản phẩm của bạn, từ đó mới có thể viết được content chạy quảng cáo tốt và design được ảnh phù hợp</p>
                    <p dir="ltr">Fanpage rất quan trọng trong việc tạo tệp chạy quảng cáo facebook ads để tối ưu quảng cáo. Vì vậy, Fago Agency sẽ phân tích các yếu tố sau của Fanpage:</p>
                    <p dir="ltr">
                    <p style="text-align:center;">
                        <img src="./assets/img/17-info-1200x1200px.webp">
                    </p>
                    </p>
                    <p dir="ltr">(Hình ảnh mang tính chất minh họa)</p>
                    <ul>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Page bao nhiêu like? là like thật hay like ảo</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Tỷ lệ reach/like page là bao nhiêu</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Tỷ lệ tương tác/reach post là bao nhiêu?</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Các chủ đề nội dung của fanpage có đúng insight khách hàng mua sản phẩm hay không</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">……….</p>
                        </li>
                    </ul>
                    <h3 dir="ltr" id="2-2-len-noi-dung-va-hinh-anh-cho-bai-quang-cao">
                        <em>
                            <strong>2.2 Lên nội dung và hình ảnh cho bài quảng cáo</strong>
                        </em>
                    </h3>
                    <p dir="ltr">Với dịch vụ quảng cáo facebook, Fago Agency sẽ lên quảng cáo với nhiều chiến dịch khác nhau, tuỳ thuộc vào mục tiêu của khách hàng</p>
                    <p dir="ltr">Các loại chiến dịch có thể chạy quảng cáo:</p>
                    <ul>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Quảng cáo facebook like page</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Quảng cáo facebook tương tác bài viết</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Quảng cáo facebook tăng view, tăng nhận diện thương hiệu</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Quảng cáo facebook tăng tin nhắn</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Quảng cáo facebook để lại form đăng ký</p>
                        </li>
                    </ul>
                    <p dir="ltr">Tuỳ thuộc vào từng loại chiến dịch, Fago Agency sẽ có các loại hiển thị khác nhau. cụ thể:</p>
                    <h4 dir="ltr">
                        <em>2.2.1 Với quảng cáo like page, Fago Agency sẽ sử dụng định dạng hiển thị:</em>
                    </h4>
                    <ul>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">01 ảnh</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Hoặc 01 video</p>
                        </li>
                    </ul>
                    <p dir="ltr">
                    <p style="text-align:center;">
                        <img src="./assets/img/17-quang-cao-facebook-like-page-dang-video.webp">
                    </p>
                    </p>
                    <h4 dir="ltr">
                        <em>2.2.2. Với quảng cáo facebook tương tác bài viết, Fago agency sẽ sử dụng định dạng hiển thị:</em>
                    </h4>
                    <ul>
                        <li aria-level="1" dir="ltr">
                            <p dir="ltr" role="presentation">Bài viết có sẵn trên fanpage với &gt; 4 ảnh.</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Hoặc 01 video có độ thu hút cao.</p>
                        </li>
                    </ul>
                    <p dir="ltr">
                    <p style="text-align:center;">
                        <img src="./assets/img/17-chay-quang-cao-facebook-mess-dang-video.webp">
                    </p>
                    </p>
                    <h4 dir="ltr">
                        <em>2.2.3 Với quảng cáo facebook ra tin nhắn, Fago Agency sẽ sử dụng định dạng hiển thị:</em>
                    </h4>
                    <ul>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Quảng cáo xoay vòng hoặc video với các fanpage cũ.</p>
                        </li>
                    </ul>
                    <p dir="ltr">
                    <p style="text-align:center;">
                        <img src="./assets/img/17-Quang-cao-facebook-dang-anh-quay-vong.webp">
                    </p>
                    </p>
                    <ul>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Quảng cáo với bài viết có sẵn với fanpage mới.</p>
                        </li>
                    </ul>
                    <p dir="ltr">
                    <p style="text-align:center;">
                        <img src="./assets/img/17-dich-vu-quang-cao-facebook-dang-post-mess.webp">
                    </p>
                    </p>
                    <p dir="ltr">
                    <p style="text-align:center;">
                        <img src="./assets/img/17-dich-vu-quang-cao-facebook-dang-tin-nhan.webp">
                    </p>
                    </p>
                    <p dir="ltr">Và phải phù hợp với ngành nghề của sản phẩm và insight của khách hàng. Không nên cứng nhắc áp dụng mà phải có sự thử nghiệm, phải có số liệu thống kê.</p>
                    <h4 dir="ltr">
                        <em>2.2.4 Với quảng cáo facebook ra form đăng ký</em>
                    </h4>
                    <ul>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Sử dụng 01 video là ưu tiên lựa chọn.</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Hoặc sử dụng một hình ảnh có chữ rõ ràng về thông điệp.</p>
                        </li>
                    </ul>
                    <p dir="ltr">
                    <p style="text-align:center;">
                        <img src="./assets/img/17-chay-quang-cao-facebook-dang-leadform.webp">
                    </p>
                    </p>
                    <p dir="ltr">Quảng cáo khách hàng tiềm năng trên Facebook</p>
                    <h3 dir="ltr" id="2-3-chuan-bi-noi-dung-seeding">
                        <em>
                            <strong>2.3. Chuẩn bị nội dung seeding</strong>
                        </em>
                    </h3>
                    <p dir="ltr">Đây là bước không thể thiếu trong quá trình lên quảng cáo facebook. Vì người dùng mua hàng đa số dựa vào đánh giá của người đã từng mua</p>
                    <div class="tableBlockType_7">
                        <div class="scrollMobiForTable">
                            <table>
                                <tbody>
                                <tr class="trLine_1">
                                    <td>STT</td>
                                    <td>Câu hỏi</td>
                                    <td>Phản hồi bình luận</td>
                                </tr>
                                <tr class="trLine_2">
                                    <td class="tdCol_1">1</td>
                                    <td>Ib mình</td>
                                    <td>Cảm ơn Quý khách đã quan tâm đến dịch vụ của VPass. Chúng tôi đã liên hệ qua tin nhắn Quý khách vui lòng kiểm tra để được tư vấn chi tiết ạ!</td>
                                </tr>
                                <tr class="trLine_2">
                                    <td class="tdCol_1">2</td>
                                    <td>Ib ạ</td>
                                    <td>Cảm ơn Quý khách đã quan tâm đến dịch vụ của VPass. Chúng tôi đã liên hệ qua tin nhắn Quý khách vui lòng kiểm tra để được tư vấn chi tiết ạ!</td>
                                </tr>
                                <tr class="trLine_2">
                                    <td class="tdCol_1">3</td>
                                    <td>Ký gửi như thế nào? Vui lòng hướng dẫn tôi</td>
                                    <td>Dạ thủ tục rất đơn giản. VPass đã nhắn tin hướng dẫn chi tiết cho quý khách ở phần tin nhắn, quý khách vui lòng kiểm tra tin nhắn để được tư vấn chi tiết ạ!</td>
                                </tr>
                                <tr class="trLine_2">
                                    <td class="tdCol_1">4</td>
                                    <td>Có mất phí gì không?</td>
                                    <td>Cảm ơn Quý khách đã quan tâm đến dịch vụ của VPass. Chúng tôi đã liên hệ qua tin nhắn Quý khách vui lòng kiểm tra để được tư vấn chi tiết ạ!</td>
                                </tr>
                                <tr class="trLine_2">
                                    <td class="tdCol_1">5</td>
                                    <td>Đăng ký ở đâu ạ?</td>
                                    <td>Cảm ơn Quý khách đã quan tâm đến dịch vụ của VPass. VPass đã gửi link đăng ký qua tin nhắn, Quý khách vui lòng kiểm tra ạ! <br> Để tìm hiểu thêm về dịch vụ của VPass Quý khách vui lòng truy cập vpass.asia </td>
                                </tr>
                                <tr class="trLine_2">
                                    <td class="tdCol_1">6</td>
                                    <td>Tư vấn mình nhé, mình đang cần</td>
                                    <td>Cảm ơn Quý khách đã quan tâm đến dịch vụ của VPass. Chúng tôi đã liên hệ qua tin nhắn Quý khách vui lòng kiểm tra để được tư vấn chi tiết ạ!</td>
                                </tr>
                                <tr class="trLine_2">
                                    <td class="tdCol_1">7</td>
                                    <td>Đăng ký có dễ không Ad?</td>
                                    <td>Dạ thủ tục rất đơn giản ạ. VPass đã nhắn tin hướng dẫn chi tiêt cho quý khách ở phần tin nhắn, quý khách vui lòng kiểm tra giúp VPass nhé!</td>
                                </tr>
                                <tr class="trLine_2">
                                    <td class="tdCol_1">8</td>
                                    <td>Chi phí như nào vậy b?</td>
                                    <td>Cảm ơn Quý khách đã quan tâm đến dịch vụ của VPass. Chúng tôi đã liên hệ qua tin nhắn Quý khách vui lòng kiểm tra để được tư vấn chi tiết ạ!</td>
                                </tr>
                                <tr class="trLine_2">
                                    <td class="tdCol_1">9</td>
                                    <td>Chương trình có dành cho chủ khách sạn, nhà nghỉ không?</td>
                                    <td>Dạ có ạ! VPass đã liên hệ qua tin nhắn Quý khách vui lòng kiểm tra để được tư vấn chi tiết ạ!</td>
                                </tr>
                                <tr class="trLine_2">
                                    <td class="tdCol_1">10</td>
                                    <td>Tôi quan tâm, vui lòng tư vấn cho tôi</td>
                                    <td>Cảm ơn Quý khách đã quan tâm đến dịch vụ của VPass. Chúng tôi đã liên hệ qua tin nhắn Quý khách vui lòng kiểm tra để được tư vấn chi tiết ạ!</td>
                                </tr>
                                <tr class="trLine_2">
                                    <td class="tdCol_1">11</td>
                                    <td>Điều kiện cho thuê lại kỳ nghỉ là gì vậy?</td>
                                    <td>Cảm ơn Quý khách đã quan tâm đến dịch vụ của VPass. Chúng tôi đã liên hệ qua tin nhắn Quý khách vui lòng kiểm tra để được tư vấn chi tiết ạ!</td>
                                </tr>
                                <tr class="trLine_2">
                                    <td class="tdCol_1">12</td>
                                    <td>A có kỳ nghỉ đã đăng ký từ đầu năm chưa sử dụng, có cho thuê lại đc ko e? tư vấn giúp.</td>
                                    <td>Dạ VPass đã ghi nhận thông tin của quý khách. Cảm ơn Quý khách đã quan tâm đến dịch vụ của VPass. Chúng tôi đã liên hệ qua tin nhắn Quý khách vui lòng kiểm tra để được tư vấn chi tiết ạ!</td>
                                </tr>
                                <tr class="trLine_2">
                                    <td class="tdCol_1">13</td>
                                    <td>0931564275. Cần tư vấn.</td>
                                    <td>Dạ VPass sẽ liên hệ lại với Quý khách trong thời gian nhanh nhất. VPass đã gửi thêm thông tin chi tiết về dịch vụ qua tin nhắn, quý khách vui lòng kiểm tra giúp VPass nhé!</td>
                                </tr>
                                <tr class="trLine_2">
                                    <td class="tdCol_1">14</td>
                                    <td>Chưa thấy ai gọi</td>
                                    <td>Dạ thành thật xin lỗi quý khách vì trải nghiệm không tốt này ạ. Chúng tôi đã liên hệ qua tin nhắn Quý khách vui lòng kiểm tra ạ! <br> Để tìm hiểu thêm về dịch vụ của VPass Quý khách vui lòng truy cập vpass.asia </td>
                                </tr>
                                <tr class="trLine_2">
                                    <td class="tdCol_1">15</td>
                                    <td>1 năm được bao nhiêu ngày nghỉ vậy?</td>
                                    <td>Cảm ơn Quý khách đã quan tâm đến dịch vụ của VPass. Chúng tôi đã liên hệ qua tin nhắn Quý khách vui lòng kiểm tra để được tư vấn chi tiết ạ!</td>
                                </tr>
                                <tr class="trLine_2">
                                    <td class="tdCol_1">16</td>
                                    <td>Có mất thêm chi phí gì không?</td>
                                    <td>Cảm ơn Quý khách đã quan tâm đến dịch vụ của VPass. Chúng tôi đã liên hệ qua tin nhắn Quý khách vui lòng kiểm tra để được tư vấn chi tiết ạ!</td>
                                </tr>
                                <tr class="trLine_2">
                                    <td class="tdCol_1">17</td>
                                    <td>Cho thuê lại có nhận được 100% chi phí ban đầu không ad?</td>
                                    <td>Cảm ơn Quý khách đã quan tâm đến dịch vụ của VPass. Chúng tôi đã liên hệ qua tin nhắn Quý khách vui lòng kiểm tra để được tư vấn chi tiết ạ!</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p dir="ltr">
                        <br>
                        <em>
                            <strong>2.4 Thiết lập quảng cáo Facebook</strong>
                        </em>
                    </p>
                    <p dir="ltr">Fago Agency có quy trình thiết lập quảng cáo Facebook rõ ràng, đảm bảo quảng cáo tiếp cận đúng đối tượng.</p>
                    <p dir="ltr">Quy trình bao gồm các bước:</p>
                    <p dir="ltr">Bước 01: Thông tin:</p>
                    <ul>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Tiếp nhận thông tin đầu vào: Sản phẩm, Đối tượng mua hàng (Tuổi, giới tính, nơi sinh sống, thu nhập, sở thích đặc trưng, …).</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Tiếp nhận thông tin về kết quả quảng cáo trước đó từng triển khai.</p>
                        </li>
                    </ul>
                    <p dir="ltr">Bước 02: Phân loại</p>
                    <ul>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Sàng lọc thông tin và chia nhỏ đối tượng tiếp cận, thường chia từ 3 - 5 đối tượng dựa trên vị trí địa lý, tuổi, sở thích đặc trưng.</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Áp vào thông tin đầu ra trên trình quảng cáo Facebook tạo nên các nhóm quảng cáo.</p>
                        </li>
                    </ul>
                    <p dir="ltr">Bước 03: Content</p>
                    <ul>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Lên 2 - 3 nội dung quảng cáo (content) cho mỗi đối tượng. Có thể sử dụng chung tùy trường hợp, nhưng vẫn đảm bảo 2 - 3 content cho 1 đối tượng.</p>
                        </li>
                    </ul>
                    <p dir="ltr">Bước 04: Testing</p>
                    <ul>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Quảng cáo testing trong 7 - 30 ngày. Thời gian càng dài, ngân sách càng nhiều thì kết quả thu được càng đúng và sẽ hiệu quả khi tăng ngân sách.</p>
                        </li>
                    </ul>
                    <p dir="ltr">Bước 05: Bán hàng</p>
                    <ul>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Đẩy mạnh việc bán hàng dựa trên kết quả testing trước đó.</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Luôn có 1 khoản ngân sách cho việc thử nghiệm mới. Đây thường là khoản mà các đối tác hay bỏ qua vì cảm thấy phí, vì vậy mà họ phải trả nhiều tiền hơn cho Facebook sau này khi quảng cáo cũ giảm hiệu quả.</p>
                        </li>
                    </ul>
                    <p dir="ltr">
                    <p style="text-align:center;">
                        <img src="./assets/img/17-Quy-trinh-chay-quang-cao-facebook-fago-agency.webp">
                    </p>
                    </p>
                    <h3 dir="ltr" id="2-5-toi-uu-quang-cao-facebook-ads">
                        <em>
                            <strong>2.5 Tối ưu quảng cáo Facebook Ads</strong>
                        </em>
                    </h3>
                    <p dir="ltr">Các hình thức quảng cáo online ngày càng thịnh không chỉ vì người dùng nhiều mà còn vì dễ dàng đo lường từ đó có thể tối ưu hiệu quả quảng cáo.</p>
                    <p dir="ltr">Fago Agency hiểu rất rõ tầm quan trọng của điều này và luôn đặt công việc này lên hàng đầu. Để tối ưu quảng cáo, Fago Agency sẽ thực hiện:</p>
                    <ul>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Cài đặt các mã theo dõi trên Facebook, trên website (nếu có).</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Lựa chọn các chỉ số báo cáo phù hợp với dự án, với đối tượng khách hàng.</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Theo dõi chỉ số hàng ngày.</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Cài đặt quy tắc quảng cáo (tùy dự án).</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Đối chiếu chỉ số quảng cáo với thực tế.</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Kiểm tra chất lượng data (form, tin nhắn, …) trên Fanpage với với nhân viên tư vấn bán hàng.</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Đánh giá kết quả quảng cáo dựa trên các chỉ số và gửi báo cáo tuần.</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Đề xuất giải pháp cho đối tác nếu có tăng ngân sách, đầu tư hình ảnh, ...&nbsp;</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Đưa ra phương án thay đổi cho quảng cáo dựa trên nguồn lực hiện có.</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Điều chỉnh quảng cáo và theo dõi kết quả.</p>
                        </li>
                    </ul>
                    <p dir="ltr">
                    <p style="text-align:center;">
                        <img src="./assets/img/17ads.webp">
                    </p>
                    </p>
                    <h3 dir="ltr" id="2-6-bao-cao-theo-ngay-cac-chi-so">
                        <em>
                            <strong>2.6. Báo cáo theo ngày các chỉ số</strong>
                        </em>
                    </h3>
                    <div class="tableBlockType_2">
                        <div class="scrollMobiForTable">
                            <table>
                                <tbody>
                                <tr class="trLine_1">
                                    <td class="tdCol_1">MESSENGER + LEAD</td>
                                    <td class="tdColNext">Tháng 09/2021</td>
                                    <td class="tdColNext">10/09</td>
                                    <td class="tdColNext">11/09</td>
                                    <td class="tdColNext">12/09</td>
                                    <td class="tdColNext">14/09</td>
                                    <td class="tdColNext">15/09</td>
                                    <td class="tdColNext">16/09</td>
                                    <td class="tdColNext">17/09</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Số tiền quảng cáo chạy</td>
                                    <td class="tdColNext">5.446.207</td>
                                    <td class="tdColNext">227.895</td>
                                    <td class="tdColNext">230.000</td>
                                    <td class="tdColNext">230.000</td>
                                    <td class="tdColNext">490.535</td>
                                    <td class="tdColNext">239.210</td>
                                    <td class="tdColNext">268.191</td>
                                    <td class="tdColNext">232.942</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Số lượt hiển thị</td>
                                    <td class="tdColNext">62.445</td>
                                    <td class="tdColNext">3.044</td>
                                    <td class="tdColNext">2.158</td>
                                    <td class="tdColNext">2.836</td>
                                    <td class="tdColNext">3.023</td>
                                    <td class="tdColNext">2.078</td>
                                    <td class="tdColNext">2.380</td>
                                    <td class="tdColNext">3.287</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Click link (All)</td>
                                    <td class="tdColNext">277</td>
                                    <td class="tdColNext">10</td>
                                    <td class="tdColNext">9</td>
                                    <td class="tdColNext">10</td>
                                    <td class="tdColNext">18</td>
                                    <td class="tdColNext">24</td>
                                    <td class="tdColNext">29</td>
                                    <td class="tdColNext">42</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Unique CTR (All)</td>
                                    <td class="tdColNext">3,08%</td>
                                    <td class="tdColNext">2,76%</td>
                                    <td class="tdColNext">3,12%</td>
                                    <td class="tdColNext">3,16%</td>
                                    <td class="tdColNext">2,86%</td>
                                    <td class="tdColNext">1,59%</td>
                                    <td class="tdColNext">1,83%</td>
                                    <td class="tdColNext">2,13%</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Số người tiếp cận</td>
                                    <td class="tdColNext">47.378</td>
                                    <td class="tdColNext">2.283</td>
                                    <td class="tdColNext">1.763</td>
                                    <td class="tdColNext">2.155</td>
                                    <td class="tdColNext">2.770</td>
                                    <td class="tdColNext">1.886</td>
                                    <td class="tdColNext">2.131</td>
                                    <td class="tdColNext">2.916</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Số lượt comment</td>
                                    <td class="tdColNext">11</td>
                                    <td class="tdColNext">0</td>
                                    <td class="tdColNext">0</td>
                                    <td class="tdColNext">1</td>
                                    <td class="tdColNext">0</td>
                                    <td class="tdColNext">0</td>
                                    <td class="tdColNext">1</td>
                                    <td class="tdColNext">1</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Số lượt inbox</td>
                                    <td class="tdColNext">26</td>
                                    <td class="tdColNext">1</td>
                                    <td class="tdColNext">2</td>
                                    <td class="tdColNext">2</td>
                                    <td class="tdColNext">1</td>
                                    <td class="tdColNext">0</td>
                                    <td class="tdColNext">0</td>
                                    <td class="tdColNext">0</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Số lead (Đăng ký form)</td>
                                    <td class="tdColNext">7</td>
                                    <td class="tdColNext">&nbsp;</td>
                                    <td class="tdColNext">&nbsp;</td>
                                    <td class="tdColNext">&nbsp;</td>
                                    <td class="tdColNext">&nbsp;</td>
                                    <td class="tdColNext">1</td>
                                    <td class="tdColNext">3</td>
                                    <td class="tdColNext">3</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Like page</td>
                                    <td class="tdColNext">1</td>
                                    <td class="tdColNext">&nbsp;</td>
                                    <td class="tdColNext">&nbsp;</td>
                                    <td class="tdColNext">&nbsp;</td>
                                    <td class="tdColNext">&nbsp;</td>
                                    <td class="tdColNext">&nbsp;</td>
                                    <td class="tdColNext">&nbsp;</td>
                                    <td class="tdColNext">&nbsp;</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Lượt chuyển đổi web <br> (Form, Gọi, chat FB, Zalo) </td>
                                    <td class="tdColNext">4</td>
                                    <td class="tdColNext">&nbsp;</td>
                                    <td class="tdColNext">&nbsp;</td>
                                    <td class="tdColNext">&nbsp;</td>
                                    <td class="tdColNext">&nbsp;</td>
                                    <td class="tdColNext">&nbsp;</td>
                                    <td class="tdColNext">&nbsp;</td>
                                    <td class="tdColNext">&nbsp;</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Frequency</td>
                                    <td class="tdColNext">1,31</td>
                                    <td class="tdColNext">1,33</td>
                                    <td class="tdColNext">1,22</td>
                                    <td class="tdColNext">1,32</td>
                                    <td class="tdColNext">1,09</td>
                                    <td class="tdColNext">1,10</td>
                                    <td class="tdColNext">1,12</td>
                                    <td class="tdColNext">1,13</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">CPM</td>
                                    <td class="tdColNext">87.733</td>
                                    <td class="tdColNext">74.867</td>
                                    <td class="tdColNext">106.580</td>
                                    <td class="tdColNext">81.100</td>
                                    <td class="tdColNext">162.268</td>
                                    <td class="tdColNext">115.115</td>
                                    <td class="tdColNext">112.685</td>
                                    <td class="tdColNext">70.868</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Tổng (cmt+inbox+chuyển đổi)</td>
                                    <td class="tdColNext">48</td>
                                    <td class="tdColNext">1</td>
                                    <td class="tdColNext">2</td>
                                    <td class="tdColNext">3</td>
                                    <td class="tdColNext">1</td>
                                    <td class="tdColNext">1</td>
                                    <td class="tdColNext">4</td>
                                    <td class="tdColNext">4</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Giá của <br> (cmt+inbox+ chuyển đổi) </td>
                                    <td class="tdColNext">113.463</td>
                                    <td class="tdColNext">227.895</td>
                                    <td class="tdColNext">115.000</td>
                                    <td class="tdColNext">76.667</td>
                                    <td class="tdColNext">490.535</td>
                                    <td class="tdColNext">239.210</td>
                                    <td class="tdColNext">67.048</td>
                                    <td class="tdColNext">58.236</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p dir="ltr">
                        <br> Các dịch vụ chắc sóc sau mua của bạn đã thật sự thu hút chưaTừ đó sẽ phối hợp với khách hàng để trả lời các câu hỏi:
                    </p>
                    <ul>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Giá sản phẩm đã phù hợp chưa</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Tỷ lệ chuyển đổi đã thực sự tốt chưa</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">Nội dung của trang bán hàng đã thực sự thu hút chưa</p>
                        </li>
                        <li aria-level="1" dir="ltr" style="list-style: unset;">
                            <p dir="ltr" role="presentation">.......</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% include "../share/magazineBlock.html" %}
        <div class="section_3">
            <div class="container">
                <div class="titleBlock_2">
                    <h2 class="text_2">Kết quả khách hàng sử dụng dịch vụ quảng cáo Facebook Ads của Fago Agency</h2>
                </div>
                <div class="row">
                    <div class="leftBlock">
                        <p style="text-align:center;">
                            <img alt="quang_cao_face" class="unWrapCenter" src="./assets/img/ketqua1.webp">
                        </p>
                        <p style="text-align:center;">
                            <img alt="quang_cao_face" class="unWrapCenter" src="./assets/img/ketqua2.webp">
                        </p>
                    </div>
                    <div class="rightBlock">
                        <p style="text-align:center;">
                            <img alt="quang_cao_face" class="unWrapCenter" src="./assets/img/ketqua5.webp">
                        </p>
                        <p style="text-align:center;">
                            <img alt="quang_cao_face" class="unWrapCenter" src="./assets/img/ketqua3.webp">
                        </p>
                        <p style="text-align:center;">
                            <img alt="quang_cao_face" class="unWrapCenter" src="./assets/img/ketqua4.webp">
                        </p>
                        <!-- %img.unWrapCenter{:alt => "quang_cao_face", :src => "./assets/img/ketqua5.webp"}/ -->
                    </div>
                </div>
                <div class="btnContact">
                    <a class="btnType_3 contactCallPopUp" contacttext="Gọi điện" data-target="#popupWhenClickContact" data-toggle="modal" data="phone" datahref="tel:0934014388" idgoogleget="btn_phone_id" target="_blank" title="Liên hệ">GỌI NGAY CHO CHÚNG TÔI</a>
                </div>
            </div>
        </div>
    </div>
    {% include "../share/staffTeamBlock.html" %}
    {% include "../share/galleryBlock.html" %}
</div>