<div class="container-fluid serviceFagoAgency fixMenuSpecial serviceFagoAgency_5">
    <div class="section_1">
        <div class="container">
            <div class="textBlock">
                <p class="text_1">DỊCH VỤ</p>
                <p class="text_2">XÂY DỰNG BỘ NHẬN DIỆN THƯƠNG HIỆU CHUYÊN NGHIỆP</p>
                <p class="text_3">khách hàng tin tưởng</p>
                <p class="text_4">Đặt chất lượng và mong muốn của khách hàng làm mục tiêu hướng tới</p>
            </div>
            <div class="btnContact">
                <button class="btnType_3 contactCallPopUp" contacttext="Gọi điện" data-target="#popupWhenClickContact" data-toggle="modal" data="phone" datahref="tel:0934014388" idgoogleget="btn_phone_id" target="_blank" title="Liên hệ">LIÊN HỆ TƯ VẤN</button>
            </div>
        </div>
    </div>
    <div class="breadcrumbsBlock">
        <div class="container containerFix">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumbFix">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Dịch Vụ Thiết Kế Bộ Nhận Diện Thương Hiệu</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="secMainContent data_contents getTableOfContentBlock">
        <div class="specialBlock_10">
            <div class="container">
                <div class="titleBlock_2">
                    <p class="text_1">XÂY DỰNG</p>
                    <p class="text_2">BỘ NHẬN DIỆN THƯƠNG HIỆU CHUYÊN NGHIỆP</p>
                </div>
                <p class="textUnderTitleBlock">Wehelp agency - đơn vị thiết kế thương hiệu cao cấp, sẽ giúp bạn sở hữu bộ nhận diện thương hiệu chuyên nghiệp, tư vấn xây dựng và triển khai chiến lược thương hiệu, làm nền móng vững chắc cho sự phát triển của doanh nghiệp.</p>
                <div class="tableOfContent appearContent">
                    <div class="title"> Nội dung bài viết: <i aria-hidden="true" class="fa fa-angle-down clickToggle"></i>
                    </div>
                    <div class="toc">
                        <ul></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="smallBlock">
                        <div class="wrapImgPart">
                            <div class="imgPart">
                                <p style="text-align:center;">
                                    <img alt="thuong_hieu" class="unWrapCenter" src="./assets/img/item_27.svg">
                                </p>
                            </div>
                        </div>
                        <p class="text_1">THIẾT KẾ LOGO</p>
                        <div class="underline"></div>
                        <p class="text_2">Một logo đẹp là sự khởi đầu cho việc thiết kế hệ thống nhận diện thương hiệu ấn tượng. Bất kể bạn kinh doanh gì, quy mô lớn hay nhỏ, Logo của bạn sẽ được sử dụng ở mọi nơi - trên trang web của bạn, trên các tài liệu kỹ thuật số hoặc in, trong các quảng cáo và bất kỳ thứ gì khác mà khách hàng của bạn sẽ thấy. Vì vậy điều quan trọng là bạn cần có một logo đúng và phù hợp với thương hiệu mình nhất.</p>
                    </div>
                    <div class="smallBlock">
                        <div class="wrapImgPart">
                            <div class="imgPart">
                                <p style="text-align:center;">
                                    <img alt="thuong_hieu" class="unWrapCenter" src="./assets/img/item_28.svg">
                                </p>
                            </div>
                        </div>
                        <p class="text_1">ẤN PHẨM MARKETING DIGITAL VÀ OFFLINE</p>
                        <div class="underline"></div>
                        <p class="text_2">Không ai có thể phủ nhận được tầm quan trọng của profile/brochure hay catalog trong hoạt động kinh doanh, hay những ấn phẩm trên mạng xã hội của doanh nghiệp. Đây là nơi để bạn truyền tải mọi thứ: bạn là ai, bạn làm gì, điều gì làm cho bạn khác biệt, những kinh nghiệm mà bạn đã làm….Vì vậy, bạn có mong muốn tạo ấn tượng ban đầu thật tuyệt vời cho khách hàng tiềm năng không? Với kinh nghiệm thực hiện hàng trăm dự án của mình Wehelp agency biết cách làm cho ấn phẩm của bạn nổi bật và phù hợp nhất.</p>
                    </div>
                    <div class="smallBlock">
                        <div class="wrapImgPart">
                            <div class="imgPart">
                                <p style="text-align:center;">
                                    <img alt="thuong_hieu" class="unWrapCenter" src="./assets/img/item_29.svg">
                                </p>
                            </div>
                        </div>
                        <p class="text_1">ẤN PHẨM DIGITAL MARKETING</p>
                        <div class="underline"></div>
                        <p class="text_2">Digital marketing đang trở thành xu hướng tiếp thị ngày càng phổ biến với các doanh nghiệp ngày nay. Khi khách hàng dần chuyển sang công cụ tìm kiếm trực tuyến thì các trang tìm kiếm như Google và các trang mạng xã hội như Facebook, Instagram,... trở thành kênh truyền thông tối ưu cho các doanh nghiệp. Wehelp agency cung cấp dịch vụ digital marketing toàn diện giúp các doanh nghiệp tiếp cận khách hàng thành công trên các kênh truyền thông kỹ thuật số.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="specialBlock_11">
            <div class="wrapAll">
                <div class="row rowFix">
                    <div class="smallBlock">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="thuong_hieu" class="unWrapCenter" src="./assets/img/thuong_hieu_1.jpg">
                            </p>
                        </div>
                    </div>
                    <div class="smallBlock">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="thuong_hieu" class="unWrapCenter" src="./assets/img/thuong_hieu_2.jpg">
                            </p>
                        </div>
                    </div>
                    <div class="smallBlock">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="thuong_hieu" class="unWrapCenter" src="./assets/img/thuong_hieu_3.jpg">
                            </p>
                        </div>
                    </div>
                    <div class="smallBlock">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="thuong_hieu" class="unWrapCenter" src="./assets/img/thuong_hieu_4.jpg">
                            </p>
                        </div>
                    </div>
                    <div class="smallBlock">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="thuong_hieu" class="unWrapCenter" src="./assets/img/thuong_hieu_5.jpg">
                            </p>
                        </div>
                    </div>
                    <div class="smallBlock">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="thuong_hieu" class="unWrapCenter" src="./assets/img/thuong_hieu_6.jpg">
                            </p>
                        </div>
                    </div>
                    <div class="smallBlock">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="thuong_hieu" class="unWrapCenter" src="./assets/img/thuong_hieu_7.jpg">
                            </p>
                        </div>
                    </div>
                    <div class="smallBlock">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="thuong_hieu" class="unWrapCenter" src="./assets/img/thuong_hieu_8.jpg">
                            </p>
                        </div>
                    </div>
                    <div class="smallBlock">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="thuong_hieu" class="unWrapCenter" src="./assets/img/thuong_hieu_9.jpg">
                            </p>
                        </div>
                    </div>
                    <div class="smallBlock">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="thuong_hieu" class="unWrapCenter" src="./assets/img/thuong_hieu_10.jpg">
                            </p>
                        </div>
                    </div>
                    <div class="smallBlock">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="thuong_hieu" class="unWrapCenter" src="./assets/img/thuong_hieu_11.jpg">
                            </p>
                        </div>
                    </div>
                    <div class="smallBlock">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="thuong_hieu" class="unWrapCenter" src="./assets/img/thuong_hieu_12.jpg">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="btnContact">
                    <a class="btnType_3 contactCallPopUp" contacttext="Gọi điện" data-target="#popupWhenClickContact" data-toggle="modal" data="phone" datahref="tel:0934014388" idgoogleget="btn_phone_id" target="_blank" title="Liên hệ">GỌI NGAY CHO CHÚNG TÔI</a>
                </div>
            </div>
        </div>
        <div class="fourColNumberBlock_2">
            <div class="container">
                <p class="text_1">Chúng tôi sở hữu đội ngũ thiết kế chuyên nghiệp có kinh nghiệm thiết kế trên 5 năm. Với bề dày kinh nghiệm và luôn cập nhật xu hướng thiết kế mới trên thế giới chúng tôi tự tin mang đến cho doanh nghiệp những sản phẩm Design chuyên nghiệp nhất.</p>
                <div class="row">
                    <div class="smallBlock">
                        <div class="wrapFlex">
                            <p class="text_2" value="600">0</p>
                            <p class="text_3">KHÁCH HÀNG TIN TƯỞNG</p>
                        </div>
                        <div class="underline"></div>
                    </div>
                    <div class="smallBlock">
                        <div class="wrapFlex">
                            <p class="text_2" value="3000">0</p>
                            <p class="text_3">ẤN PHẨM</p>
                        </div>
                        <div class="underline"></div>
                    </div>
                    <div class="smallBlock">
                        <div class="wrapFlex">
                            <p class="text_2 hasPercent" value="99">0</p>
                            <p class="text_3">KHÁCH HÀNG HÀI LÒNG</p>
                        </div>
                        <div class="underline"></div>
                    </div>
                    <div class="smallBlock">
                        <div class="wrapFlex">
                            <p class="text_2" value="5">0</p>
                            <p class="text_3">NĂM KINH NGHIỆM</p>
                        </div>
                        <div class="underline"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../share/magazineBlock.html" %}
    {% include "../share/staffTeamBlock.html" %}
    {% include "../share/galleryBlock.html" %}
</div>