<div class="container-fluid serviceFagoAgency serviceFagoAgency_7">
    <div class="section_1">
        <div class="bgCoverOver"></div>
        <div class="wrapContent">
            <div class="textBlock">
                <div class="d-none">
                    <h1>DỊCH VỤ SEO SHOPEE VÀ VẬN HÀNH SHOPEE</h1>
                </div>
                <p class="text_1 colorWhite">DỊCH VỤ</p>
                <p class="text_1">SEO SHOPEE VÀ VẬN HÀNH SHOPEE</p>
                <p class="text_2">Với kinh nghiệm, 5+ năm vận hành trên Shopee, chúng tôi tự hào là đơn vị Agency đã đóng gói được dịch vụ và tự tin giúp đỡ các shop khác có thể kinh doanh trên Shopee</p>
                <div class="btnContact">
                    <button class="btnFix btnType_4 contactCallPopUp" contacttext="Gọi điện" data-target="#popupWhenClickContact" data-toggle="modal" data="phone" datahref="tel:0934014388" idgoogleget="btn_phone_id" target="_blank" title="Liên hệ">LIÊN HỆ TƯ VẤN</button>
                    <a class="btnFix btnType_1 downToBangGia" href="#">XEM BẢNG GIÁ</a>
                </div>
            </div>
            <div class="imgBlock">
                <img alt="service" src="./assets/img/img_92.png">
            </div>
        </div>
    </div>
    <div class="section_2">
        <div class="container expandWidth_1">
            <div class="tableBlockType1">
                <p class="title">BẢNG GIÁ GÓI DỊCH VỤ VẬN HÀNH THƯƠNG MẠI ĐIỆN TỬ</p>
                <div class="wrapTable">
                    <table class="tableTag">
                        <tbody>
                        <tr class="trTag tr1Tag">
                            <td>Tên gói dịch vụ</td>
                            <td colspan="2">Giá gói (theo tháng)</td>
                            <td>Ưu đãi</td>
                        </tr>
                        <tr class="trTag tr2Tag">
                            <td>Gói setup chuẩn SEO gian hàng thương mại điện từ Shopee</td>
                            <td>9.000.000đ</td>
                            <td>
                                <p class="marBot_0 text_cent">Chi trả 1 lần</p>
                                <p class="marBot_0 text_cent">Miễn phí đưa dưới 100 sản phẩm chuẩn SEO lên sàn</p>
                            </td>
                            <td></td>
                        </tr>
                        <tr class="trTag tr2Tag">
                            <td>Gói vận hành sàn thương mại điện tử Shopee</td>
                            <td>7.000.000đ</td>
                            <td></td>
                            <td>
                                <p class="marBot_0 text_cent">Giảm 60% khi sử dụng dịch vụ SEO</p>
                                <p class="marBot_0 text_cent">Giảm 12% khi sử dụng dịch vụ thiết kế website chuẩn SEO</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tableBlockType1">
                <p class="title">BẢNG GIÁ COMBO DỊCH VỤ VẬN HÀNH SÀN THƯƠNG MẠI ĐIỆN TỬ KẾT HỢP QUẢNG CÁO GOOGLE</p>
                <div class="wrapTable">
                    <table class="tableTag">
                        <tbody>
                        <tr class="trTag tr1Tag">
                            <td>Tên gói dịch vụ</td>
                            <td colspan="2">Giá gói (theo tháng)</td>
                            <td>Ưu đãi</td>
                        </tr>
                        <tr class="trTag tr2Tag">
                            <td>Gói combo kết hợp quảng cáo google shopping + vận hành TMDT Shopee</td>
                            <td>9.000.000đ</td>
                            <td>10% ngân sách quảng cáo</td>
                            <td>
                                <p class="marBot_0 text_cent">Giảm 50% khi sử dụng dịch vụ SEO</p>
                                <p class="marBot_0 text_cent">Giảm 12% khi sử dụng dịch vụ thiết kế website chuẩn SEO</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="textBlock">
                    <p>Xuất phát điểm khi phát triển dịch vụ SEO Shopee và vận hành Shopee. Chúng tôi là 1 SELLER SHOPEE kinh doanh bình thường như bao các shop khác đang kinh doanh trên Shopee.</p>
                    <p>Bước đầu gặp rất nhiều khó khăn trong việc Làm thế nào để có thể có doanh thu trên Shopee, làm thế nào có lợi nhuận và làm thể nào để scale được.</p>
                    <p>Với kinh nghiệm, 5+ năm vận hành trên Shopee, chúng tôi tự hào là đơn vị Agency đã đóng gói được dịch vụ và tự tin giúp đỡ các shop khác có thể kinh doanh trên Shopee.</p>
                    <div class="contentSP_1">
                        <p> Chúng ta hiểu rằng, không phải toàn bộ sản phẩm đều có thể bán tốt trên Shopee, không phải cứ đưa sản phẩm lên là bán được hàng, không phải cứ có nhiều đơn hàng trên Shopee là chúng ta có lợi nhuận. <strong>Với hơn 5+ năm kinh nghiệm</strong>. <strong>với 20+ shop khác nhau</strong> thuộc nhiều lĩnh vực khác nhau. Build từ con số 0 đến khi đạt <strong>doanh thu 1 tỷ +/tháng</strong>. </p>
                    </div>
                    <p>Fago Agency - Tự tin là đơn vị agency chuyên cung cấp dịch vụ SEO shopee và vận hành Shopee, có cam kết KPI và hoàn tiền theo KPI không đạt được.</p>
                </div>
                <div class="imgBlock figure2">
                    <img alt="fagoagency" src="./assets/img/xay-dung-gian-hang-shopee.webp">
                </div>
            </div>
            <div class="tableOfContent appearContent">
                <div class="title"> Nội dung bài viết: <i aria-hidden="true" class="fa fa-angle-down clickToggle"></i>
                </div>
                <div class="toc">
                    <ul>
                        <li>
                            <a href="#dich-vu-seo-shopee-1">DỊCH VỤ SEO SHOPEE VÀ VẬN HÀNH SHOPEE LÀ GÌ</a>
                            <ul>
                                <li>
                                    <a href="#dich-vu-seo-shopee-7">Setup gian hàng chuẩn SEO shopee về kỹ thuật</a>
                                </li>
                                <li>
                                    <a href="#dich-vu-seo-shopee-8">Setup gian hàng chuẩn SEO Shopee về trải nghiệm người dùng</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-7">Setup gian hàng chuẩn SEO shopee về kỹ thuật</a>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-8">Setup gian hàng chuẩn SEO Shopee về trải nghiệm người dùng</a>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-2">NHỮNG DOANH NGHIỆP NÀO NÊN SỬ DỤNG DỊCH VỤ SEO SHOPEE VÀ VẬN HÀNH SHOPEE CỦA FAGO AGENCY</a>
                            <ul></ul>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-3">QUY TRÌNH LÀM VIỆC KHI BẠN MUỐN SỬ DỤNG DỊCH VỤ SEO SHOPEE VÀ VẬN HÀNH SHOPEE CỦA FAGO AGENCY</a>
                            <ul>
                                <li>
                                    <a href="#dich-vu-seo-shopee-9">Bước 1 : Khách hàng gửi thông tin sản phẩm bao gồm:</a>
                                </li>
                                <li>
                                    <a href="#dich-vu-seo-shopee-10">Bước 2: Fago Agency nghiên cứu bao gồm:</a>
                                </li>
                                <li>
                                    <a href="#dich-vu-seo-shopee-11">Bước 3: Đưa ra KPI cam kết</a>
                                </li>
                                <li>
                                    <a href="#dich-vu-seo-shopee-13">Bước 4: Ký hợp đồng và bắt đầu triển khai</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-9">Bước 1 : Khách hàng gửi thông tin sản phẩm bao gồm:</a>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-10">Bước 2: Fago Agency nghiên cứu bao gồm:</a>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-11">Bước 3: Đưa ra KPI cam kết</a>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-13">Bước 4: Ký hợp đồng và bắt đầu triển khai</a>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-4">FAGO AGENCY SẼ LÀM GÌ VỚI DỊCH VỤ SEO SHOPEE VÀ VẬN HÀNH SHOPEE</a>
                            <ul>
                                <li>
                                    <a href="#dich-vu-seo-shopee-14">Nghiên cứu rất kỹ về Market size và Volume search sản phẩm</a>
                                </li>
                                <li>
                                    <a href="#dich-vu-seo-shopee-15">Nghiên cứu rất kỹ về đối thủ của bạn trên Shopee</a>
                                </li>
                                <li>
                                    <a href="#dich-vu-seo-shopee-16">Thiết kế gian hàng và viết nôi dung sản phẩm chuẩn SEO</a>
                                </li>
                                <li>
                                    <a href="#dich-vu-seo-shopee-17">Thiết kế sản phẩm và giá sản phẩm phù hợp</a>
                                </li>
                                <li>
                                    <a href="#dich-vu-seo-shopee-18">Tạo các chương trình khuyến mãi</a>
                                </li>
                                <li>
                                    <a href="#dich-vu-seo-shopee-19">Live Stream</a>
                                </li>
                                <li>
                                    <a href="#dich-vu-seo-shopee-20">Chạy quảng cáo shopee và tối ưu quảng cáo Shopee</a>
                                </li>
                                <li>
                                    <a href="#dich-vu-seo-shopee-21">Chăm sóc khách hàng</a>
                                </li>
                                <li>
                                    <a href="#dich-vu-seo-shopee-22">Kéo đánh giá cho Shop</a>
                                </li>
                                <li>
                                    <a href="#dich-vu-seo-shopee-23">Tư vấn xử lý khiếu nại</a>
                                </li>
                                <li>
                                    <a href="#dich-vu-seo-shopee-24">Xây dựng hệ thống báo cáo tài chính để theo dõi doanh thu của khách hàng cũ và khách hàng mới</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-14">Nghiên cứu rất kỹ về Market size và Volume search sản phẩm</a>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-15">Nghiên cứu rất kỹ về đối thủ của bạn trên Shopee</a>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-16">Thiết kế gian hàng và viết nôi dung sản phẩm chuẩn SEO</a>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-17">Thiết kế sản phẩm và giá sản phẩm phù hợp</a>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-18">Tạo các chương trình khuyến mãi</a>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-19">Live Stream</a>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-20">Chạy quảng cáo shopee và tối ưu quảng cáo Shopee</a>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-21">Chăm sóc khách hàng</a>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-22">Kéo đánh giá cho Shop</a>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-23">Tư vấn xử lý khiếu nại</a>
                        </li>
                        <li>
                            <a href="#dich-vu-seo-shopee-24">Xây dựng hệ thống báo cáo tài chính để theo dõi doanh thu của khách hàng cũ và khách hàng mới</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="data_contents getTableOfContentBlock">
        <div class="section_3">
            <div class="container expandWidth_1">
                <h2 class="text_1" id="dich-vu-seo-shopee-1">DỊCH VỤ SEO SHOPEE VÀ VẬN HÀNH SHOPEE LÀ GÌ</h2>
                <p class="text_cent marBot_30">SEO Shopee có nghĩa là Tối ưu hóa hiển thị khi khách hàng tìm kiếm trên Shopee, hiển thị nhiều và hiển thị đúng. Để sản phẩm tiếp cận được đúng đối tượng khách hàng, tăng tỉ lệ ra đơn và quay lại của khách hàng trên Shopee</p>
                <div class="imgPart_1 figure2">
                    <p style="text-align:center;">
                        <img alt="fagoagency" src="./assets/img/seo-shopee.webp">
                    </p>
                </div>
                <div class="row">
                    <div class="leftBlock">
                        <p>Đây là dịch vụ giúp doanh nghiệp:</p>
                        <h3 class="fontSize_18 boldText700" id="dich-vu-seo-shopee-7">Setup gian hàng chuẩn SEO shopee về kỹ thuật</h3>
                        <ul class="paddingLeft_35 marBot_30">
                            <li style="list-style: unset;">Tối ưu nội dung sản phẩm, hình ảnh và video</li>
                            <li style="list-style: unset;">Xây dựng bộ từ khóa hướng đúng tệp khách hàng</li>
                        </ul>
                        <h3 class="fontSize_18 boldText700" id="dich-vu-seo-shopee-8">Setup gian hàng chuẩn SEO Shopee về trải nghiệm người dùng</h3>
                        <ul class="paddingLeft_35 marBot_30">
                            <li style="list-style: unset;">Trang trí shop và tối ưu trải nghiệm người dùng, tăng uy tín trong mắt khách hàng</li>
                            <li style="list-style: unset;">Xây dựng sản phẩm và giá phù hợp với tệp khách hàng trên Shopee</li>
                            <li style="list-style: unset;"> Xem thêm: [Hướng dẫn] Cách <a href="https://fagoagency.vn/huong-dan-cach-seo-gian-hang-shopee/" target="_blank">SEO gian hàng Shopee</a> từng bước lên top google và tìm kiếm shopee </li>
                        </ul>
                    </div>
                    <div class="rightBlock">
                        <p style="text-align:center;">
                            <img alt="fagoagency" src="./assets/img/tang-don-hang-shopee.webp">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_4">
            <div class="container expandWidth_1">
                <h2 class="text_1" id="dich-vu-seo-shopee-2">NHỮNG DOANH NGHIỆP NÀO NÊN SỬ DỤNG DỊCH VỤ SEO SHOPEE VÀ VẬN HÀNH SHOPEE CỦA FAGO AGENCY</h2>
                <div class="row">
                    <div class="leftBlock">
                        <div class="imgPart figure2">
                            <p style="text-align:center;">
                                <img alt="fagoagency" src="./assets/img/khach-hang-nen-su-dung-dich vu-seo-shopee.webp">
                            </p>
                        </div>
                    </div>
                    <div class="rightBlock">
                        <ul>
                            <li style="list-style: unset;">Doanh nghiệp kinh doanh sản phẩm mà có Market size tìm kiếm trên Shopee.</li>
                            <li style="list-style: unset;">Doanh nghiệp có sản phẩm chất lượng, quyết tâm xây dựng đường dài và bài bản. Xem kênh Shopee là kênh có thể kiếm được lợi nhuận.</li>
                            <li style="list-style: unset;">Doanh nghiệp đã kinh doanh tốt ở các kênh online và offline khác và muốn mở rộng doanh thu trên kênh Shopee.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_5">
            <div class="container expandWidth_1">
                <h2 class="titleSec" id="dich-vu-seo-shopee-3">QUY TRÌNH LÀM VIỆC KHI BẠN MUỐN SỬ DỤNG DỊCH VỤ SEO SHOPEE VÀ VẬN HÀNH SHOPEE CỦA FAGO AGENCY</h2>
                <h3 class="fontSize_18 boldText700" id="dich-vu-seo-shopee-9">Bước 1 : Khách hàng gửi thông tin sản phẩm bao gồm:</h3>
                <ul class="paddingLeft_35">
                    <li style="list-style: unset;">Sản phẩm: bao gồm sản phẩm đơn, sản phẩm combo,...</li>
                    <li style="list-style: unset;">Giá sản phẩm</li>
                </ul>
                <div class="tableBlockType_5">
                    <div class="scrollMobiForTable">
                        <table>
                            <tbody>
                            <tr class="trLine_1">
                                <td>STT</td>
                                <td>Tên sản phẩm</td>
                                <td>Mã Sản phẩm</td>
                                <td>Phân loại sản phẩm</td>
                                <td> Giá niêm yết <br>(giá gốc shopee) </td>
                                <td>Giá bán</td>
                                <td>Giá SALE tối đa</td>
                            </tr>
                            <tr class="trLine_2">
                                <td rowspan="4">1</td>
                                <td rowspan="4">Sản phẩm 1</td>
                                <td>8682725072</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="trLine_2">
                                <td>HỘP 8 GÓI</td>
                                <td>Đen tự nhiên 2.0</td>
                                <td>200.000 đ</td>
                                <td style="white-space: nowrap;">120.000 đ</td>
                                <td>105.000 đ</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>HỘP 8 GÓI</td>
                                <td>Nâu hạt dẻ 5.75</td>
                                <td>200.000 đ</td>
                                <td>120.000 đ</td>
                                <td>105.000 đ</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>HỘP 8 GÓI</td>
                                <td>Nâu cafe 3.37</td>
                                <td>200.000 đ</td>
                                <td>120.000 đ</td>
                                <td>105.000 đ</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>2</td>
                                <td>Sản phẩm 2</td>
                                <td>11223465679</td>
                                <td></td>
                                <td>200.000 đ</td>
                                <td>120.000 đ</td>
                                <td>105.000 đ</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>3</td>
                                <td>Sản phẩm 3</td>
                                <td>8886211099</td>
                                <td>Đen tự nhiên 2.0</td>
                                <td>25.000 đ</td>
                                <td>15.000 đ</td>
                                <td>15.000 đ</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>4</td>
                                <td>Sản phẩm 4</td>
                                <td>11023467620</td>
                                <td>Nâu hạt dẻ 5.75</td>
                                <td>200.000 đ</td>
                                <td>120.000 đ</td>
                                <td>105.000 đ</td>
                            </tr>
                            <tr class="trLine_2">
                                <td rowspan="7">5</td>
                                <td rowspan="7">Sản phẩm 5</td>
                                <td rowspan="7">10923424357</td>
                                <td>Nâu cafe 3.37</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="trLine_2">
                                <td>Đen 2.0 + Nâu cafe 3.37</td>
                                <td>380.000 đ</td>
                                <td>228.000 đ</td>
                                <td>205.000 đ</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>Đen 2.0 + Nâu hạt dẻ 5.75</td>
                                <td>380.000 đ</td>
                                <td>228.000 đ</td>
                                <td>205.000 đ</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>Nâu cafe 3.37 + Nâu hạt dẻ 5.75</td>
                                <td>380.000 đ</td>
                                <td>228.000 đ</td>
                                <td>205.000 đ</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>2 hộp đen 2.0</td>
                                <td>380.000 đ</td>
                                <td>228.000 đ</td>
                                <td>205.000 đ</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>2 hộp đen 3.37</td>
                                <td>380.000 đ</td>
                                <td>228.000 đ</td>
                                <td>205.000 đ</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>2 hộp đen 5.75</td>
                                <td>380.000 đ</td>
                                <td>228.000 đ</td>
                                <td>205.000 đ</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>6</td>
                                <td>Sản phẩm 6</td>
                                <td>10823392216</td>
                                <td></td>
                                <td>25.000 đ</td>
                                <td>15.000 đ</td>
                                <td></td>
                            </tr>
                            <tr class="trLine_2">
                                <td>7</td>
                                <td>Sản phẩm 7</td>
                                <td>10823360215</td>
                                <td></td>
                                <td>200.000 đ</td>
                                <td></td>
                                <td>105.000 đ</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>8</td>
                                <td>Sản phẩm 8</td>
                                <td>10523466606</td>
                                <td></td>
                                <td>200.000 đ</td>
                                <td>120.000 đ</td>
                                <td>105.000 đ</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>9</td>
                                <td>Sản phẩm 9</td>
                                <td>10523425855</td>
                                <td></td>
                                <td>45.000 đ</td>
                                <td>39.000 đ</td>
                                <td>30.000 đ</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>10</td>
                                <td>Sản phẩm 10</td>
                                <td>9986258643</td>
                                <td></td>
                                <td>380.000 đ</td>
                                <td>228.000 đ</td>
                                <td>205.000 đ</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>11</td>
                                <td>Sản phẩm 11</td>
                                <td>9786164980</td>
                                <td></td>
                                <td>200.000 đ</td>
                                <td>120.000 đ</td>
                                <td>105.000 đ</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>12</td>
                                <td>Sản phẩm 12</td>
                                <td>9586271393</td>
                                <td></td>
                                <td>45.000 đ</td>
                                <td>39.000 đ</td>
                                <td>30.000 đ</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>13</td>
                                <td>Sản phẩm 13</td>
                                <td>6695848086</td>
                                <td></td>
                                <td>25.000 đ</td>
                                <td>20.000 đ</td>
                                <td>15.000 đ</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>14</td>
                                <td>Sản phẩm 14</td>
                                <td>5196537107</td>
                                <td></td>
                                <td>380.000 đ</td>
                                <td>228.000 đ</td>
                                <td>205.000 đ</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>15</td>
                                <td>Sản phẩm 15</td>
                                <td>4396516392</td>
                                <td></td>
                                <td>200.000 đ</td>
                                <td>120.000 đ</td>
                                <td>105.000 đ</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>16</td>
                                <td>Sản phẩm 16</td>
                                <td>3084260475</td>
                                <td></td>
                                <td>25.000 đ</td>
                                <td>20.000 đ</td>
                                <td>15.000 đ</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>17</td>
                                <td>Sản phẩm 17</td>
                                <td>8886211099</td>
                                <td></td>
                                <td>210.000 đ</td>
                                <td></td>
                                <td>130.000 đ</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>18</td>
                                <td>Sản phẩm 18</td>
                                <td></td>
                                <td></td>
                                <td>155.000 đ</td>
                                <td></td>
                                <td>90.000 đ</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p>Các kênh online bao gồm: fanpage, website,.... đang triển khai</p>
                <div class="tableBlockType_6">
                    <div class="scrollMobiForTable">
                        <table>
                            <tbody>
                            <tr class="trLine_1">
                                <td>TàI liệu chi tiết</td>
                                <td class="tdCol_2">Link</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>Logo</td>
                                <td class="tdCol_2">
                                    <a>Link</a>
                                </td>
                            </tr>
                            <tr class="trLine_2">
                                <td>Bộ nhận diện thương hiệu</td>
                                <td class="tdCol_2">
                                    <a>Link</a>
                                </td>
                            </tr>
                            <tr class="trLine_2">
                                <td>Website hiện tại</td>
                                <td class="tdCol_2">
                                    <a>Link</a>
                                </td>
                            </tr>
                            <tr class="trLine_2">
                                <td>Fanpage</td>
                                <td class="tdCol_2">
                                    <a>Link</a>
                                </td>
                            </tr>
                            <tr class="trLine_2">
                                <td>Bộ ảnh về dịch vụ, công ty</td>
                                <td class="tdCol_2">
                                    <a>Link</a>
                                </td>
                            </tr>
                            <tr class="trLine_2">
                                <td>Bộ video về dịch vụ và công ty</td>
                                <td class="tdCol_2">
                                    <a>Link</a>
                                </td>
                            </tr>
                            <tr class="trLine_2">
                                <td>Danh mục - danh sách sản phẩm</td>
                                <td class="tdCol_2">
                                    <a>Link</a>
                                </td>
                            </tr>
                            <tr class="trLine_2">
                                <td>Ảnh sản phẩm</td>
                                <td class="tdCol_2">
                                    <a>Link</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p class="marBot_20">Top 5 đối thủ trên kênh online hiện tại và Shopee mà bạn nghĩ là bán chạy nhất</p>
                <div class="imgPart_1">
                    <p style="text-align:center;">
                        <img alt="fagoagency" src="./assets/img/do-luong-dich-vu-seo-shopee.webp">
                    </p>
                </div>
                <h3 class="fontSize_18 boldText700" id="dich-vu-seo-shopee-10">Bước 2: Fago Agency nghiên cứu bao gồm:</h3>
                <ul class="paddingLeft_35">
                    <li style="list-style: unset;">Market size (Volume tìm kiếm) trên shopee với sản phẩm hiện tại của bạn</li>
                    <li style="list-style: unset;">Giá sản phẩm phù hợp với kênh Shopee không</li>
                </ul>
                <div class="tableBlockType_5">
                    <div class="scrollMobiForTable">
                        <table>
                            <tbody>
                            <tr class="trLine_1">
                                <td>SẢN PHẨM</td>
                                <td>Lợi nhuận Bịch</td>
                                <td> Lợi nhuận <br>Giá bán (doanh số) </td>
                                <td> Lợi nhuận <br>Doanh thu </td>
                                <td> Tổng Lợi nhuận <br>(trừ phí sàn) </td>
                                <td> Tổng số lượng <br>(Bịch) </td>
                                <td>Tổng doanh thu</td>
                                <td>% phí thanh toán</td>
                                <td>% phí dịch vụ</td>
                            </tr>
                            <tr class="trLine_2">
                                <td rowspan="3">Sản phẩm 1</td>
                                <td>39.191 đ</td>
                                <td>8,14%</td>
                                <td>8,89%</td>
                                <td>1.841.956 ₫</td>
                                <td>47</td>
                                <td>19.710.956 đ</td>
                                <td>2,13%</td>
                                <td>6,62%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>31.624 đ</td>
                                <td>8,52%</td>
                                <td>9,15%</td>
                                <td>5.059.852 ₫</td>
                                <td>160</td>
                                <td>55.771.852 đ</td>
                                <td>2,14%</td>
                                <td>5,07%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>33.079 đ</td>
                                <td>10,25%</td>
                                <td>10,75%</td>
                                <td>2.249.387 ₫</td>
                                <td>68</td>
                                <td>20.949.387 đ</td>
                                <td>2,19%</td>
                                <td>2,50%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td rowspan="2">Sản phẩm 2</td>
                                <td>30.435 đ</td>
                                <td>6,55%</td>
                                <td>7,22%</td>
                                <td>1.369.576 ₫</td>
                                <td>45</td>
                                <td>21.427.576 đ</td>
                                <td>2,15%</td>
                                <td>7,28%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>19.312 đ</td>
                                <td>4,99%</td>
                                <td>5,36%</td>
                                <td>2.471.987 ₫</td>
                                <td>128</td>
                                <td>46.845.987 đ</td>
                                <td>2,13%</td>
                                <td>5,17%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td rowspan="3">Sản phẩm 3</td>
                                <td>26.078 đ</td>
                                <td>5,66%</td>
                                <td>6,16%</td>
                                <td>2.686.024 ₫</td>
                                <td>103</td>
                                <td>41.761.024 đ</td>
                                <td>2,00%</td>
                                <td>7,45%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>19.869 đ</td>
                                <td>5,86%</td>
                                <td>6,22%</td>
                                <td>6.278.618 ₫</td>
                                <td>316</td>
                                <td>98.652.618 đ</td>
                                <td>2,11%</td>
                                <td>5,78%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>31.642 đ</td>
                                <td>9,28%</td>
                                <td>9,76%</td>
                                <td>3.543.863 ₫</td>
                                <td>112</td>
                                <td>36.403.863 đ</td>
                                <td>2,19%</td>
                                <td>2,74%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p class="marBot_30">Đối thủ thực tế của khách hàng trên Shopee là ai</p>
                <h3 class="fontSize_18 boldText700" id="dich-vu-seo-shopee-11">Bước 3: Đưa ra KPI cam kết</h3>
                <div class="row">
                    <div class="boxContent">
                        <div class="smallPart">
                            <p>KPI 1: Cam kết viết chuẩn SEO toàn bộ sản phẩm(Không quá 20 sản phẩm/tháng) và gian hàng shopee</p>
                        </div>
                        <div class="smallPart">
                            <p>KPI 2: Cam kết nghiên cứu chính xác 5 đối thủ của bạn trên Shopee</p>
                        </div>
                        <div class="smallPart">
                            <p>KPI 3: Cam kết nghiên cứu đầy đủ và chính xác volume search của khách hàng mua sản phẩm trên Shopee</p>
                        </div>
                        <div class="smallPart">
                            <p>KPI 4: Xây dựng tệp follower thật và số lượng tăng hàng tháng</p>
                        </div>
                        <div class="smallPart">
                            <p>KPI 5: Cam kết số lượng khách hàng truy cập gian hàng và sản phẩm từ traffic ngoại sản và traffic nội sàn</p>
                        </div>
                        <div class="smallPart">
                            <p>KPI 6: Cam kết số lượng đơn hàng hàng tháng</p>
                        </div>
                        <div class="smallPart">
                            <p>KPI 7: Cam kết tỷ lệ đánh giá/số lượng đơn hàng hàng tháng</p>
                        </div>
                        <div class="smallPart">
                            <p>KPI 8: Cam kết xây dựng báo cáo phản ánh đầy đủ trình trạng hiệu quả hoạt động của Shop bao gồm</p>
                            <ul class="paddingLeft_35">
                                <li style="list-style: unset;">Báo cáo doanh thu và Marketing</li>
                                <li style="list-style: unset;">Báo cáo tính trạng đơn hàng</li>
                            </ul>
                        </div>
                        <div class="smallPart">
                            <p>KPI 9: Cam kết chạy quảng cáo, tối ưu hóa từ khóa quảng cáo và trợ giá sản phẩm với ngân sách 3.000.000 VND - 5.000.000 VND/tháng</p>
                        </div>
                        <div class="smallPart">
                            <p>KPI 10: Cam kết chăm sóc khách hàng, trả lời tin nhắn của khách hàng với tỷ lệ phản hồi lớn hơn 80%</p>
                        </div>
                        <div class="smallPart">
                            <p>KPI 11: Cam kết lên Shop yêu thích ở tháng thứ 3</p>
                        </div>
                        <div class="smallPart">
                            <p>KPI 12: Cam kết hỗ trợ xử lý khiếu nại của các lỗi sau không bị đánh giá dưới 3 sao</p>
                            <ul class="paddingLeft_35">
                                <li style="list-style: unset;">Gửi sai hàng</li>
                                <li style="list-style: unset;">Gửi thiếu hàng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="rightBlock">
                        <div class="imgPart figure2">
                            <p style="text-align:center;">
                                <img alt="fagoagency" src="./assets/img/kpi-dich-vu-seo-shopee.webp">
                            </p>
                        </div>
                    </div>
                </div>
                <p>Tất cả 12 KPI đều có số liệu rõ ràng và CAM KẾT HOÀN TIỀN THEO % KPI KHÔNG ĐẠT ĐƯỢC</p>
                <p>Ví dụ: Trong 12 KPI, có KPI về số lượng Follower không đạt được theo KPI cam kết</p>
                <ul class="paddingLeft_35">
                    <li style="list-style: unset;">Gia hạn hợp đồng nếu bên A đồng ý, sẽ không tính phí dịch vụ đến khi đạt KPI</li>
                    <li style="list-style: unset;">Bên A không đồng ý gia hạn, Hoàn tiền với giá trị bằng 8.000.000đ * 1/12*100% = 666.000đ</li>
                </ul>
                <h3 class="fontSize_18 boldText700" id="dich-vu-seo-shopee-13">Bước 4: Ký hợp đồng và bắt đầu triển khai</h3>
                <p class="marBot_30">Hợp đồng với nội dung KPI sẽ rõ ràng và minh bạch</p>
                <div class="btnContact">
                    <a class="btnType_3 contactCallPopUp" contacttext="Gọi điện" data-target="#popupWhenClickContact" data-toggle="modal" data="phone" datahref="tel:0934014388" idgoogleget="btn_phone_id" target="_blank" title="Liên hệ">GỌI NGAY CHO CHÚNG TÔI</a>
                </div>
            </div>
        </div>
        <div class="section_6">
            <div class="container expandWidth_1">
                <h2 class="titleSec" id="dich-vu-seo-shopee-4">FAGO AGENCY SẼ LÀM GÌ VỚI DỊCH VỤ SEO SHOPEE VÀ VẬN HÀNH SHOPEE</h2>
                <p class="text_cent marBot_30">Định nghĩa cho SHOPEE hiểu sản phẩm của Shop là gì?</p>
                <h3 class="fontSize_18 boldText700" id="dich-vu-seo-shopee-14">Nghiên cứu rất kỹ về Market size và Volume search sản phẩm</h3>
                <p class="marBot_20">Từ thông tin về sản phẩm mà khách hàng cung cấp, Fago agency sẽ nghiên cứu rất kỹ về dung lượng tìm kiếm của sản phẩm trên Shopee. Từ đó bạn có cái nhìn rõ hơn về doanh thu estimate có thể kiếm được trên kênh Shopee</p>
                <h3 class="fontSize_18 boldText700" id="dich-vu-seo-shopee-15">Nghiên cứu rất kỹ về đối thủ của bạn trên Shopee</h3>
                <p>Chúng tôi có bộ công cụ để nghiên cứu đầy đủ về đối thủ bao gồm: sản phẩm, giá của đối thủ, số lượng bán hàng tháng, các chương trình khuyến mãi của đối thủ</p>
                <p>Ví dụ nghiên cứu thị phần:</p>
                <div class="tableBlockType_5 table_1">
                    <div class="scrollMobiForTable">
                        <table>
                            <tbody>
                            <tr class="trLine_1">
                                <td>Shop</td>
                                <td>Tổng doanh số</td>
                                <td>Số lượng đơn hàng</td>
                                <td>Thị phần</td>
                                <td>Top doanh thu</td>
                                <td>Top đơn hàng</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>BichNgocXShop</td>
                                <td>15.600.000 đ</td>
                                <td>104</td>
                                <td>0,76%</td>
                                <td>9</td>
                                <td>15</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>chenglovehairs</td>
                                <td>1.631.533.000 đ</td>
                                <td>9.071</td>
                                <td>78,97%</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>cuongquyenvy68</td>
                                <td>25.200.000 đ</td>
                                <td>280</td>
                                <td>1,22%</td>
                                <td>8</td>
                                <td>7</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>galistore</td>
                                <td>45.649.000 đ</td>
                                <td>191</td>
                                <td>2,21%</td>
                                <td>5</td>
                                <td>12</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>la_natural</td>
                                <td>38.160.000 đ</td>
                                <td>159</td>
                                <td>1,85%</td>
                                <td>6</td>
                                <td>13</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>lylyga</td>
                                <td>108.028.000 đ</td>
                                <td>3.096</td>
                                <td>5,23%</td>
                                <td>2</td>
                                <td>2</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>maianhbao87</td>
                                <td>1.431.000 đ</td>
                                <td>477</td>
                                <td>0,07%</td>
                                <td>13</td>
                                <td>4</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>myphamsoyoung</td>
                                <td>55.125.000 đ</td>
                                <td>315</td>
                                <td>2,67%</td>
                                <td>4</td>
                                <td>6</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>myphamtoc009</td>
                                <td>84.390.000 đ</td>
                                <td>194</td>
                                <td>4,08%</td>
                                <td>3</td>
                                <td>11</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>ozana_cosmetics</td>
                                <td>673.000 đ</td>
                                <td>673</td>
                                <td>0,03%</td>
                                <td>15</td>
                                <td>3</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>phulieutoc_247giasi</td>
                                <td>36.575.000 đ</td>
                                <td>385</td>
                                <td>1,77%</td>
                                <td>7</td>
                                <td>5</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>phuongpyjiyong</td>
                                <td>2.780.000 đ</td>
                                <td>278</td>
                                <td>0,13%</td>
                                <td>12</td>
                                <td>8</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p class="marBot_15">Nghiên cứu Top 1 đến Top 15 đối thủ bán tốt nhất trên Shopee cùng lĩnh vực với bạn.</p>
                <p>Ví dụ nghiên cứu đối thủ trực tiếp:</p>
                <div class="tableBlockType_5 table_2">
                    <div class="scrollMobiForTable">
                        <table>
                            <tbody>
                            <tr class="trLine_1">
                                <td>SHOP LY LY GA</td>
                                <td>944.935.950 đ</td>
                                <td>64.636</td>
                                <td></td>
                            </tr>
                            <tr class="trLine_1">
                                <td>Sản phẩm</td>
                                <td>Doanh số</td>
                                <td>Số lượng đơn hàng</td>
                                <td>% Doanh thu</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>BÔNG TẨY TRANG</td>
                                <td>104.500.000 đ</td>
                                <td>3.230</td>
                                <td>11,06%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>DẦU GỘI</td>
                                <td>118.018.000 đ</td>
                                <td>3.207</td>
                                <td>12,49%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>GEL</td>
                                <td>12.320.000 đ</td>
                                <td>308</td>
                                <td>1,30%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>GÔM</td>
                                <td>18.800.000 đ</td>
                                <td>376</td>
                                <td>1,99%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>KEM</td>
                                <td>201.910.000 đ</td>
                                <td>2.731</td>
                                <td>21,37%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>MÁY RỬA MẶT</td>
                                <td>18.960.000 đ</td>
                                <td>316</td>
                                <td>2,01%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>MẶT NẠ</td>
                                <td>404.712.950 đ</td>
                                <td>53.166</td>
                                <td>42,83%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>NƯỚC HOA</td>
                                <td>8.800.000 đ</td>
                                <td>176</td>
                                <td>0,93%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>NƯỚC TẨY TRANG</td>
                                <td>6.105.000 đ</td>
                                <td>111</td>
                                <td>0,65%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>SÁP VUỐT TÓC</td>
                                <td>11.250.000 đ</td>
                                <td>225</td>
                                <td>1,19%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>TẨY TẾ BÀO CHẾT</td>
                                <td>10.620.000 đ</td>
                                <td>236</td>
                                <td>1,12%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>TINH DẦU</td>
                                <td>17.250.000 đ</td>
                                <td>345</td>
                                <td>1,83%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>XỊT CHỐNG NẮNG</td>
                                <td>3.920.000 đ</td>
                                <td>98</td>
                                <td>0,41%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>XỊT THƠM TOÀN THÂN</td>
                                <td>7.770.000 đ</td>
                                <td>111</td>
                                <td>0,82%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p>Nghiên cứu chi tiết từng doanh thu và các điểm nổi bật của từng sản phẩm đối thủ Top 1.</p>
                <div class="tableBlockType_5 table_3">
                    <div class="scrollMobiForTable">
                        <table>
                            <tbody>
                            <tr class="trLine_1">
                                <td>CHENG LOVE HAIR</td>
                                <td></td>
                                <td></td>
                                <td>2.540.219.000 đ</td>
                                <td>21.222</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="trLine_1 trLine_1_2">
                                <td>SẢN PHẨM</td>
                                <td></td>
                                <td></td>
                                <td>DOANH THU</td>
                                <td>SỐ LƯỢNG ĐƠN</td>
                                <td>% DOANH THU</td>
                                <td>% ĐƠN HÀNG</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>CERATIN COLLAGEN</td>
                                <td></td>
                                <td>ceratin collagen</td>
                                <td>31.140.000 đ</td>
                                <td>692</td>
                                <td>1,23%</td>
                                <td>3,26%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>DỤNG CỤ</td>
                                <td></td>
                                <td>Sản phẩm 1</td>
                                <td>108.000.000 đ</td>
                                <td>3.000</td>
                                <td>4,25%</td>
                                <td>14,14%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>NHUỘM TÓC</td>
                                <td>ĐEN TÓC</td>
                                <td>Sản phẩm 2</td>
                                <td>176.000.000 đ</td>
                                <td>880</td>
                                <td>6,93%</td>
                                <td>4,15%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td></td>
                                <td>MÀU</td>
                                <td>Sản phẩm 3</td>
                                <td>45.800.000 đ</td>
                                <td>229</td>
                                <td>1,80%</td>
                                <td>1,08%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td></td>
                                <td></td>
                                <td>Sản phẩm 4</td>
                                <td>39.000.000 đ</td>
                                <td>260</td>
                                <td>1,54%</td>
                                <td>1,23%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td></td>
                                <td></td>
                                <td>Sản phẩm 5</td>
                                <td>85.600.000 đ</td>
                                <td>428</td>
                                <td>3,37%</td>
                                <td>2,02%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td></td>
                                <td></td>
                                <td>Sản phầm 6</td>
                                <td>72.600.000 đ</td>
                                <td>363</td>
                                <td>2,86%</td>
                                <td>1,71%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td></td>
                                <td></td>
                                <td>Sản phẩm 7</td>
                                <td>70.200.000 đ</td>
                                <td>351</td>
                                <td>2,76%</td>
                                <td>1,65%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td></td>
                                <td></td>
                                <td>Sản phẩm 8</td>
                                <td>83.360.000 đ</td>
                                <td>521</td>
                                <td>3,28%</td>
                                <td>2,45%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td></td>
                                <td></td>
                                <td>Sản phẩm 9</td>
                                <td>99.800.000 đ</td>
                                <td>499</td>
                                <td>3,93%</td>
                                <td>2,35%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td></td>
                                <td></td>
                                <td>Sản phẩm 10</td>
                                <td>68.000.000 đ</td>
                                <td>340</td>
                                <td>2,68%</td>
                                <td>1,60%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td></td>
                                <td></td>
                                <td>Sản phẩm 11</td>
                                <td>340.000.000 đ</td>
                                <td>1.700</td>
                                <td>13,38%</td>
                                <td>8,01%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td></td>
                                <td></td>
                                <td>Sản phẩm 12</td>
                                <td>130.000.000 đ</td>
                                <td>650</td>
                                <td>5,12%</td>
                                <td>3,06%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td></td>
                                <td></td>
                                <td>Sản phẩm 13</td>
                                <td>67.800.000 đ</td>
                                <td>339</td>
                                <td>2,67%</td>
                                <td>1,60%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td></td>
                                <td></td>
                                <td>Sản phẩm 14</td>
                                <td>33.600.000 đ</td>
                                <td>224</td>
                                <td>1,32%</td>
                                <td>1,06%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td></td>
                                <td></td>
                                <td>Sản phẩm 15</td>
                                <td>55.800.000 đ</td>
                                <td>279</td>
                                <td>2,20%</td>
                                <td>1,31%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td></td>
                                <td></td>
                                <td>Sản phẩm 16</td>
                                <td>45.600.000 đ</td>
                                <td>228</td>
                                <td>1,80%</td>
                                <td>1,07%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td></td>
                                <td></td>
                                <td>Sản phẩm 17</td>
                                <td>60.400.000 đ</td>
                                <td>302</td>
                                <td>2,38%</td>
                                <td>1,42%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td></td>
                                <td></td>
                                <td>Sản phẩm 18</td>
                                <td>49.400.000 đ</td>
                                <td>247</td>
                                <td>1,94%</td>
                                <td>1,16%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td></td>
                                <td></td>
                                <td>Sản phẩm 19</td>
                                <td>184.200.000 đ</td>
                                <td>921</td>
                                <td>7,25%</td>
                                <td>4,34%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td></td>
                                <td></td>
                                <td>Sản phẩm 20</td>
                                <td>200.000.000 đ</td>
                                <td>1.000</td>
                                <td>7,87%</td>
                                <td>4,71%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td></td>
                                <td></td>
                                <td>Sản phẩm 21</td>
                                <td>173.600.000 đ</td>
                                <td>868</td>
                                <td>6,83%</td>
                                <td>4,09%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td></td>
                                <td>NÂNG TÔNG</td>
                                <td>Sản phẩm 22</td>
                                <td>90.486.000 đ</td>
                                <td>914</td>
                                <td>3,56%</td>
                                <td>4,31%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>TẨY TÓC</td>
                                <td></td>
                                <td>Sản phẩm 23</td>
                                <td>178.200.000 đ</td>
                                <td>2.000</td>
                                <td>7,02%</td>
                                <td>9,42%</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>TINH CHÂT KHÓA MÀU</td>
                                <td></td>
                                <td>Sản phẩm 24</td>
                                <td>22.833.000 đ</td>
                                <td>387</td>
                                <td>0,90%</td>
                                <td>1,82%</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>Ủ TÓC</td>
                                <td></td>
                                <td>Sản phẩm 25</td>
                                <td>28.800.000 đ</td>
                                <td>3.600</td>
                                <td>1,13%</td>
                                <td>16,96%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p class="marBot_20">Nghiên cứu chi tiết từng doanh thu và các điểm nổi bật của từng sản phẩm đối thủ Top 2.</p>
                <div class="imgPart">
                    <p style="text-align:center;">
                        <img alt="fagoagency" src="./assets/img/phan-tich-doi-thu-seo-shopee.webp">
                    </p>
                </div>
                <h3 class="fontSize_18 boldText700" id="dich-vu-seo-shopee-16">Thiết kế gian hàng và viết nôi dung sản phẩm chuẩn SEO</h3>
                <p>Với đội ngũ content và design đã vận hành hơn 20+ gian hàng, chúng tôi tự tin thiết kế gian hàng chuẩn SEO và nội dung, hình ảnh video chuẩn SEO cho bạn.</p>

                <ul>
                    <li style="list-style: unset;">Tên sản phẩm sẽ được tối ưu trong bộ từ khoá tìm kiếm</li>
                </ul>
                <p>Sau khi phân tích sản phẩm, và các từ khoá khách hàng tìm kiếm trên Shopee. Fago Agency sẽ tối ưu từ khoá trong tiêu đề sản phẩm</p>
                <p>Nếu “từ khóa chính” của khách hàng đang phải đấu với shop khác rất rẻ mà lại ngon (sản phẩm chủ lực của đối thủ bạn) mà bạn không nhất quyết thắng bằng mọi giá thì tại sao không chuyển sang từ khóa khác hoặc target khác.</p>
                <p>Việc thay đổi từ khóa với lượng tìm kiếm kém hơn đôi khi lại giúp bạn bán được nhiều hàng hơn.</p>
                <p>Do đó, Fago Agency nghiên cứu kỹ các từ khóa đặt cho sản phẩm của bạn. Và sẽ kiểm tra vị trí hiển thị thường xuyên để xem bên cạnh sản phẩm của bạn có những sản phẩm nào và trả lời câu hỏi “Làm gì để khách hàng click vào sản phẩm mình và mua sản phẩm khi so sánh với các sản phẩm bên cạnh?” Khi chúng ta trả lời được câu hỏi này, Fago Agency hãy hành động ngay các giải pháp để cải thiện sản phẩm ngay.</p>
                <ul>
                    <li style="list-style: unset;">Hình ảnh sản phẩm và trang gian hàng sẽ được Fago Agency thiết kế chuyên nghiệp, hút mắt</li>
                </ul>
                <p>Hình ảnh sản phẩm sau khi bạn gửi sang cho Fago Agency phải rõ ràng, đầy đủ, đẹp để khách hàng có thể cảm nhận, hiểu rõ sản phẩm nhất và cảm thấy được sự chuyên nghiệp của shop. Nếu có thêm tag Freeship Extra và Hoàn Xu Xtra để làm nổi bật sản phẩm, tăng tỷ lệ chuyển đổi thì sẽ tốt hơn nữa cho việc cạnh tranh với các sản phẩm bạn.</p>
                <p>Fago Agency sẽ trang trí trang gian hàng đầy đủ thông tin giới thiệu của shop, thể hiện các banner về chương trình của shop hiện tại, ưu đãi đặc biệt, các sản phẩm HOT.</p>
                <p>Fago Agency đã tham khảo cách sắp xếp và thiết kế của một số Brand lớn trên thị trường trong ngành thời trang và làm đẹp để có thể biết được cần thể hiện banner như thế nào là phù hợp, chuyên nghiệp. Đặc biệt, chúng tôi luôn chọn màu nền, màu chủ đạo cho shop với yếu tốt là phù hợp với shop và phù hợp với ngành hàng, cũng như phù hợp với cảm nhận khi xem của khách hàng.</p>
                <ul>
                    <li style="list-style: unset;">Bố cục nội dung:</li>
                </ul>
                <p class="marBot_30">Căn cứ vào lý do khách hàng vào trang chủ của gian hàng thì Fago Agency sẽ có bố cục như sau: Banner chương trình khuyến mãi &gt; Thông tin giới thiệu shop (banner cho thấy quy mô shop để tăng uy tín cho shop (nếu có), video tổng quan về shop) &gt; Dịch vụ, điểm đặc biệt, chăm sóc khách hàng, bảo hành... của shop &gt; Banner promotion của sản phẩm cụ thể (nếu có) như Mua 1 tặng 1, Mua kèm deal sốc… &gt; Banner một số sản phẩm HOT, sản phẩm bán chạy/ nhiều khách hàng quan tâm để khách hàng cảm nhận rõ hơn &gt; Banner danh mục sản phẩm (thay vì để thể hiện chữ bình thường không nổi bật) Hoặc cho các sản phẩm lên banner luôn và gắn link từng sản phẩm trong banner.</p>

                <h3 class="fontSize_18 boldText700" id="dich-vu-seo-shopee-17">Thiết kế sản phẩm và giá sản phẩm phù hợp</h3>
                <p>Dựa trên đối thủ và giá có thể giảm tối đa, dữ liệu bán hàng, hành vi mua hàng của khách hàng, đặc thù vật lý của sản phẩm, các gói dịch vụ sàn.</p>
                <p>Chúng tôi sẽ thiết kế sản phẩm combo và giá phù hợp cho sản phẩm của bạn trên Shopee</p>
                <p class="marBot_30">Ví dụ:</p>
                <div class="tableBlockType_5 table_4">
                    <div class="scrollMobiForTable">
                        <table>
                            <tbody>
                            <tr class="trLine_1">
                                <td></td>
                                <td>LOẠI SP</td>
                                <td>Số bịch / SP</td>
                                <td>Dán / quần</td>
                                <td>Size</td>
                                <td>Trai / Gái</td>
                                <td>SKU</td>
                                <td>Giá vốn sản phẩm</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>Sản phẩm 1</td>
                                <td>MN</td>
                                <td>1</td>
                                <td>D</td>
                                <td>NB</td>
                                <td></td>
                                <td>MN-1-D-NB</td>
                                <td>275.000 đ</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>Sản phẩm 2</td>
                                <td>MN</td>
                                <td>1</td>
                                <td>D</td>
                                <td>S</td>
                                <td></td>
                                <td>MN-1-D-NB</td>
                                <td>275.000 đ</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>Sản phẩm 3</td>
                                <td>MN</td>
                                <td>2</td>
                                <td>Q</td>
                                <td>XL</td>
                                <td></td>
                                <td>MN-2-Q-XL</td>
                                <td>550.000 đ</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>Sản phẩm 4</td>
                                <td>MN</td>
                                <td>4</td>
                                <td>D</td>
                                <td>NB</td>
                                <td></td>
                                <td>MN-4-D-NB</td>
                                <td>1.100.000 đ</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="imgPart marBot_30">
                    <p style="text-align:center;">
                        <img alt="fagoagency" src="./assets/img/phan-tich-thi-truong-seo-shopee.webp">
                    </p>
                </div>
                <h3 class="boldText700 fontSize_18" id="dich-vu-seo-shopee-18">Tạo các chương trình khuyến mãi</h3>
                <p>Nhằm kéo đánh giá, doanh thu cho shop. Chúng tôi:</p>
                <ul class="paddingLeft_35">
                    <li style="list-style: unset;">Tạo mã giảm giá khi khách hàng follow</li>
                    <li style="list-style: unset;">Tạo mã giảm giá khi khách hàng mua 1,2,3,.... sản phẩm</li>
                    <li style="list-style: unset;">Tạo mã giảm giá khi khách hàng mua 2, 3, 4 .... lần để biến khách hàng thành khách hàng trung thành của Shop</li>
                    <li style="list-style: unset;">Tạo chương trình Flash sale</li>
                </ul>
                <div class="imgPart">
                    <p style="text-align:center;">
                        <img alt="fagoAgency" src="./assets/img/tao-ma-giam-gia-shopee.webp">
                    </p>
                </div>
                <h3 class="boldText700 fontSize_18" id="dich-vu-seo-shopee-19">Live Stream</h3>
                <p class="marBot_30">Nhằm kéo đánh giá, doanh thu cho shop. Chúng tôi:</p>
                <h3 class="boldText700 fontSize_18" id="dich-vu-seo-shopee-20">Chạy quảng cáo shopee và tối ưu quảng cáo Shopee</h3>
                <p>Quảng cáo shopee, cụ thể trong giai đoạn này là quảng cáo TÌM KIẾM Shopee, sẽ giúp chúng ta tiếp cận khách hàng qua insight tìm kiếm của họ</p>
                <p>Ưu điểm của công cụ này:</p>
                <ul class="paddingLeft_35">
                    <li style="list-style: unset;">Giúp chúng ta kéo lượng traffic lớn trong thời gian ngắn để Shopee hiểu đối tượng khách hàng mình muốn tiếp cận nhanh hơn</li>
                    <li style="list-style: unset;">Đo lường hiệu quả, độ phù hợp của sản phẩm, các chương trình promotion với đối tượng khách hàng mục tiêu</li>
                    <li style="list-style: unset;">1 công cụ giúp scale doanh thu nhanh khi đã chuẩn SEO</li>
                </ul>
                <p class="textSP marBot_30">" Với team chạy quảng cáo nhiều năm kinh nghiệm, Chúng tôi tự tin giúp bạn tối ưu quảng cáo để có chi phí ít nhất và ổn định nhất"</p>
                <p class="marBot_30">Cho shopee thấy khách hàng có hài lòng với sản phẩm - dịch vụ của chúng ta không: Độ hài lòng của khách hàng với sản phẩm sẽ giúp shopee hiểu sản phẩm của shop đã làm hài lòng khách hàng, qua đó tăng điểm SEO</p>
                <div class="imgPart marBot_30">
                    <p style="text-align:center;">
                        <img alt="fagoAgency" src="./assets/img/do-luong-dich-vu-seo-1.webp">
                    </p>
                </div>
                <h3 class="boldText700 fontSize_18" id="dich-vu-seo-shopee-21">Chăm sóc khách hàng</h3>
                <p>Với đội ngũ chăm sóc khách hàng nhiệt huyết và hiểu sản phẩm. Chúng tôi sẽ thay mặt shop trả lời khách hàng và tư vấn cho khách hàng mua sản phẩm của Shop</p>
                <p>Fago Agency có đội ngủ nhân sự tập trung hoàn thiện tốt 100% cho việc chăm sóc khách hàng. Nếu khách hàng không hài lòng sẽ rời bỏ shop và mua hàng ở những shop khác, để lại đánh giá không tốt ảnh hưởng đến các khách hàng tương lai.</p>
                <p class="marBot_30">Khi shop có dịch vụ tốt thì khách hàng cũng an tâm mua sản phẩm của shop hơn. Trả lời được rằng khi khách hàng gặp sự cố thì shop sẽ xử lý cụ thể như thế nào để khách hàng an tâm mua sản phẩm bất kỳ nào của shop mà không ngại vấn đề gì so với các shop chỉ nói chung chung và chỉ theo chính sách của sàn TMĐT Shopee</p>
                <h3 class="boldText700 fontSize_18" id="dich-vu-seo-shopee-22">Kéo đánh giá cho Shop</h3>
                <p>Sau khi có đơn hàng. Hiểu rõ để tạo tỷ lệ chuyển đổi tốt, Chúng tôi sẽ gia tăng đánh giá trên từng đơn hàng của shop</p>

                <p>Khi lượt mua và đánh giá của sản phẩm tăng cũng đồng nghĩa với sản phẩm của shop đang có trải nghiệm tốt cho khách hàng mua sắm. Đồng thời, giúp sản phẩm có độ tin cậy cao và Shopee cũng có sự ưu tiên hiển thị tốt hơn so với những sản phẩm "bạn", chưa kể sản phẩm của bạn sẽ được lên TOP search các keywords của sản phẩm.</p>
                <p>Chắc chắn rằng, khách hàng sẽ không mua sản phẩm chưa có lượt mua, lượt đánh giá nào cả vì không có sự trải nghiệm tham khảo nào trước đó mà trên thị trường thì rất nhiều sản phẩm đã có nhiều lượt đánh giá đã tạo cho khách hàng thói quen mua hàng là phải tham khảo đánh giá rồi thì mới quyết định mua hàng. Vì thế Fago Agency cùng bạn sẽ tạo ra những lượt mua, lượt đánh giá tốt cho sản phẩm và tăng trước campaign 1 tuần để được hiển thị tốt hơn trong campaign.</p>
                <p>Có nhiều cách tăng lượt mua và đánh giá. Fago Agency thường sử dụng 4 cách như sau:</p>
                <ul>
                    <li style="list-style: unset;">Thứ 1: Đăng các deal giá TỐT với gần hoặc bằng giá vốn, hay giá lỗ trên các group mua sắm hoàn tiền trên facebook. Mọi người search các keywords và lựa chọn group phù hợp với sản phẩm, Deal của shop.</li>
                </ul>
                <p>DEAL 1K thì tùy vào sản phẩm của shop, giá vốn sản phẩm và mức đầu tư Marketing của shop. Bạn có tiền và thấy đầu tư để đổi lại doanh thu nhanh được thì bạn làm, còn không thì bán bằng giá vốn là khách hàng đã cảm thấy hài lòng và mua hàng rồi. Bên mình đa số bán các deal bằng giá vốn, tránh trường hợp bán deal nhưng lỗ. Bởi khách hàng mua hàng là có nhu cầu hoặc được gợi nhu cầu từ deal giá tốt nên họ sẽ quyết định mua hàng mà không cần phải bán 1K và thường mình chỉ cần bán 10-20 Deal là ổn cho sản phẩm trước campaign. Bán đủ deal, tiếp cận thêm đúng tệp khách hàng của shop hơn là bán cho khách hàng không có nhu cầu và họ mua bởi giá như cho, làm cho tệp khách hàng của shop mất cơ hội.</p>
                <ul>
                    <li style="list-style: unset;">Thứ 2: Tạo mã giảm giá độc quyền dành riêng cho sản phẩm mới, sản phẩm muốn tăng lượt bán với thời gian và số lượng giới hạn. Làm banner mã giảm giá cho sản phẩm để trên SIS cho khách hàng biết sử dụng.</li>
                    <li style="list-style: unset;">Thứ 3: Sử dụng các công cụ Marketing trên Shopee</li>
                </ul>
                <p>- Nhắn tin hàng loạt cho khách hàng phù hợp với sản phẩm mà đã phân tag trước đó (nếu có dùng các công cụ quản lý);</p>
                <p>- Đăng feed nhiều lần DEAL HOT/ MGG cho sản phẩm</p>
                <p>- Kéo traffic từ TOP HOT SKU vào bằng mua kèm deal sốc</p>
                <ul>
                    <li class="marBot_30" style="list-style: unset;">Thứ 4: Gọi điện hoặc nhắn tin đến khách hàng để XIN đánh giá</li>
                </ul>
                <!-- / end -->
                <h3 class="boldText700 fontSize_18" id="dich-vu-seo-shopee-23">Tư vấn xử lý khiếu nại</h3>
                <div class="imgPart marBot_30">
                    <p style="text-align:center;">
                        <img alt="fagoAgency" src="./assets/img/tang-danh-gia-khi-dung-dich-vu-seo-shopee.webp">
                    </p>
                </div>
                <p>Với kinh nghiệm xử lý rất nhiều phản hồi xấu cho hơn 20+ shop chúng tôi tự tin tư vấn cho các bạn các vấn đề xảy ra trong quá trình vận hành gian hàng shopee bao gồm:</p>
                <ul class="paddingLeft_35">
                    <li style="list-style: unset;">Gửi hàng sai</li>
                    <li style="list-style: unset;">Gửi thiếu hàng</li>
                    <li style="list-style: unset;">Sản phẩm lỗi chất lượng</li>
                </ul>
                <h3 class="boldText700 fontSize_18" id="dich-vu-seo-shopee-24">Xây dựng hệ thống báo cáo tài chính để theo dõi doanh thu của khách hàng cũ và khách hàng mới</h3>
                <p>Với 3+ năm kinh nghiệm và quản lý hơn 20+ shop với nhiều lĩnh vực khác nhau, Fago agency đã đóng gói và chuẩn hóa báo cáo để giúp bạn đánh giá sức khỏe sản phẩm và tốc độ tăng trưởng doanh thu của Shop</p>
                <p>Đo lường lượt hiển thị, lượt click, lượt mua của sản phẩm từ công cụ trên shopee. Đo lường hiệu quả khi chạy Deal, chạy chương trình ngoại sàn để đánh giá lại sản phẩm, nếu chưa hiệu quả thì do sản phẩm, dịch vụ hay giá cả của sản phẩm.</p>
                <p>Từ đó, tối ưu sản phẩm và tìm thêm sản phẩm phù hợp hơn với nhu cầu của khách hàng hơn nữa.</p>
                <p class="marBot_30">Ví dụ báo cáo theo dõi tăng trưởng Traffic:</p>
                <div class="tableBlockType_2 table_5">
                    <div class="scrollMobiForTable">
                        <table>
                            <tbody>
                            <tr class="trLine_1">
                                <td class="tdCol_1">Ngày</td>
                                <td class="tdColNext">Tổng</td>
                                <td class="tdColNext">Tháng 6</td>
                                <td class="tdColNext">Tháng 7</td>
                                <td class="tdColNext">Tháng 8</td>
                                <td class="tdColNext">Tháng 9</td>
                            </tr>
                            <tr class="trLineNext">
                                <td class="tdCol_1">Lượt xem</td>
                                <td class="tdColNext">109.301</td>
                                <td class="tdColNext">21.910</td>
                                <td class="tdColNext">57.558</td>
                                <td class="tdColNext">19.820</td>
                                <td class="tdColNext">10.013</td>
                            </tr>
                            <tr class="trLineNext">
                                <td class="tdCol_1 tdSpecial">Số lượt xem trung bình</td>
                                <td class="tdColNext">3,62</td>
                                <td class="tdColNext">3,55</td>
                                <td class="tdColNext">3,79</td>
                                <td class="tdColNext">3,40</td>
                                <td class="tdColNext">3,74</td>
                            </tr>
                            <tr class="trLineNext">
                                <td class="tdCol_1">Thời gian xem trung bình</td>
                                <td class="tdColNext">0:01:12</td>
                                <td class="tdColNext">0:01:09</td>
                                <td class="tdColNext">0:01:12</td>
                                <td class="tdColNext">0:01:09</td>
                                <td class="tdColNext">0:01:19</td>
                            </tr>
                            <tr class="trLineNext">
                                <td class="tdCol_1">Tỉ lệ thoát trang</td>
                                <td class="tdColNext">30,12%</td>
                                <td class="tdColNext">32,46%</td>
                                <td class="tdColNext">30,45%</td>
                                <td class="tdColNext">29,92%</td>
                                <td class="tdColNext">27,64%</td>
                            </tr>
                            <tr class="trLineNext">
                                <td class="tdCol_1">Lượt truy cập</td>
                                <td class="tdColNext">29.391</td>
                                <td class="tdColNext">6.494</td>
                                <td class="tdColNext">14.478</td>
                                <td class="tdColNext">5.730</td>
                                <td class="tdColNext">2.689</td>
                            </tr>
                            <tr class="trLineNext">
                                <td class="tdCol_1">Số khách truy cập mới</td>
                                <td class="tdColNext">22.881</td>
                                <td class="tdColNext">5.909</td>
                                <td class="tdColNext">11.904</td>
                                <td class="tdColNext">3.455</td>
                                <td class="tdColNext">1.613</td>
                            </tr>
                            <tr class="trLineNext">
                                <td class="tdCol_1">Số khách truy cập hiện tại</td>
                                <td class="tdColNext">6.510</td>
                                <td class="tdColNext">585</td>
                                <td class="tdColNext">2.574</td>
                                <td class="tdColNext">2.275</td>
                                <td class="tdColNext">1.076</td>
                            </tr>
                            <tr class="trLineNext">
                                <td class="tdCol_1">% CTR</td>
                                <td class="tdColNext">27,64%</td>
                                <td class="tdColNext">29,64%</td>
                                <td class="tdColNext">25,15%</td>
                                <td class="tdColNext">28,91%</td>
                                <td class="tdColNext">26,86%</td>
                            </tr>
                            <tr class="trLineNext">
                                <td class="tdCol_1">% truy cập KH mới</td>
                                <td class="tdColNext">73,37%</td>
                                <td class="tdColNext">90,99%</td>
                                <td class="tdColNext">82,22%</td>
                                <td class="tdColNext">60,30%</td>
                                <td class="tdColNext">59,99%</td>
                            </tr>
                            <tr class="trLineNext">
                                <td class="tdCol_1">% truy cập KH cũ</td>
                                <td class="tdColNext">26,63%</td>
                                <td class="tdColNext">9,01%</td>
                                <td class="tdColNext">17,78%</td>
                                <td class="tdColNext">39,70%</td>
                                <td class="tdColNext">40,01%</td>
                            </tr>
                            <tr class="trLineNext">
                                <td class="tdCol_1">Người theo dõi mới</td>
                                <td class="tdColNext">2.317</td>
                                <td class="tdColNext">538</td>
                                <td class="tdColNext">1.310</td>
                                <td class="tdColNext">318</td>
                                <td class="tdColNext">151</td>
                            </tr>
                            <tr class="trLineNext">
                                <td class="tdCol_1">Số lượng đơn hàng</td>
                                <td class="tdColNext">2.214</td>
                                <td class="tdColNext">387</td>
                                <td class="tdColNext">1.037</td>
                                <td class="tdColNext">520</td>
                                <td class="tdColNext">270</td>
                            </tr>
                            <tr class="trLineNext">
                                <td class="tdCol_1">Tỉ lệ chuyển đổi</td>
                                <td class="tdColNext">8,06%</td>
                                <td class="tdColNext">5,96%</td>
                                <td class="tdColNext">7,16%</td>
                                <td class="tdColNext">9,08%</td>
                                <td class="tdColNext">10,04%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p class="marBot_20">Ví dụ báo cáo tài chính:</p>
                <div class="tableBlockType_5 table_6 marBot_30">
                    <div class="scrollMobiForTable">
                        <table>
                            <tbody>
                            <tr class="trLine_1">
                                <td>NGÀY</td>
                                <td>Tổng</td>
                                <td>Tháng 8</td>
                                <td>Tháng 9</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>Doanh thu</td>
                                <td>340.277.610 đ</td>
                                <td>187.918.733 đ</td>
                                <td>152.358.877 đ</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>Doanh số</td>
                                <td>365.115.000 đ</td>
                                <td>203.122.000 đ</td>
                                <td>161.993.000 đ</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>Trợ giá từ SHOPEE</td>
                                <td>3.077.000 đ</td>
                                <td>1.885.000 đ</td>
                                <td>1.192.000 đ</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>Mã giảm giá</td>
                                <td>395.000 đ</td>
                                <td>255.000 đ</td>
                                <td>140.000 đ</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>Phí thanh toán</td>
                                <td>7.769.166 đ</td>
                                <td>4.291.873 đ</td>
                                <td>3.477.293 đ</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>Phí dịch vụ</td>
                                <td>19.750.224 đ</td>
                                <td>12.541.394 đ</td>
                                <td>7.208.830 đ</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>Tổng phí sàn</td>
                                <td>27.519.390 đ</td>
                                <td>16.833.267 đ</td>
                                <td>10.686.123 đ</td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>% phí sàn / doanh số</td>
                                <td>7,54%</td>
                                <td>8,29%</td>
                                <td>6,60%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p class="marBot_20">Ví dụ báo cáo vận đơn</p>
                <div class="tableBlockType_5 table_7 marBot_30">
                    <div class="scrollMobiForTable">
                        <table>
                            <tbody>
                            <tr class="trLine_1">
                                <td>580</td>
                                <td>Trạng thái mới nhất</td>
                                <td>BEST Express</td>
                                <td>Giao Hàng Nhanh</td>
                                <td>Giao Hàng Tiết Kiệm</td>
                                <td>GrabExpress</td>
                                <td>Hoả Tốc</td>
                                <td> Hoả Tốc <br>GrabExpress </td>
                            </tr>
                            <tr class="trLine_2">
                                <td>24</td>
                                <td>Chờ giao hàng</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>254</td>
                                <td>Đã hủy</td>
                                <td>9</td>
                                <td>54</td>
                                <td>18</td>
                                <td></td>
                                <td>6</td>
                                <td>3</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>5</td>
                                <td>Đang giao</td>
                                <td></td>
                                <td>1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="trLine_2 odd">
                                <td>294</td>
                                <td>Hoàn thành</td>
                                <td>52</td>
                                <td>104</td>
                                <td></td>
                                <td>5</td>
                                <td></td>
                                <td>3</td>
                            </tr>
                            <tr class="trLine_2">
                                <td>3</td>
                                <td>Yêu cầu hủy đơn hàng</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="btnContact text_cent">
                    <a class="btnType_3 fontSize_18 contactCallPopUp" contacttext="Gọi điện" data-target="#popupWhenClickContact" data-toggle="modal" data="phone" datahref="tel:0934014388" idgoogleget="btn_phone_id" target="_blank" title="Liên hệ">GỌI NGAY CHO CHÚNG TÔI</a>
                </div>
            </div>
        </div>
    </div>
    {% include "../share/fourColNumberBlock.html" %}
    {% include "../share/magazineBlock.html" %}
    <div class="section_7">
        <div class="container">
            <h2 class="boldText700" id="dich-vu-seo-shopee-5">Chi phí để sử dụng dịch vụ SEO shopee và vận hành Shopee</h2>
            <div class="tableBlockType1">
                <p class="title">BẢNG GIÁ GÓI DỊCH VỤ VẬN HÀNH THƯƠNG MẠI ĐIỆN TỬ</p>
                <div class="wrapTable">
                    <table class="tableTag">
                        <tbody>
                        <tr class="trTag tr1Tag">
                            <td>Tên gói dịch vụ</td>
                            <td colspan="2">Giá gói (theo tháng)</td>
                            <td>Ưu đãi</td>
                        </tr>
                        <tr class="trTag tr2Tag">
                            <td>Gói setup chuẩn SEO gian hàng thương mại điện từ Shopee</td>
                            <td>9.000.000đ</td>
                            <td>
                                <p class="marBot_0 text_cent">Chi trả 1 lần</p>
                                <p class="marBot_0 text_cent">Miễn phí đưa dưới 100 sản phẩm chuẩn SEO lên sàn</p>
                            </td>
                            <td></td>
                        </tr>
                        <tr class="trTag tr2Tag">
                            <td>Gói vận hành sàn thương mại điện tử Shopee</td>
                            <td>7.000.000đ</td>
                            <td></td>
                            <td>
                                <p class="marBot_0 text_cent">Giảm 60% khi sử dụng dịch vụ SEO</p>
                                <p class="marBot_0 text_cent">Giảm 12% khi sử dụng dịch vụ thiết kế website chuẩn SEO</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tableBlockType1">
                <p class="title">BẢNG GIÁ COMBO DỊCH VỤ VẬN HÀNH SÀN THƯƠNG MẠI ĐIỆN TỬ KẾT HỢP QUẢNG CÁO GOOGLE</p>
                <div class="wrapTable">
                    <table class="tableTag">
                        <tbody>
                        <tr class="trTag tr1Tag">
                            <td>Tên gói dịch vụ</td>
                            <td colspan="2">Giá gói (theo tháng)</td>
                            <td>Ưu đãi</td>
                        </tr>
                        <tr class="trTag tr2Tag">
                            <td>Gói combo kết hợp quảng cáo google shopping + vận hành TMDT Shopee</td>
                            <td>9.000.000đ</td>
                            <td>10% ngân sách quảng cáo</td>
                            <td>
                                <p class="marBot_0 text_cent">Giảm 50% khi sử dụng dịch vụ SEO</p>
                                <p class="marBot_0 text_cent">Giảm 12% khi sử dụng dịch vụ thiết kế website chuẩn SEO</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include "../share/staffTeamBlock.html" %}
    {% include "../share/galleryBlock.html" %}
</div>
