<div class='serviceFagoAgency_1 container-fluid serviceFagoAgency'>
    <div class="section_1">
        <div class="bgColorTransparent"></div>
        <div class="container containerFix">
            <div class="textPart">
                <h1 style="display:none">FAGOAGENCY THIẾT KẾ WEBSITE CHUẨN SEO</h1>
                <p class="text_1">FAGOAGENCY</p>
                <p class="text_2">
                    THIẾT KẾ WEBSITE
                    <i class="fixStyle">CHUẨN SEO</i>
                </p>
                <p class="text_3">CHUYÊN NGHIỆP - PHONG CÁCH HIỆN ĐẠI - TÍNH NĂNG TÍCH HỢP TỐI ƯU</p>
                <div class="btnContact">
                    <button class="btnType_1 contactCallPopUp" contacttext="Gọi điện" data-target="#popupWhenClickContact" data-toggle="modal" data="phone" datahref="tel:0934014388" idgoogleget="btn_phone_id" title="Liên hệ">LIÊN HỆ TƯ VẤN</button>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumbsBlock">
        <div class="container containerFix">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumbFix">
                    <li class="breadcrumb-item">
                        <a href="/">Trang chủ</a>
                    </li>
                    <li aria-current="page" class="breadcrumb-item active">Dịch Vụ Thiết Kế Website Chuẩn SEO</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="secMainContent data_contents getTableOfContentBlock">
        <div class="section_2">
            <div class="container">
                <p class="titleSec"> DỊCH VỤ <i class="fixStyle">THIẾT KẾ WEBSITE CHUẨN SEO</i>
                </p>
                <div class="row fixRow">
                    <div class="smallBlock">
                        <div class="imgPart figure1">
                            <p style="text-align:center;">
                                <img alt="web_chuan_seo" class="unWrapCenter" src="./assets/img/img_18.svg">
                            </p>
                        </div>
                        <p class="textPart"> Cam kết hoàn tiền <i class="fixStyle boldText700">100% giá trị hợp đồng</i> nếu phát hiện thiếu tính năng chuẩn SEO. </p>
                    </div>
                    <div class="smallBlock">
                        <div class="imgPart figure1">
                            <p style="text-align:center;">
                                <img alt="web_chuan_seo" class="unWrapCenter" src="./assets/img/img_19.svg">
                            </p>
                        </div>
                        <p class="textPart"> Miễn phí trên Amazon Webservice trong 01 năm đầu trị giá <i class="fixStyle boldText700">2.500.000 VNĐ/năm</i>
                        </p>
                    </div>
                    <div class="smallBlock">
                        <div class="imgPart figure1">
                            <p style="text-align:center;">
                                <img alt="web_chuan_seo" class="unWrapCenter" src="./assets/img/img_20.svg">
                            </p>
                        </div>
                        <p class="textPart"> Miễn phí cập nhật tính năng mới theo sự thay đổi thuật toán của Google trong vòng <i class="fixStyle boldText700">1.5 năm khi sử dụng dịch vụ SEO.</i>
                        </p>
                    </div>
                </div>
                <div class="tableOfContent appearContent">
                    <div class="title"> Nội dung bài viết: <i aria-hidden="true" class="fa fa-angle-down clickToggle"></i>
                    </div>
                    <div id="toc">
                        <ul>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-1">Bảng giá dịch vụ thiết kế Website chuẩn SEO của Fago Agency</a>
                                <ul></ul>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-2">WEB CHUẨN SEO LÀ GÌ? WEB CHUẨN SEO KHÁC VỚI WEB THƯỜNG NHƯ THẾ NÀO?</a>
                                <ul></ul>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-3">Các tính năng website chuẩn SEO</a>
                                <ul>
                                    <li style="list-style: unset;">
                                        <a href="#thiet-ke-web-6">CẦN CÓ TÍNH NĂNG ĐỂ VIẾT ĐƯỢC META TITLE VÀ META DESCRIPTION</a>
                                    </li>
                                    <li style="list-style: unset;">
                                        <a href="#thiet-ke-web-7">TÍNH NĂNG CÓ THỂ CHỈNH SỬA URL</a>
                                    </li>
                                    <li style="list-style: unset;">
                                        <a href="#thiet-ke-web-8">TỐC ĐỘ LOAD TRANG</a>
                                    </li>
                                    <li style="list-style: unset;">
                                        <a href="#thiet-ke-web-9">TÍNH NĂNG CÓ THỂ THÊM TỪ KHÓA ALT CHO HÌNH ẢNH</a>
                                    </li>
                                    <li style="list-style: unset;">
                                        <a href="#thiet-ke-web-10">TÍNH NĂNG HIỂN THỊ MENU(TABLE OF CONTENT) THEO HEADING</a>
                                    </li>
                                    <li style="list-style: unset;">
                                        <a href="#thiet-ke-web-11">TÍNH NĂNG BREADCRUMB</a>
                                    </li>
                                    <li style="list-style: unset;">
                                        <a href="#thiet-ke-web-12">TÍNH NĂNG SITEMAP.XML VÀ ROBOTS.TXT</a>
                                    </li>
                                    <li style="list-style: unset;">
                                        <a href="#thiet-ke-web-13">TÍNH NĂNG CHO PAGE 404 CHO TRANG KHÔNG TÌM THẤY</a>
                                    </li>
                                    <li style="list-style: unset;">
                                        <a href="#thiet-ke-web-14">CHỨC NĂNG SCHEMA</a>
                                    </li>
                                    <li style="list-style: unset;">
                                        <a href="#thiet-ke-web-15">TÍNH NĂNG VIẾT CONTENT CHO DANH MỤC</a>
                                    </li>
                                    <li style="list-style: unset;">
                                        <a href="#thiet-ke-web-16">TÍNH NĂNG RECOMANDATION SẢN PHẨM TRONG TIN TỨC</a>
                                    </li>
                                    <li style="list-style: unset;">
                                        <a href="#thiet-ke-web-17">TÍNH NĂNG AUTHOR</a>
                                    </li>
                                    <li style="list-style: unset;">
                                        <a href="#thiet-ke-web-18">TÍNH NĂNG CÁC TRƯỜNG LỌC, REDIRECT, MUTIL OPTION CHO CÁC SẢN PHẨM</a>
                                    </li>
                                    <li style="list-style: unset;">
                                        <a href="#thiet-ke-web-19">TÍNH NĂNG THAY ĐỔI VỊ TRÍ SẢN PHẨM TRONG DANH MỤC, HOẶC TRANG CHỦ</a>
                                    </li>
                                    <li style="list-style: unset;">
                                        <a href="#thiet-ke-web-20">TÍNH NĂNG PHÂN QUYỀN CHO NHÂN VIÊN 1 CÁCH LINH HOẠT VÀ DỄ DÀNG</a>
                                    </li>
                                    <li style="list-style: unset;">
                                        <a href="#thiet-ke-web-21">TÍNH NĂNG BUTTON TĂNG TỶ LỆ CHUYỂN ĐỔI TRÊN MOBILE</a>
                                    </li>
                                </ul>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-6">CẦN CÓ TÍNH NĂNG ĐỂ VIẾT ĐƯỢC META TITLE VÀ META DESCRIPTION</a>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-7">TÍNH NĂNG CÓ THỂ CHỈNH SỬA URL</a>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-8">TỐC ĐỘ LOAD TRANG</a>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-9">TÍNH NĂNG CÓ THỂ THÊM TỪ KHÓA ALT CHO HÌNH ẢNH</a>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-10">TÍNH NĂNG HIỂN THỊ MENU(TABLE OF CONTENT) THEO HEADING</a>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-11">TÍNH NĂNG BREADCRUMB</a>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-12">TÍNH NĂNG SITEMAP.XML VÀ ROBOTS.TXT</a>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-13">TÍNH NĂNG CHO PAGE 404 CHO TRANG KHÔNG TÌM THẤY</a>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-14">CHỨC NĂNG SCHEMA</a>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-15">TÍNH NĂNG VIẾT CONTENT CHO DANH MỤC</a>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-16">TÍNH NĂNG RECOMANDATION SẢN PHẨM TRONG TIN TỨC</a>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-17">TÍNH NĂNG AUTHOR</a>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-18">TÍNH NĂNG CÁC TRƯỜNG LỌC, REDIRECT, MUTIL OPTION CHO CÁC SẢN PHẨM</a>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-19">TÍNH NĂNG THAY ĐỔI VỊ TRÍ SẢN PHẨM TRONG DANH MỤC, HOẶC TRANG CHỦ</a>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-20">TÍNH NĂNG PHÂN QUYỀN CHO NHÂN VIÊN 1 CÁCH LINH HOẠT VÀ DỄ DÀNG</a>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-21">TÍNH NĂNG BUTTON TĂNG TỶ LỆ CHUYỂN ĐỔI TRÊN MOBILE</a>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-4">Bảng giá dịch vụ thiết kế Website chuẩn SEO của Fago Agency</a>
                                <ul></ul>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#">BÁO CHÍ NÓI VỀ CHÚNG TÔI</a>
                                <ul></ul>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-5">QUY TRÌNH LÀM VIỆC CỦA CHÚNG TÔI</a>
                                <ul>
                                    <li style="list-style: unset;">
                                        <a href="#thiet-ke-web-22">Phân tích cấu trúc Menu</a>
                                    </li>
                                    <li style="list-style: unset;">
                                        <a href="#thiet-ke-web-22">Phân tích cấu trúc trang chủ: Bố trí các H1, H2, H3</a>
                                    </li>
                                    <li style="list-style: unset;">
                                        <a href="#thiet-ke-web-23">Phân tích cấu trúc trang sản phẩm. Auto để các Heading từ H1, H2, H3</a>
                                    </li>
                                </ul>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-22">Phân tích cấu trúc Menu</a>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-22">Phân tích cấu trúc trang chủ: Bố trí các H1, H2, H3</a>
                            </li>
                            <li style="list-style: unset;">
                                <a href="#thiet-ke-web-23">Phân tích cấu trúc trang sản phẩm. Auto để các Heading từ H1, H2, H3</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_3 data_contents">
            <div class="container">
                <div class="wrapTableBlockType_2">
                    <h2 class="titleTable" id="thiet-ke-web-1">Bảng giá dịch vụ thiết kế Website chuẩn SEO của Fago Agency</h2>
                    <div class="tableBlockType_2">
                        <div class="scrollMobiForTable">
                            <table>
                                <tbody>
                                <tr class="trLine_1">
                                    <td class="tdCol_1">Tên gói dịch vụ thiết kế website</td>
                                    <td class="tdColNext">Cơ Bản</td>
                                    <td class="tdColNext">Toàn diện</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Chi phí</td>
                                    <td class="tdColNext tdSpecial">9.000.000 ₫</td>
                                    <td class="tdColNext tdSpecial">25.000.000 ₫</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1 tdSpecial">Giao diện mẫu trong kho</td>
                                    <td class="tdColNext">Sử dụng giao diện mẫu trong kho</td>
                                    <td class="tdColNext">Cá nhân hoá từng giao diện cho từng khách hàng</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">SSL Security</td>
                                    <td class="tdColNext">Có</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Video hướng dẫn sử dụng hệ thống website chuẩn SEO</td>
                                    <td class="tdColNext">Có</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Tích hợp chat trực tuyến(Zalo, facebook,..) hoặc liên hệ trực tiếp</td>
                                    <td class="tdColNext">Có</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Responsive máy tính - điện thoại - Tablet</td>
                                    <td class="tdColNext">Có</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Cam kết hoàn tiền nếu phát hiện không đủ tính năng chuẩn SEO</td>
                                    <td class="tdColNext">Có</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Server</td>
                                    <td class="tdColNext">Miễn phí server trị giá 2.5tr trong vòng 1 năm</td>
                                    <td class="tdColNext">Miễn phí server trị giá 2.5tr trong vòng 1 năm</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Tích hợp google analytics, google tagmanaer, Google search console</td>
                                    <td class="tdColNext">Có</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Thời gian hoàn thiện</td>
                                    <td class="tdColNext">3 tuần</td>
                                    <td class="tdColNext">6 tuần</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Ngôn ngữ website</td>
                                    <td class="tdColNext">Tiếng việt</td>
                                    <td class="tdColNext">Tiếng Việt - Tiếng Anh</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Update miễn phí tính năng mới theo thay đổi thuật toán của google</td>
                                    <td class="tdColNext">Không</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Tuỳ biến thiết kế kéo thả dễ dàng tạo landing page, từng giao diện đẹp để bán hàng</td>
                                    <td class="tdColNext">Không</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Tối ưu tốc độ website và source code website</td>
                                    <td class="tdColNext">Không</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1 tdSpecial">Backup dữ liệu tự động</td>
                                    <td class="tdColNext">Không</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Giảm 20% khi sử dụng dịch vụ quảng cáo google</td>
                                    <td class="tdColNext">Không</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Lấy dữ liệu từ website cũ sang website mới</td>
                                    <td class="tdColNext">Không</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <h2 class="fontSize_18 marBot_15 boldText700" id="thiet-ke-web-2">WEB CHUẨN SEO LÀ GÌ? WEB CHUẨN SEO KHÁC VỚI WEB THƯỜNG NHƯ THẾ NÀO?</h2>
                        <p class="marBot_0">Web chuẩn SEO là trang Web được thiết kế có cấu hình và tính năng cho phép các công cụ tìm kiếm như Google, Yahoo, Bing… dễ dàng thu thập dữ liệu và hiểu được toàn bộ Website.</p>
                        <p class="marBot_10">Đa số chúng ta sẽ tập trung vào giao diện: đẹp và dễ nhìn, tuy nhiên với google, web chuẩn SEO chúng ta cần xây dựng những tính năng để Bot google có thể vào lấy giữ liệu và dễ dàng hiểu hơn về website của bạn và từ khóa bạn muốn SEO tìm kiếm khách hàng</p>
                        <p class="marBot_15">Vậy Web chuẩn SEO cần những tính năng gì. Fago group xin chia sẻ với các bạn dưới đây:</p>
                    </div>
                    <div class="col-md-6 col-12 imgBlock">
                        <div class="imgPart figure2">
                            <p style="text-align:center;">
                                <img alt="web_chuan_seo" class="unWrapCenter w-100 h-100" src="./assets/img/img_21.jpg">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_4">
            <div class="container">
                <h2 id="thiet-ke-web-3">Các tính năng website chuẩn SEO</h2>
                <h3 class="fontSize_18 boldText700" id="thiet-ke-web-6">CẦN CÓ TÍNH NĂNG ĐỂ VIẾT ĐƯỢC META TITLE VÀ META DESCRIPTION</h3>
                <p>Đây là tính năng cực kỳ quan trọng. Vì nếu chúng ta không có tính năng này, việc hiển thị nội dung sẽ là do google tự phân phối</p>
                <p>Hình ảnh dưới đây là ví dụ: Khi chúng tôi search từ khóa “giàn phơi thông minh”.</p>
                <div class="imgPart">
                    <p style="text-align:center;">
                        <img alt="content" src="./assets/img/img_22.png">
                    </p>
                </div>
                <p>Hình ảnh trên là có tính năng meta title và description, SEO sẽ có thể dễ dàng tối ưu từ khóa vào trong đó giúp google dễ hiểu hơn về nội dung người bán muốn truyền tải và người dùng dễ dàng biết người bán bán gì</p>
                <div class="imgPart">
                    <p style="text-align:center;">
                        <img alt="content" src="./assets/img/img_23.png">
                    </p>
                </div>
                <p>Hình ảnh trên là website không có tính năng meta title và description, và google sẽ tự crawl nội dung trong website thể hiện ra, và chúng ta thấy nội dung sai so với từ khóa khách hàng search.</p>
            </div>
        </div>
        <div class="section_3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12 imgBlock">
                        <div class="imgPart figure2">
                            <p style="text-align:center;">
                                <img alt="web_chuan_seo" class="unWrapCenter w-100 h-100" src="./assets/img/img_24.jpg">
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 m-auto">
                        <h3 class="marBot_15 boldText700" id="thiet-ke-web-7">TÍNH NĂNG CÓ THỂ CHỈNH SỬA URL</h3>
                        <p class="marBot_0">URL chính là tính năng rất quan trọng trong SEO, tuy nhiên, nếu làm website không chú ý, chúng ta không thể sửa được url thì đa số url sẽ tự sinh ra theo title chúng ta đặt</p>
                        <p class="marBot_0">Ví dụ: Chúng ta có bài viết: Top 5+ giàn phơi thông minh tốt nhất dành cho chung cư mà nhiều người tìm kiếm</p>
                        <p class="marBot_0">Nếu chúng ta không có tính năng sửa url thì sẽ sinh ra: domain/top-5-gian-phoi-thong-minh-tot-nhat-danh-cho-chung-cu-ma-chieu-nguoi-tim-kiem</p>
                        <p class="marBot_0">⇒ Với url dài này sẽ không thân thiện với google</p>
                        <p class="marBot_0">Nếu có tính năng sửa url thì sẽ có thể rút gọn thành: Domain/gian-phoi-thong-minh-chung-cu</p>
                        <p class="marBot_0">⇒ đủ ngắn gọn và đủ từ khóa chính mà google có thể hiểu</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-12 smallBlock">
                        <h3 class="title" id="thiet-ke-web-8">TỐC ĐỘ LOAD TRANG</h3>
                        <p class="description">Đây chính là yếu tố cực kỳ quan trọng mang lại trải nghiệm tốt cho người dùng. Vì vậy website chuẩn SEO sẽ tối ưu source code và có những tính năng ví du: lazy loading để tăng tốc độ load của website</p>
                        <div class="imgPart figure2">
                            <p style="text-align:center;">
                                <img alt="web_chuan_seo" class="unWrapCenter" src="./assets/img/img_25.svg">
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-12 smallBlock">
                        <h3 class="title" id="thiet-ke-web-9">TÍNH NĂNG CÓ THỂ THÊM TỪ KHÓA ALT CHO HÌNH ẢNH</h3>
                        <p class="description">Như chúng ta đã biết, có rất nhiều lĩnh vực chúng ta cần SEO hình ảnh, ví dụ: giàn phơi, quần áo, giày dép, làm đẹp,..... vì vậy, nếu như website không có tính năng thêm để thêm từ khóa cho hình ảnh thì google sẽ ko thể hiểu nhanh hình ảnh bạn truyền tải để đưa lên top cho người dùng</p>
                        <div class="imgPart figure2">
                            <p style="text-align:center;">
                                <img alt="web_chuan_seo" class="unWrapCenter" src="./assets/img/img_26.svg">
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-12 smallBlock">
                        <h3 class="title" id="thiet-ke-web-10">TÍNH NĂNG HIỂN THỊ MENU(TABLE OF CONTENT) THEO HEADING</h3>
                        <p class="description">Heading chính là 1 yếu tố quan trọng trong SEO, Google là bot sẽ có sự xếp ưu tiên trong nội dung bài viết, khi chúng ta viết 1 bài content, việc chèn chính xác các thẻ Heading H1, H2, H3 sẽ giúp google dễ hiểu hơn về từ khóa cần SEO trong bài viết và sẽ hiển thị theo mục lục như hình ảnh dưới đây</p>
                        <div class="imgPart figure2">
                            <p style="text-align:center;">
                                <img alt="web_chuan_seo" class="unWrapCenter" src="./assets/img/img_27.svg">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="btnRegister">
                    <a class="btnType_1" href="tel:0934014388">ĐĂNG KÝ TƯ VẤN</a>
                </div>
            </div>
        </div>
        <div class="section_4" style="background-color: #ffffff;">
            <div class="container">
                <h3 class="fontSize_18 boldText700" id="thiet-ke-web-11">TÍNH NĂNG BREADCRUMB</h3>
                <p class="boldText700">Breadcrumb tiện dụng với người dùng</p>
                <ul class="paddingLeft_35 marBot_15">
                    <li style="list-style: unset;">Tiện dụng cho người dùng: Breadcrumb là công cụ hỗ trợ để người dùng điều hướng một trang web. Đối với một website lớn với nhiều nội dung, breadcrumb giúp người dùng định vị bản thân so với cấu trúc toàn site</li>
                    <li style="list-style: unset;">Giảm số click và thao tác để quay trở lại các trang cấp cao: Thay vì sử dụng nút "Back" hoặc top menu của website để quay trở lại trang cấp cao hơn, người dùng có thể sử dụng breadcrumb và dễ dàng di chuyển đến các category hoặc tổ chức cao hơn trong website</li>
                    <li style="list-style: unset;">Giảm bounce rate: Các điều hướng của breadcrumb là một phương pháp hữu hiệu để khuyến khích người truy cập kiểm tra nội dung của một website sau khi đã xem trang đích. Các liên kết của breadcrumb sẽ dẫn người dùng đến các phân trang khác và cung cấp những thông tin liên quan. Điều này giúp làm giảm tỷ lệ thoát trang nói chung.</li>
                </ul>
                <p class="boldText700">Breadcrumb có tác dụng đặc biệt với SEO</p>
                <p>Rất nhiều người làm SEO dùng breadcrumb như một cách tăng lượng anchor text có gắn keyword trên website; tuy nhiên nếu bị lạm dụng, kĩ thuật này có thể làm giảm UX (trải nghiệm người dùng), và việc này thì không bao giờ là tốt.</p>
                <p>Quan trọng hơn, trong một vài trường hợp, breadcrumb của bạn có thể hiện lên trên kết quả tìm kiếm (SERPs), tăng khả năng người dùng click vào kết quả của bạn giữa những kết quả tìm kiếm khác</p>
                <div class="imgPart figure2 marBot_15">
                    <p style="text-align:center;">
                        <img alt="web_chuan_seo" src="./assets/img/img_28.svg">
                    </p>
                </div>
                <h3 class="fontSize_18 boldText700" id="thiet-ke-web-12">TÍNH NĂNG SITEMAP.XML VÀ ROBOTS.TXT</h3>
                <p>Sitemap giống như bản đồ vẽ đường cho google có thể vào đọc hiểu website 1 cách nhanh nhất</p>
                <p>
                    <i class="boldText700">ML Sitemap</i> giúp Google hiểu được cấu trúc của một Website khi nó thu thập thông tin. Khi bạn chuyển nhiều dữ liệu hơn cho Google, bạn cũng có thể xác định các trang quan trọng nhất và có giá trị đối với bạn để ưu tiên chúng.
                </p>
                <p class="marBot_30"> Nếu bạn có một số trang không muốn <i class="boldText700">Google submit</i> bạn có thể sử dụng tệp Robots.txt. Nó sẽ báo cho Google, các bot biết trang nào không cần Index. Hãy nhớ cập nhật lại tệp Robots.txt nếu bạn quyết định cấu trúc lại trang Web của mình. </p>
                <h3 class="fontSize_18 boldText700" id="thiet-ke-web-13">TÍNH NĂNG CHO PAGE 404 CHO TRANG KHÔNG TÌM THẤY</h3>
                <p>Trong quá trình phát triển website, sẽ có những lúc bạn sẽ cần xóa bài, hoặc có thể do bất kỳ lý do gì đó mà bị lỗi trang. vì vậy chúng ta cần có page 404 để thông báo cho người dùng và google biết đấy là trang lỗi</p>
                <div class="imgPart figure2">
                    <p style="text-align:center;">
                        <img alt="web_chuan_seo" src="./assets/img/img_29.svg">
                    </p>
                </div>
            </div>
        </div>
        <div class="section_6">
            <div class="container">
                <div class="row">
                    <div class="leftBlock">
                        <div class="imgPart marBot_10">
                            <p style="text-align:center;">
                                <img alt="web_chuan_seo" class="unWrapCenter fixImg" src="./assets/img/img_30.svg">
                            </p>
                        </div>
                        <h3 class="boldText700" id="thiet-ke-web-14">CHỨC NĂNG SCHEMA</h3>
                        <p>Schema là một đoạn code nhỏ gắn vào phần HTML của website. Nó có công dụng giúp các công cụ tìm kiếm đọc website của bạn dễ dàng hơn, và tăng khả năng xếp hạng bạn trên các kết quả tìm kiếm.</p>
                        <p>Google cho hiển thị rất nhiều dạng schema khác nhau</p>
                        <p class="marBot_30">Nếu website không có tính năng chèn schema thì chín là 1 điểm yếu khi bạn muốn chiếm Top từ khóa so với đối thủ</p>
                    </div>
                    <div class="rightBlock">
                        <p style="text-align:center;">
                            <img alt="web_chuan_seo" class="unWrapCenter" src="./assets/img/img_31.svg">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_7">
            <div class="container">
                <div class="row">
                    <div class="textBlock">
                        <h3 class="fontSize_18 boldText700" id="thiet-ke-web-15">TÍNH NĂNG VIẾT CONTENT CHO DANH MỤC</h3>
                        <p class="marBot_15">Sẽ có rất nhiều sản phẩm người dùng tìm kiếm và chúng ta cần SEO danh mục. Tuy nhiên, nếu website của bạn không có tính năng viết nội dung cho danh mục, chúng ta sẽ không thể SEO được các từ khóa để google hiểu được về danh mục cần SEO từ khóa gì</p>
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="web_chuan_seo" class="unWrapCenter" src="./assets/img/img_32.svg">
                            </p>
                            <p class="textUnderImg">Không có content cho danh mục</p>
                        </div>
                    </div>
                    <div class="rightBlock">
                        <p style="text-align:center;">
                            <img alt="web_chuan_seo" class="unWrapCenter" src="./assets/img/img_33.svg">
                        </p>
                        <p class="textUnderImg">Có content cho danh mục</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_8">
            <div class="row rowFix">
                <div class="smallBlock leftBlock">
                    <h3 class="boldText700 text_cent marBot_15" id="thiet-ke-web-16">TÍNH NĂNG RECOMANDATION SẢN PHẨM TRONG TIN TỨC</h3>
                    <p class="marBot_30 text_cent">SEO chỉ là 1 kênh để bán hàng, mục tiêu cuối cùng của chúng ta là bán hàng. Tính năng recommadation cho bài viết giúp các bạn có thể bán hàng luôn từ bài tin tức chúng ta viết chia sẻ</p>
                    <div class="imgPart">
                        <p style="text-align:center;">
                            <img alt="web_chuan_seo" class="unWrapCenter" src="./assets/img/img_34.svg">
                        </p>
                    </div>
                </div>
                <div class="smallBlock rightBlock">
                    <h3 class="boldText700 text_cent marBot_15" id="thiet-ke-web-17">TÍNH NĂNG AUTHOR</h3>
                    <p class="marBot_30 text_cent">Tính năng Author đặc biệt quan trọng cho những lĩnh vực về chuyên môn cao, về sức khỏe. để vượt qua được thuật toán Medic của Google, bắt buộc các trang đó cần có tính năng Author.</p>
                    <div class="imgPart_1">
                        <p style="text-align:center;">
                            <img alt="web_chuan_seo" class="unWrapCenter" src="./assets/img/img_35.svg">
                        </p>
                    </div>
                    <div class="imgPart_2">
                        <p style="text-align:center;">
                            <img alt="web_chuan_seo" class="unWrapCenter" src="./assets/img/img_36.svg">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_4 section_4_2" style="background-color: #ffffff;">
            <div class="container">
                <h3 class="boldText700" id="thiet-ke-web-18">TÍNH NĂNG CÁC TRƯỜNG LỌC, REDIRECT, MUTIL OPTION CHO CÁC SẢN PHẨM</h3>
                <p class="marBot_15">Đây chính là những tính năng rất quan trọng để tránh việc trùng lặp nội dung khi bạn sinh ra quá nhiều URL cũng như giúp khách hàng dễ dàng tìm kiếm thông tin, tăng time on site trên web</p>
                <h3 class="boldText700" id="thiet-ke-web-19">TÍNH NĂNG THAY ĐỔI VỊ TRÍ SẢN PHẨM TRONG DANH MỤC, HOẶC TRANG CHỦ</h3>
                <p class="marBot_15">Đối với website bán sản phẩm, việc SEO từ khóa liên quan đến danh mục hoặc trang chủ là điều tất yếu. Và kết quả nhận thấy rằng, tỷ lệ người dùng xem trang chủ và những trang danh mục rất cao, và chúng ta có hàng trăm sản phẩm, vậy việc có thể tùy chỉnh sản phẩm hiển thị lên đầu ở trang chủ hoặc trang danh mục là rất cần thiết. Với tính năng này chúng ta sẽ dễ dàng điều hướng khách hàng vào sản phẩm mục tiêu của mình khi SEO lên Top</p>
                <h3 class="boldText700" id="thiet-ke-web-20">TÍNH NĂNG PHÂN QUYỀN CHO NHÂN VIÊN 1 CÁCH LINH HOẠT VÀ DỄ DÀNG</h3>
                <p class="marBot_30">Ngày nay, chúng ta thấy rằng ai cũng có 1 email trên gmail, Fagoagency không sử dụng cách tạo tài khoản sau đó gửi pass trong admin. Mà cơ chế website chuẩn SEO là nhân viên tự đăng nhập vào website bằng google hoặc Facebook</p>
                <div class="row marBot_30">
                    <div class="col-md-4 col-12">
                        <div class="imgPart imgPart_1 marBot_15">
                            <p style="text-align:center;">
                                <img alt="web_chuan_seo" class="unWrapCenter m-0" src="./assets/img/img_37.jpg">
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8 col-12">
                        <p class="marBot_15">Sau đó admin sẽ share quyền cho nhân viên với các chức năng mong muốn</p>
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="web_chuan_seo" class="unWrapCenter w-100 m-0" src="./assets/img/img_38.svg">
                            </p>
                        </div>
                    </div>
                </div>
                <h3 class="boldText700" id="thiet-ke-web-21">TÍNH NĂNG BUTTON TĂNG TỶ LỆ CHUYỂN ĐỔI TRÊN MOBILE</h3>
                <p class="marBot_15">Với Fagoagency, 1 Website chuẩn SEO không những cần đủ tính năng cho SEOer có thể thực thi mà còn làm sao tăng được đơn hàng khi lên Top. Vì vậy với Mobile, chúng tôi xây dựng tính năng với các nút giúp khách hàng dễ dàng chuyển đổi đơn hàng: Gọi điện - nhắn tin zalo - nhắn tin Facebook - nhắn tin SMS -...</p>
                <div class='owl-carousel owl-theme owl_3_part'>
                    <div class='imgPart'>
                        <img alt='' class='unWrapCenter' src='./assets/img/img_39.svg'>
                    </div>
                    <div class='imgPart'>
                        <img alt='' class='unWrapCenter' src='./assets/img/img_40.svg'>
                    </div>
                    <div class='imgPart'>
                        <img alt='' class='unWrapCenter' src='./assets/img/img_41.svg'>
                    </div>
                    <div class='imgPart'>
                        <img alt='' class='unWrapCenter' src='./assets/img/img_40.svg'>
                    </div>
                </div>
                <div class="btnRegister">
                    <a class="btnType_1" href="tel:0934014388">ĐĂNG KÝ TƯ VẤN</a>
                </div>
            </div>
        </div>
        <div class="specialBlock_1">
            <div class="container">
                <div class="titleBlock_1">
                    <p class="text_2">ĐƠN GIÁ</p>
                    <div class="underline"></div>
                </div>
                <div class="row">
                    <div class="smallBlock_1">
                        <div class="wrapText_1">
                            <div class="text_1">
                                <p>Đơn giá</p>
                                <p class="boldText700">25 triệu</p>
                                <p>đồng</p>
                            </div>
                            <div class="imgPart">
                                <p style="text-align:center;">
                                    <img alt="item" class="unWrapCenter m-0" src="./assets/img/item_5.svg">
                                </p>
                            </div>
                        </div>
                        <div class="wrapText_2">
                            <div class="text_2">
                                <p class="p1Tag">GIẢM CÒN</p>
                                <p class="p2Tag">20 triệu</p>
                                <p class="p1Tag">đồng</p>
                            </div>
                        </div>
                    </div>
                    <div class="smallBlock_2">
                        <p class="text_1">ƯU ĐÃI - MIỄN PHÍ</p>
                        <ul>
                            <li style="list-style: unset;">Ưu đãi trong tháng 4 danh cho doanh nghiệp nhỏ và siêu nhỏ</li>
                            <li style="list-style: unset;">Miễn phí Server trên Amazon Webservice trong 01 năm đầu trị giá 2.5tr/năm</li>
                            <li style="list-style: unset;">Miễn phí cập nhật tính năng mới theo sự thay đổi thuật toán của Google trong vòng 1.5 năm khi sử dụng dịch vụ SEO, phí cập nhật tính năng sau đó không quá 10% giá trị hợp đồng thiết kế Website.</li>
                        </ul>
                        <a class="btnType_3" href="tel:0934014388">GỌI NGAY CHO CHÚNG TÔI</a>
                    </div>
                    <div class="smallBlock_3 figure2">
                        <p style="text-align:center;">
                            <img alt="web_chuan_seo" class="unWrapCenter" src="./assets/img/img_42.png">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_4">
            <div class="container">
                <div class="wrapTableBlockType_2">
                    <h2 class="titleTable" id="thiet-ke-web-4">Bảng giá dịch vụ thiết kế Website chuẩn SEO của Fago Agency</h2>
                    <div class="tableBlockType_2">
                        <div class="scrollMobiForTable">
                            <table>
                                <tbody>
                                <tr class="trLine_1">
                                    <td class="tdCol_1">Tên gói dịch vụ thiết kế website</td>
                                    <td class="tdColNext">Cơ Bản</td>
                                    <td class="tdColNext">Toàn diện</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Chi phí</td>
                                    <td class="tdColNext tdSpecial">9.000.000 ₫</td>
                                    <td class="tdColNext tdSpecial">25.000.000 ₫</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1 tdSpecial">Giao diện mẫu trong kho</td>
                                    <td class="tdColNext">Sử dụng giao diện mẫu trong kho</td>
                                    <td class="tdColNext">Cá nhân hoá từng giao diện cho từng khách hàng</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">SSL Security</td>
                                    <td class="tdColNext">Có</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Video hướng dẫn sử dụng hệ thống website chuẩn SEO</td>
                                    <td class="tdColNext">Có</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Tích hợp chat trực tuyến(Zalo, facebook,..) hoặc liên hệ trực tiếp</td>
                                    <td class="tdColNext">Có</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Responsive máy tính - điện thoại - Tablet</td>
                                    <td class="tdColNext">Có</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Cam kết hoàn tiền nếu phát hiện không đủ tính năng chuẩn SEO</td>
                                    <td class="tdColNext">Có</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Server</td>
                                    <td class="tdColNext">Miễn phí server trị giá 2.5tr trong vòng 1 năm</td>
                                    <td class="tdColNext">Miễn phí server trị giá 2.5tr trong vòng 1 năm</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Tích hợp google analytics, google tagmanaer, Google search console</td>
                                    <td class="tdColNext">Có</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Thời gian hoàn thiện</td>
                                    <td class="tdColNext">3 tuần</td>
                                    <td class="tdColNext">6 tuần</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Ngôn ngữ website</td>
                                    <td class="tdColNext">Tiếng việt</td>
                                    <td class="tdColNext">Tiếng Việt - Tiếng Anh</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Update miễn phí tính năng mới theo thay đổi thuật toán của google</td>
                                    <td class="tdColNext">Không</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Tuỳ biến thiết kế kéo thả dễ dàng tạo landing page, từng giao diện đẹp để bán hàng</td>
                                    <td class="tdColNext">Không</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Tối ưu tốc độ website và source code website</td>
                                    <td class="tdColNext">Không</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1 tdSpecial">Backup dữ liệu tự động</td>
                                    <td class="tdColNext">Không</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Giảm 20% khi sử dụng dịch vụ quảng cáo google</td>
                                    <td class="tdColNext">Không</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                <tr class="trLineNext">
                                    <td class="tdCol_1">Lấy dữ liệu từ website cũ sang website mới</td>
                                    <td class="tdColNext">Không</td>
                                    <td class="tdColNext">Có</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "../share/magazineBlock.html" %}
        <div class="section_9">
            <div class="container">
                <h2 class="fontSize_18 boldText700" id="thiet-ke-web-5">QUY TRÌNH LÀM VIỆC CỦA CHÚNG TÔI</h2>
                <p class="marBot_0">
                    <i class="boldText700">Bước 1:</i> Phân tích sản phẩm của khách hàng, lấy đầy đủ thông tin của khách hàng
                </p>
                <p class="marBot_15">Với chúng tôi, bước này rất quan trọng, mỗi ngành nghề, mỗi dịch vụ sẽ có đặc thù khác nhau. Nếu chúng tôi không hiểu rõ các bạn bán gì, đối thủ bạn là ai thì sẽ không thể xây dựng được 1 website đúng với mong muốn</p>
                <p class="marBot_0">
                    <i class="boldText700">Bước 2:</i> xây dưng sitemap và các Menu
                </p>
                <p class="marBot_15">Đây chính là bước phân tích cấu trúc hệ thống website. Nếu xây dựng cấu trúc sai như ngôi nha không có thiết kế vậy, sẽ trở nên chắp vá và sẽ thừa và thiếu các tính năng cho ngôi nhà</p>
                <h3 class="marBot_15 boldText700">Phân tích cấu trúc Menu</h3>
                <div class="imgPart marBot_15">
                    <p style="text-align:center;">
                        <img alt="web_chuan_seo" src="./assets/img/img_43.svg">
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-4 col-12">
                        <h3 class="boldText500">Phân tích cấu trúc trang chủ: Bố trí các H1, H2, H3</h3>
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="" class="unWrapCenter w-100" src="./assets/img/img_44.svg">
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <p class="boldText500">Phân tích cấu trúc trang danh mục sản phẩm. Bố trí logic auto của H1, H2, H3</p>
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="" class="unWrapCenter w-100" src="./assets/img/img_45.svg">
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <h3 class="boldText500" id="thiet-ke-web-23">Phân tích cấu trúc trang sản phẩm. Auto để các Heading từ H1, H2, H3</h3>
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="" class="unWrapCenter w-100" src="./assets/img/img_46.svg">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <p class="marBot_15">
                            <i class="boldText700">Bước 3:</i> Design đủ các bản thiết kế cho website
                        </p>
                        <p class="marBot_0">Giao diện trang chủ</p>
                        <ul class="paddingLeft_35 marBot_15">
                            <li class="marBot_0" style="list-style: unset;">Có layout để banner chương trình khuyến mãi</li>
                            <li class="marBot_0" style="list-style: unset;">Có layout đưa thông tin về sản phẩm</li>
                            <li class="marBot_0" style="list-style: unset;">Có layout đưa nội dung về các ưu thế của sản phẩm</li>
                            <li class="marBot_0" style="list-style: unset;">Có layout đưa nội dung về báo chí nói về sản phẩm</li>
                            <li class="marBot_0" style="list-style: unset;">Có layout về nội dung mà bên A mong muốn đưa vào trang chủ</li>
                        </ul>
                        <p class="marBot_0">Giao diện giới thiệu về chúng tôi</p>
                        <ul class="paddingLeft_35 marBot_15">
                            <li class="marBot_0" style="list-style: unset;">Phù hợp với 1 Website giới thiệu thông tin, dịch vụ và sản phẩm.</li>
                            <li class="marBot_0" style="list-style: unset;">Giao diện thiết kế chuyên nghiệp, hiện đại, đảm bảo tính mỹ thuật.</li>
                        </ul>
                        <p class="marBot_0">Giao diện giới thiệu về các author</p>
                        <p class="marBot_0">Giao diện giới thiệu chi tiết về author</p>
                        <p class="marBot_0">Giao diện về các trang chính sách</p>
                        <ul class="paddingLeft_35 marBot_15">
                            <li class="marBot_0" style="list-style: unset;">Chính sách mua hàng và thanh toán</li>
                            <li class="marBot_0" style="list-style: unset;">Chính sách bảo mật thông tin khách hàng</li>
                            <li class="marBot_0" style="list-style: unset;">Chính sách đổi trả, hoàn tiền</li>
                            <li class="marBot_0" style="list-style: unset;">Thỏa thuận sử dụng dịch vụ</li>
                        </ul>
                        <p class="marBot_0">Giao diện trang tin tức</p>
                        <p class="marBot_0">Giao diện bài viết chia sẻ</p>
                        <p class="marBot_0">Giao diện trang báo chí nói về khách hàng</p>
                        <p class="marBot_0">Giao diện về khách hàng</p>
                        <p class="marBot_0">Giao diện trang hubpage</p>
                        <p class="marBot_0">Giao diện trang liên hệ</p>
                        <p class="marBot_15">Giao diện trang tuyển dụng</p>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class='owl-carousel owl-theme owl_1_part'>
                            <div class='imgPart'>
                                <img alt='' class='unWrapCenter' src='./assets/img/img_47.jpg'>
                            </div>
                            <div class='imgPart'>
                                <img alt='' class='unWrapCenter' src='./assets/img/img_47.jpg'>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="marBot_15">
                    <i class="boldText700">Bước 4:</i> Code website. Chúng tôi tối ưu từng dòng code vì việc bảo mật và tốc độ load chính là yếu tố chúng tôi hướng tới
                </p>
                <p class="marBot_0">
                    <i class="boldText700">Bước 5:</i> Bàn giao và video hướng dẫn sử dụng
                </p>
                <ul class="paddingLeft_35 marBot_30">
                    <li class="marBot_0" style="list-style: unset;">Tại sao lại lựa chọn thiết kế web chuẩn SEO của fago agency</li>
                    <li class="marBot_0" style="list-style: unset;">Chúng tôi là đơn vị thiết kế web đầu tiên cam kết hoàn lại tiền nếu như thiếu tính năng chuẩn SEO</li>
                    <li class="marBot_0" style="list-style: unset;">Miễn phí Server trên Amazon Webservice trong 01 năm đầu trị giá 2.5tr/năm</li>
                    <li class="marBot_0" style="list-style: unset;">Miễn phí cập nhật tính năng mới theo sự thay đổi thuật toán của Google trong vòng 1.5 năm khi sử dụng dịch vụ SEO, phí cập nhật tính năng sau đó không quá 10% giá trị hợp đồng thiết kế Website.</li>
                    <li class="marBot_0" style="list-style: unset;">Cam kết rẻ nhất thị trường nếu các đơn vị cùng phân khúc về thiết kế website chuẩn SEO đúng nghĩa</li>
                </ul>
                <div class="btnRegister">
                    <a class="btnType_1" href="tel:0934014388">ĐĂNG KÝ TƯ VẤN</a>
                </div>
            </div>
        </div>
    </div>
    {% include "../share/galleryBlock.html" %}
</div>