<div class="container-fluid serviceFagoAgency serviceFagoAgency_4">
    <div class="section_1">
        <div class="bgColorTransparent"></div>
        <div class="container containerFix">
            <div class="row">
                <div class="imgBlock">
                    <img alt="quang_cao_google" src="./assets/img/Phone-1-1-1.png">
                </div>
                <div class="textBlock">
                    <p class="text_1">DỊCH VỤ</p>
                    <p class="text_1">THIẾT LẬP VÀ VẬN HÀNH GIAN HÀNG THƯƠNG MẠI ĐIỆN TỬ LAZADA</p>
                    <p class="text_2">Tối ưu gian hàng mở ngàn cơ hội</p>
                    <div class="btnContact">
                        <button class="btnType_3 contactCallPopUp" contacttext="Gọi điện" data-target="#popupWhenClickContact" data-toggle="modal" data="phone" datahref="tel:0934014388" idgoogleget="btn_phone_id" target="_blank" title="Liên hệ">LIÊN HỆ TƯ VẤN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumbsBlock">
        <div class="container containerFix">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumbFix">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Dịch Vụ Xây Dựng Và Vận Hành Gian Hàng TMĐT Lazada</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="secMainContent data_contents getTableOfContentBlock">
        <div class="container">
            <div class="tableBlockType1">
                <p class="title">BẢNG GIÁ GÓI DỊCH VỤ VẬN HÀNH THƯƠNG MẠI ĐIỆN TỬ LAZADA</p>
                <div class="wrapTable">
                    <div class="scrollMobiForTable">
                        <table class="tableTag">
                            <tbody>
                            <tr class="trTag tr1Tag">
                                <td>Tên gói dịch vụ</td>
                                <td colspan="2">Giá gói (theo tháng)</td>
                                <td>Ưu đãi</td>
                            </tr>
                            <tr class="trTag tr2Tag">
                                <td>Gói setup sàn thương mại điện tử Lazada</td>
                                <td>8.000.000đ</td>
                                <td>
                                    <p class="marBot_0 text_cent">Chi trả 1 lần</p>
                                    <p class="marBot_0 text_cent">Miễn phí đưa dưới 100 sản phẩm chuẩn SEO lên sàn</p>
                                </td>
                                <td>Miễn phí khi sử dụng dịch vụ vận hành sàn thương mại điện tử Lazada</td>
                            </tr>
                            <tr class="trTag tr2Tag">
                                <td>Gói vận hành sàn thương mại điện tử Lazada</td>
                                <td>6.000.000đ</td>
                                <td>3% doanh thu sàn</td>
                                <td>
                                    <p class="marBot_0 text_cent">Giảm 60% khi sử dụng dịch vụ SEO</p>
                                    <p class="marBot_0 text_cent">Giảm 12% khi sử dụng dịch vụ thiết kế website chuẩn SEO</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tableBlockType1">
                <p class="title">BẢNG GIÁ COMBO DỊCH VỤ VẬN HÀNH SÀN THƯƠNG MẠI ĐIỆN TỬ LAZADA KẾT HỢP QUẢNG CÁO GOOGLE</p>
                <div class="wrapTable">
                    <div class="scrollMobiForTable">
                        <table class="tableTag">
                            <tbody>
                            <tr class="trTag tr1Tag">
                                <td>Tên gói dịch vụ</td>
                                <td colspan="2">Giá gói (theo tháng)</td>
                                <td>Ưu đãi</td>
                            </tr>
                            <tr class="trTag tr2Tag">
                                <td>Gói combo kết hợp quảng cáo google shopping + vận hành TMDT Lazada</td>
                                <td>8.000.000đ</td>
                                <td>10% ngân sách quảng cáo</td>
                                <td>
                                    <p class="marBot_0 text_cent">Giảm 50% khi sử dụng dịch vụ SEO</p>
                                    <p class="marBot_0 text_cent">Giảm 12% khi sử dụng dịch vụ thiết kế website chuẩn SEO</p>
                                </td>
                            </tr>
                            <tr class="trTag tr2Tag">
                                <td>Gói combo số hóa doanh nghiệp (SEO cam kết top từ khóa + chạy quảng cáo google + vận hành TMDT Lazada)</td>
                                <td>22.000.000đ</td>
                                <td>10% ngân sách quảng cáo</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="specialBlock_7">
            <div class="container">
                <div class="titleBlock_2">
                    <p class="text_1">NHỮNG KHÓ KHĂN BẠN GẶP PHẢI</p>
                    <p class="text_2">KHI KINH DOANH TRÊN SÀN THƯƠNG MẠI ĐIỆN TỬ LAZADA</p>
                </div>
                <div class="row">
                    <div class="smallBlock">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="" class="unWrapCenter" src="./assets/img/item_21.svg">
                            </p>
                        </div>
                        <p class="text_1">Chiến lược cạnh tranh, phát triển dài hạn gian hàng làm bạn đau đầu</p>
                    </div>
                    <div class="smallBlock">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="" class="unWrapCenter" src="./assets/img/item_21.svg">
                            </p>
                        </div>
                        <p class="text_1">Bạn chưa biết SEO sản phẩm của mình trên sàn như thế nào</p>
                    </div>
                    <div class="smallBlock">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="" class="unWrapCenter" src="./assets/img/item_21.svg">
                            </p>
                        </div>
                        <p class="text_1">Gian hàng nghèo nàn về thiết kế, không mang lại ấn tượng với khách hàng</p>
                    </div>
                    <div class="smallBlock">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="" class="unWrapCenter" src="./assets/img/item_21.svg">
                            </p>
                        </div>
                        <p class="text_1">Khách hàng không thể tìm thấy sản phẩm của bạn trên sàn</p>
                    </div>
                    <div class="smallBlock">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="" class="unWrapCenter" src="./assets/img/item_21.svg">
                            </p>
                        </div>
                        <p class="text_1">Traffic vào gian hàng, tỉ lệ chuyển đổi thấp, tỉ lệ thoát trang cao</p>
                    </div>
                    <div class="smallBlock">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="" class="unWrapCenter" src="./assets/img/item_21.svg">
                            </p>
                        </div>
                        <p class="text_1">Bạn không hiểu về cơ chế đo lương và các chỉ số quan trọng của gian hàng</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="specialBlock_3">
            <div class="container">
                <div class="titleBlock_2">
                    <p class="text_1">FAGO AGENCY</p>
                    <p class="text_2">HỖ TRỢ BẠN CÁC VẤN ĐỀ</p>
                </div>
                <div class="owl-carousel owl-theme owl_3_part_2 owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">
                            <div class="owl-item">
                                <div class="imgPart figure1">
                                    <img alt="" class="unWrapCenter" src="./assets/img/img_56.svg">
                                </div>
                            </div>
                            <div class="owl-item">
                                <div class="imgPart figure1">
                                    <img alt="" class="unWrapCenter" src="./assets/img/img_57.svg">
                                </div>
                            </div>
                            <div class="owl-item">
                                <div class="imgPart figure1">
                                    <img alt="" class="unWrapCenter" src="./assets/img/img_58.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav disabled">
                        <button type="button" role="presentation" class="owl-prev">
                            <span aria-label="Previous" style="font-size: unset; font-family: unset;">‹</span>
                        </button>
                        <button type="button" role="presentation" class="owl-next">
                            <span aria-label="Next" style="font-size: unset; font-family: unset;">›</span>
                        </button>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div>
                <p class="text_1">SETUP GIAN HÀNG TIÊU CHUẨN</p>
                <div class="row">
                    <div class="col-md-4 col-12 smallBlock">
                        <p class="text_2">DỊCH VỤ SETUP GIAN HÀNG THƯỜNG.</p>
                        <ul>
                            <li class="text_3" style="list-style: unset;">Đăng tải sản phẩm mới chuẩn SEO</li>
                            <li class="text_3" style="list-style: unset;">Tối ưu lại sản phẩm cũ</li>
                            <li class="text_3" style="list-style: unset;">Trang trí, thiết kế gian hàng phù hợp với khách hàng</li>
                            <li class="text_3" style="list-style: unset;">Tặng 10 banner Lazada Live</li>
                            <li class="text_3" style="list-style: unset;">Setup Quảng cáo một cách tối ưu nhất</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-12 smallBlock">
                        <p class="text_2">TỐI ƯU CÔNG CỤ QUẢNG CÁO</p>
                        <ul>
                            <li class="text_3" style="list-style: unset;">
                                <i class="boldText700">Kênh Marketing:</i> Tối ưu toàn bộ các công cụ quảng cáo miễn phí trong mục Kênh Marketing, khách hàng sẽ thấy thu hút hơn với các chương trình của bạn
                            </li>
                            <li class="text_3" style="list-style: unset;">
                                <i class="boldText700">Quảng cáo Lazada:</i> Xây dựng bộ từ khoá chuẩn, hướng đúng tập khách hàng, kết họp với việc tối ưu SEO gian hàng nhằm giảm thiểu chi phí nhưng vẫn tăng hiệu quả
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-12 smallBlock">
                        <p class="text_2">BỘ TỪ KHOÁ CHUẨN SEO CHI TIẾT</p>
                        <ul>
                            <li class="text_3" style="list-style: unset;">Từ khoá có tỷ lệ, lượt tìm kiếm cao trên Sàn đối với ngành hàng bạn đang kinh doanh</li>
                            <li class="text_3" style="list-style: unset;">Theo dõi liên tục thứ hạng, tỷ lệ, lượt tìm kiếm của từ khoá</li>
                            <li class="text_3" style="list-style: unset;">Giảm thiểu chi phí quảng cáo</li>
                        </ul>
                    </div>
                </div>
                <div class="owl-carousel owl-theme owl_3_part_2 owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">
                            <div class="owl-item active">
                                <div class="imgPart figure1">
                                    <img alt="" class="unWrapCenter" src="./assets/img/van_hanh_thuong_mai_dien_tu_1.png">
                                </div>
                            </div>
                            <div class="owl-item active">
                                <div class="imgPart figure1">
                                    <img alt="" class="unWrapCenter" src="./assets/img/van_hanh_thuong_mai_dien_tu_2.png">
                                </div>
                            </div>
                            <div class="owl-item active">
                                <div class="imgPart figure1">
                                    <img alt="" class="unWrapCenter" src="./assets/img/van_hanh_thuong_mai_dien_tu_3.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav disabled">
                        <button type="button" role="presentation" class="owl-prev">
                            <span aria-label="Previous" style="font-size: unset; font-family: unset;">‹</span>
                        </button>
                        <button type="button" role="presentation" class="owl-next">
                            <span aria-label="Next" style="font-size: unset; font-family: unset;">›</span>
                        </button>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div>
                <p class="text_1">QUẢN LÝ VÀ VẬN HÀNH GIAN HÀNG</p>
                <div class="row">
                    <div class="col-md-4 col-12 smallBlock">
                        <p class="text_2">DỊCH VỤ TỐI ƯU VẬN HÀNH GIAN HÀNG</p>
                        <ul>
                            <li class="text_3" style="list-style: unset;">Tư vấn chiến lược thúc đẩy rõ ràng, chi tiết</li>
                            <li class="text_3" style="list-style: unset;">Đăng tải sản phẩm mới chuẩn SEO, nhưng vẫn giữ được tính thẩm mỹ cao</li>
                            <li class="text_3" style="list-style: unset;">Tối ưu lại sản phẩm cũ</li>
                            <li class="text_3" style="list-style: unset;">Trang trí, thiết kế gian hàng phù hợp với tập khách hàng</li>
                            <li class="text_3" style="list-style: unset;">Tặng 10 banner Lazada Live</li>
                            <li class="text_3" style="list-style: unset;">Setup quảng cáo một cách tối ưu nhất</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-12 smallBlock">
                        <p class="text_2">TỐI ƯU CÔNG CỤ QUẢNG CÁO</p>
                        <ul>
                            <li class="text_3" style="list-style: unset;">
                                <i class="boldText700">Kênh Marketing:</i> Tối ưu toàn bộ các công cụ quảng cáo miễn phí trong mục Kênh Marketing, khách hàng sẽ thấy thu hút hơn với các chương trình của bạn
                            </li>
                            <li class="text_3" style="list-style: unset;">
                                <i class="boldText700">Quảng cáo Lazada:</i> Xây dựng bộ từ khoá chuẩn, hướng đúng tập khách hàng, kết họp với việc tối ưu SEO gian hàng nhằm giảm thiểu chi phí nhưng vẫn tăng hiệu quả
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-12 smallBlock">
                        <p class="text_2">BỘ TỪ KHOÁ CHUẨN SEO CHI TIẾT</p>
                        <ul>
                            <li class="text_3" style="list-style: unset;">Từ khoá có tỷ lệ, lượt tìm kiếm cao trên Sàn đối với ngành hàng bạn đang kinh doanh</li>
                            <li class="text_3" style="list-style: unset;">Theo dõi liên tục thứ hạng, tỷ lệ, lượt tìm kiếm của từ khoá</li>
                            <li class="text_3" style="list-style: unset;">Giảm thiểu chi phí quảng cáo</li>
                        </ul>
                    </div>
                </div>
                <div class="btnRegister">
                    <a class="btnType_3 contactCallPopUp" contacttext="Gọi điện" data-target="#popupWhenClickContact" data-toggle="modal" data="phone" datahref="tel:0934014388" idgoogleget="btn_phone_id" target="_blank" title="Liên hệ">GỌI NGAY CHO CHÚNG TÔI</a>
                </div>
            </div>
        </div>
        <div class="section_5">
            <div class="container">
                <div class="tableBlockType1">
                    <p class="title">BẢNG GIÁ GÓI DỊCH VỤ VẬN HÀNH THƯƠNG MẠI ĐIỆN TỬ LAZADA</p>
                    <div class="wrapTable">
                        <div class="scrollMobiForTable">
                            <table class="tableTag">
                                <tbody>
                                <tr class="trTag tr1Tag">
                                    <td>Tên gói dịch vụ</td>
                                    <td colspan="2">Giá gói (theo tháng)</td>
                                    <td>Ưu đãi</td>
                                </tr>
                                <tr class="trTag tr2Tag">
                                    <td>Gói setup sàn thương mại điện tử Lazada</td>
                                    <td>8.000.000đ</td>
                                    <td>
                                        <p class="marBot_0 text_cent">Chi trả 1 lần</p>
                                        <p class="marBot_0 text_cent">Miễn phí đưa dưới 100 sản phẩm chuẩn SEO lên sàn</p>
                                    </td>
                                    <td>Miễn phí khi sử dụng dịch vụ vận hành sàn thương mại điện tử Lazada</td>
                                </tr>
                                <tr class="trTag tr2Tag">
                                    <td>Gói vận hành sàn thương mại điện tử Lazada</td>
                                    <td>6.000.000đ</td>
                                    <td>3% doanh thu sàn</td>
                                    <td>
                                        <p class="marBot_0 text_cent">Giảm 60% khi sử dụng dịch vụ SEO</p>
                                        <p class="marBot_0 text_cent">Giảm 12% khi sử dụng dịch vụ thiết kế website chuẩn SEO</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tableBlockType1">
                    <p class="title">BẢNG GIÁ COMBO DỊCH VỤ VẬN HÀNH SÀN LAZADA KẾT HỢP QUẢNG CÁO GOOGLE</p>
                    <div class="wrapTable">
                        <div class="scrollMobiForTable">
                            <table class="tableTag">
                                <tbody>
                                <tr class="trTag tr1Tag">
                                    <td>Tên gói dịch vụ</td>
                                    <td colspan="2">Giá gói (theo tháng)</td>
                                    <td>Ưu đãi</td>
                                </tr>
                                <tr class="trTag tr2Tag">
                                    <td>Gói combo kết hợp quảng cáo google shopping + vận hành TMDT Lazada</td>
                                    <td>8.000.000đ</td>
                                    <td>10% ngân sách quảng cáo</td>
                                    <td>
                                        <p class="marBot_0 text_cent">Giảm 50% khi sử dụng dịch vụ SEO</p>
                                        <p class="marBot_0 text_cent">Giảm 12% khi sử dụng dịch vụ thiết kế website chuẩn SEO</p>
                                    </td>
                                </tr>
                                <tr class="trTag tr2Tag">
                                    <td>Gói combo số hóa doanh nghiệp (SEO cam kết top từ khóa + chạy quảng cáo google + vận hành TMDT Lazada)</td>
                                    <td>22.000.000đ</td>
                                    <td>10% ngân sách quảng cáo</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "../share/magazineBlock.html" %}
        {% include "../share/5buoc.html" %}
        <div class="specialBlock_9">
            <div class="row rowFix">
                <div class="imgBlock figure2">
                    <p style="text-align:center;">
                        <img alt="quang_cao_google" class="unWrapCenter" src="./assets/img/img_71.jpg">
                    </p>
                </div>
                <div class="textBlock">
                    <div class="titleBlock_2">
                        <p class="text_1">LÍ DO BẠN CHỌN</p>
                        <p class="text_2">FAGO AGENCY ĐỂ ĐỒNG HÀNH</p>
                    </div>
                    <div class="flexWrap">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="" class="unWrapCenter" src="./assets/img/item_22.svg">
                            </p>
                        </div>
                        <p class="text_3">Thái độ làm việc nghiêm túc, tận tâm</p>
                    </div>
                    <div class="flexWrap">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="" class="unWrapCenter" src="./assets/img/item_23.svg">
                            </p>
                        </div>
                        <p class="text_3">Được tư vấn, định hướng kế hoạch phát triển gian hàng</p>
                    </div>
                    <div class="flexWrap">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="" class="unWrapCenter" src="./assets/img/item_24.svg">
                            </p>
                        </div>
                        <p class="text_3">Xây dựng bộ từ khoá Quảng cáo hoàn chỉnh, chi tiết</p>
                    </div>
                    <div class="flexWrap">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="" class="unWrapCenter" src="./assets/img/item_25.svg">
                            </p>
                        </div>
                        <p class="text_3">Lượng traffic truy cập tăng cao</p>
                    </div>
                    <div class="flexWrap">
                        <div class="imgPart">
                            <p style="text-align:center;">
                                <img alt="" class="unWrapCenter" src="./assets/img/item_26.svg">
                            </p>
                        </div>
                        <p class="text_3">Báo cáo các chỉ số thường xuyên, rõ ràng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../share/staffTeamBlock.html" %}
    {% include "../share/galleryBlock.html" %}
</div>